{% extends "base.html" %}
{% block subtitle %} Exam {% endblock %}
{% block main_content %}
<div class="gcb-aux gcb-cols">
  <div class="gcb-col-1"></div>
  <div class="gcb-aside gcb-col-9">
    <center>
      <h1>Stop!</h1>
      <h2>Before you take the exam!</h2>
    </center>
    <div style="font-size: 125%; margin: 2em;">
      <p>You are about to take the {{ assessment_title|safe }}.  Please keep these things in mind:</p>

      <ul>
        <li>You will have THREE hours in which to take this exam.</li>

        <li>You may NOT enter the exam, save your work, and return later. (That
        is, if you click to begin, you should be prepared to take the exam
        now).</li>

        <li>You may take the exam TWICE within the three hours.</li>

        <li>You will see your score immediately after you take the exam.</li>

        <li>You must score an 80% or higher, and complete your wikifolio, in
        order to earn the badge for this section of the course.</li>

        <li>The HIGHEST score will be recorded.</li>

        <li>Yes, this is an open book exam.</li>

        <li>The exam software DOES NOT WORK with Internet Explorer 7 or
        earlier.  <a
          href="http://windows.microsoft.com/en-us/internet-explorer/which-version-am-i-using"
          target="_blank">You can check what version you're using here.</a>
        If you don't have access to any other browser, or if you have other
        trouble, contact us at the e-mail address below.</li>
      </ul>

      <p>Please be sure you are ready to take the exam prior to opening the
      exam. <u>Once you open the exam, you will have three hours in which to take
      it.</u> Within those three hours, you may submit the exam two times. You may
      not save your work now and return to the exam later.</p>
    </div>

    <center>
      <h2>Good Luck!</h2>
      <div>
        <form action="{{ form_action }}" method="POST">
          <input type="hidden" name="xsrf_token" value="{{ xsrf_token }}">
          <input type="submit" value="Start the exam!" class="gcb-button">
        </form>
      </div>
    </center>
  </div>
</div>

{% endblock %}
