{% extends 'badge_base.html' %}
{% block content %}
<table border="1">
  {% for item in items %}
  <tr>
    <td>{{ item }}</td>
    {% for action in actions %}
    <td>
      <a href="{{ action_url(action, name=item.key().id_or_name()) }}">{{ action }}</a>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<div>
  <form action="{{ action_url('edit', name='') }}" method="GET">
    <input type="hidden" name="action" value="edit">
    Create: <input name="name">
    <br>
    <input type="submit" value="Create">
  </form>
</div>
{% endblock %}
