{% macro profile(badge, assertion, assertion_link) -%}
<div class="part-badge-image">
  <div class="profile-badge-info">
    <img src="{{ badge.image }}" {% if not assertion %}class="not-issued"{% endif %}>
  </div>
</div>
<div class="badge-share-links">
  {% if assertion %}
  <div class="issue-link">
    <a href="javascript:OpenBadges.issue(['{{ assertion_link(assertion)|escapejs }}'], function(err, ok) {});">Click here to claim your badge!</a>
  </div>
  {% if assertion.evidence %}
  <div>
    <a href="{{ assertion.evidence }}">View badge evidence</a>
  </div>
  {% endif %}
  {% else %}
  <div class="not-earned">(You have not earned this badge yet)</div>
  {% endif %}
</div>
{%- endmacro %}
{% macro evidence(badge, assertion) -%}
<div class="part-badge-image">
  <div class="profile-badge-info">
    <img src="{{ badge.image }}" {% if not assertion %}class="not-issued"{% endif %}>
  </div>
</div>
<div class="badge-share-links">
</div>
{%- endmacro %}
