{% macro profile(badge, assertion, assertion_link) -%}
<div class="profile-badge-info">
  {% if assertion.evidence %}
  <a href="{{ assertion.evidence }}">
    {% endif %}
    <img src="{{ badge.image }}" {% if not assertion %}class="not-issued"{% endif %}>
    {% if assertion.evidence %}
  </a>
  {% endif %}
</div>
{% if assertion.evidence %}
<div class="share-button">
  See your <a id="view-evidence" href="{{ assertion.evidence }}">Evidence page</a> for this badge.
</div>
{% endif %}
{%- endmacro %}
{% macro evidence(badge, assertion) -%}
<div class="part-badge-image">
  <div class="profile-badge-info">
    <img src="{{ badge.image }}" {% if not assertion %}class="not-issued"{% endif %}>
  </div>
</div>
<div class="badge-share-links">
</div>
{%- endmacro %}
