{% extends 'base.html' %}

{% block subtitle %}
BOOC Tools
{% endblock %}
{% block main_content %}
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">
      <center><h2>Current student count: {{ student_count }}</h2></center>
      <h3><a href="/comment_stream">Most recent 100 comments</a></h3>
      <h3><a href="/updates">Most recent 50 wiki edits (public)</a></h3>
      <h3>All students CSV file is now in "Other tables..." here:</h3>
      <h3><a href="/analytics">Other tables and CSV files</a></h3>
      <h3><a href="/badges/issuer"><FONT COLOR="#FF0000">B</FONT><FONT COLOR="#FF4900">a</FONT><FONT COLOR="#FF9200">d</FONT><FONT COLOR="#FFDB00">g</FONT><FONT COLOR="#FFff00">e</FONT><FONT COLOR="#B6ff00"> </FONT><FONT COLOR="#6Dff00">i</FONT><FONT COLOR="#24ff00">s</FONT><FONT COLOR="#00ff00">s</FONT><FONT COLOR="#00ff49">u</FONT><FONT COLOR="#00ff92">a</FONT><FONT COLOR="#00ffDB">n</FONT><FONT COLOR="#00ffff">c</FONT><FONT COLOR="#00DBff">e</FONT><FONT COLOR="#0092ff"> </FONT><FONT COLOR="#0049ff">s</FONT><FONT COLOR="#0000ff">y</FONT><FONT COLOR="#2400ff">s</FONT><FONT COLOR="#6D00ff">t</FONT><FONT COLOR="#B600ff">e</FONT><FONT COLOR="#FF00ff">m</FONT></a></h3>
      <p>As an admin, you can see people's e-mail addresses in comments, participant lists, etc.  Lucky you!</p>
    </div>
  </div>
</div>
{% endblock %}
