{% extends 'base.html' %}

{% block main_content %}
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">
      <center><h2>Current student count: {{ student_count }}</h2></center>
      <h3><a href="/student_csv">All students CSV file (includes pre-registered)</a></h3>
      <h3><a href="/comment_stream">Most recent 100 comments</a></h3>
      <h3><a href="/updates">Most recent 50 wiki edits (public)</a></h3>
      <h3><a href="/analytics">Other tables and CSV files</a></h3>
      <p>As an admin, you can see people's e-mail addresses in comments, participant lists, etc.  Lucky you!</p>
    </div>
  </div>
</div>
{% endblock %}
