<div class="gcb-cols">
  <div class="gcb-col-11 gcb-aside">
    <ol>
      {% for comment in comments %}
      <li><b><a name="comment-{{ comment.key().id() }}" href="wikiprofile?student={{comment.author.wiki_id}}">{{comment.author.name}}</a></b> said:
      <br>{{ comment.text | safe }}
      <br><span class="comment-actions">
        <a href="wikicomment?comment_id={{ comment.key().id() }}">edit</a>
        <a href="{{ action_url('view') }}#comment-{{ comment.key().id() }}">permalink</a>
      </span>
      </li>
      {% else %}
      <li><em>No comments yet.</em></li>
      {% endfor %}
    </ol>

    {% if can_comment %}
    <form action="{{ action_url('comment') }}" method="POST">
      <fieldset>
        <legend>Comment</legend>
        <small>Press ALT+0 for help with keyboard shortcuts and accessibility.</small><br>
        <textarea name="text" id="comment_editor" rows="10" cols="50"></textarea>
        <p>
        <input type="hidden" name="xsrf_token" value="{{ create_xsrf_token('comment') }}">
        <input type="submit" class="gcb-button" value="Comment">
      </fieldset>
    </form>
    <script src="/assets/ckeditor/ckeditor.js"></script>
    <script>
      CKEDITOR.replace('comment_editor', {
        allowedContent: '{{ ckeditor_comment_content }}',
        removePlugins: 'pastefromword,undo,image,magicline,format',
      });
    </script>
    {% endif %}

  </div>
</div>
