{% extends 'base_registration.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}

  <div class="gcb-cols">
    <div class="gcb-col-1">
    </div>

    <div class="gcb-col-7 gcb-aside gcb-button-box">
      {% if course_status == "full" %}
        <p class="gcb-top-content">
          {# I18N: Message shown to the student immediately after registration. #}
          {{ gettext('Thank you for registering for %(course_title)s. Unfortunately, the course is now full, so registration has closed.', course_title=course_info.course.title) }}
        </p>

      {% else %}
        <div class="gcb-top-content">
          <p>Thank you for completing Pre-Registration for the BOOC:
          <br><strong>Educational Assessment: Practices, Principles and
            Policies.</strong></p>

          <p>Pre-Registration does not guarantee a place in the course.<br>You
          must still complete Official Registration.</p>

          <p>You will receive a reminder e-mail when Official Registration
          opens on August 26, 2013.<br>The course will begin on September 9,
          2013.</p>

          <p><a href="/course" class="gcb-button">Go to Course Material!</a></p>
        </div>

        <div style="text-align:left;">
          <ul>
            {% if course_info.course.forum_url %}
              <li>
                {# I18N: Welcome text shown to the student after he/she registers for a course. It is followed immediately by a URL. #}
                {{ gettext('To participate in community discussions about this course, register for the web forum at ') }}
                <a href="{{course_info.course.forum_url}}">
                  {{course_info.course.forum_url}}
                </a>.
                {# I18N: Instructions for joining a Google Group. #}
                {% trans %} On that page, click on <b>Join Group</b>. {% endtrans %}
              </li>
            {% endif %}

            {% if course_info.course.announcement_list_url %}
              <li>
                {# I18N: Welcome text shown to the student after he/she registers for a course. It is followed immediately by a URL. #}
                {{ gettext('To receive announcements about this course, register for the announcements-only email list at ')}}
                <a href="{{course_info.course.announcement_list_url}}">
                  {{course_info.course.announcement_list_url}}
                </a>.
                {# I18N: Instructions for joining a Google Group. #}
                {% trans %} On that page, click on <b>Join Group</b>. In the dialog box that appears, under <b>How do you want to read this group?</b>, choose <b>Email</b>. {% endtrans %}
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

    </div>
  </div>
{% endblock %}
