{% extends 'base_registration.html' %}

{% block top_content %}
<style>
  div#confirm-why {
    margin-bottom: -20px;
    font-size: 80%;
  }

  ul.errors {
    border: solid thin #c33;
    background-color: #fcc;
  }
  table {
    border-collapse: collapse;
  }
</style>

{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      <h1>Confirm your Registration</h1>

      <div id="confirm-explain">
        You're almost done!  Please let us know the following information, and you will
        be completely registered!
      </div>

      {% if form.errors %}
      <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
      </ul>
      {% endif %}
      <form method="POST" action="confirm">
        <input type="hidden" name="xsrf_token" value="{{ xsrf_token }}">
        {{ form.page }}

        <div>What will be your participation level in this course?
        <table>
          {% for level in form.participation_level %}
          <tr>
            <td>{{ level }}</td>
            <td>{{ level.label }}</td>
          </tr>
          {% endfor %}
        </table>
        </div>

        <div>{{ form.accept_terms }}
          Do you accept the <a href="assets/content/terms_of_use.html">Terms of Use?</a>
        </div>

        <div>
          All done!  By pressing Confirm, you reserve a place for yourself in this course!<br>
          <input class="gcb-button" type="submit" value="Confirm">
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
