{% extends 'base_registration.html' %}

{% block top_content %}
<style>
  div#confirm-why {
    margin-bottom: -20px;
  }
</style>

{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      {% if is_redirect %}
      <div id="confirm-why">Before you can use that page, you need to</div>
      {% endif %}
      <h1>Confirm your Registration</h1>
      {% if form.errors %}
      <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
      </ul>
      {% endif %}
      <form method="POST" action="confirm">
        <label>{{ form.curricular_aim.label }}:<br>{{ form.curricular_aim(class="ckeditor") }}</label>

        <input type="hidden" name="xsrf_token" value="{{ xsrf_token }}">

        <input type="submit" value="Confirm ur regi">
      </form>
    </div>
  </div>
</div>

{% endblock %}
