{% extends 'base_registration.html' %}

{% block top_content %}
<style>
  div#confirm-why {
    margin-bottom: -20px;
    font-size: 80%;
  }

  ul.errors {
    border: solid thin #c33;
    background-color: #fcc;
  }
  table {
    border-collapse: collapse;
  }
  div.reg-form {
    border: solid thin #aaa;
    margin: 10px;
    padding: 10px;
  }

  div.reg-form div {
    margin-bottom: 10px;
    padding: 5px;
  }
  form ul, form li {
    list-style-type: none;
  }
  .reg-form td, .reg-form th {
    vertical-align: middle;
  }
</style>

{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      <h1>Confirmation Page <small>(3 of 3)</small></h1>

      {% if form.errors %}
      <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
      </ul>
      {% endif %}
      <div class="reg-form">
        <form method="POST" action="confirm">
          <input type="hidden" name="xsrf_token" value="{{ xsrf_token }}">
          {{ form.page }}

          <div>There are several participation levels available for this course.  You will need to choose one.</div>

          {% set levels = list(form.participation_level) %}
          <table>
            <tr>
              <th>Level</th>
              <th>Cost</th>
              <th>Hours per Week</th>
              <th>Award for Completion</th>
            </tr>
            <tr>
              <td><label>{{ levels[0] }}&nbsp;Badges</label></td>
              <td>FREE</td>
              <td>3 hours</td>
              <td>Digital Badges awarded via Mozilla OBI</td>
            </tr>
            <tr>
              <td style="white-space:nowrap;"><label>{{ levels[1] }}&nbsp;Instructor&nbsp;Certified</label></td>
              <td><strike>$75 audit fee</strike><br>FREE for Fall 2013</td>
              <td>3-5 hours</td>
              <td>Digital Badges &amp; Signed Certificate of completion claiming 30 hours of coursework</td>
            </tr>
            <tr>
              <td><label>{{ levels[2] }}&nbsp;For-Credit*</label></td>
              <td>Tuition for credit hours</td>
              <td>10 hours</td>
              <td>Digital Badges and University Credit on Transcript (claiming 45 hours of coursework)</td>
            </tr>
            </table>
            
            <div>*To enroll for credit you will have to complete enrollment for
              "P507 : Assessment in Schools," please <a
                href="http://iuconnected.iu.edu/TakeabrnbspnbspCourse.aspx"
                target="_blank"> visit IU ConnectED here</a> (click on Fall
              2013 on the right).</div>

          <div>
            To take this course, it's suggested that you purchase or rent the book
            <i>Classroom Assessment: What Teachers Need to Know</i>.
            Will you be purchasing a book?  If so, what format?<br>
            {{ form.book_option }}
          </div>
          <div class="book_option_other">
            If you selected "No Book," how will you research course concepts?<br>
            {{ form.book_other }}
          </div>

          <div>
            <label>{{ form.accept_terms }}
              Do you accept the <a href="assets/content/terms_of_use.html"
                target="_blank">Terms of Use?</a> (required)</label><br>
            <label>{{ form.accept_location }}
              Can your location (only State and Country) be displayed and used
              to place you in a networking group? (recommended)</label>
          </div>

          <div align="right">
            <input class="gcb-button" type="submit" value="Complete Registration">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
