{% extends 'base.html' %}
{% block extrahead %}
{% if not result.is_finished %}
<meta http-equiv="refresh" content="4">
{% endif %}
{% endblock %}

{% block subtitle %}
{% if not result.is_finished %}
Working
{% else %}
Finished!
{% endif %}
{% endblock %}

{% block main_content %}
<div class="gcb-aside">
  {% if result.is_started %}
  <h2>{{ result.query_name }}</h2>
  {% endif %}
  
  {% if not result.is_finished %}
  Please wait while your query runs...<br>
  If you want, you can switch away from this tab, and wait until the title changes to Finished.
  {% endif %}

  <div>
    Finished?  {{ result.is_finished }}<br>
    Batches done?  {{ result.batch_count }}
  </div>
  <div>
    {% for text, link in continue_links.iteritems() %}
    <b><a href="{{ link }}">{{ text }}</a></b><br>
    {% endfor %}
  </div>
</div>
{% endblock %}
