{% extends 'base.html' %}

{% from 'exit_survey_macros.html' import required_mark, field_label_and_errors, likert_input, likert_row, likert_header %}

{% block main_content %}
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">
      <h2>Course Features Survey (last page!)</h2>
      <form action="{{ post_url }}" method="POST">
        Each field is optional, but we really appreciate your feedback!  You're helping to make our next course better!
        <input type="hidden" name="xsrf_token" value="{{ xsrf_token }}">
        <div class="likert">
          <table class="survey" style="width: 100%">
            {% for field in form %}
            {% if loop.index0 % 7 == 0 %}
            {{ likert_header() }}
            {% endif %}
            {{ likert_row(field) }}
            {% endfor %}

          </table>
        </div>
        <input type="submit">
      </form>
    </div>
  </div>
</div>
{% endblock %}

