{% extends 'base.html' %}
{% block subtitle %}Exit Survey{% endblock %}

{% block main_content %}
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">
      <h2>Educational Assessment BOOC Exit Survey</h2>

      <div class="gcb-top-content" style="margin-top: 10px;">
        Thank you for your participation!
      </div>

      <div class="gcb-top-content" style="margin-top: 10px;">
        Please give a few minutes of your time to complete our exit survey.  There
        are three short pages of required questions, and one page of optional
        questions.
      </div>

      <div class="gcb-top-content" style="margin-top: 10px;">
        This survey is a requirement for receiving the <b>Assessment Expert</b>
        badge for this course.  The other requirements are receiving all
        three Assessment Expertise Badges (Practices, Principles, &amp; Policies)
        and you completing the Final Exam.</div>

      <div class="gcb-top-content" style="margin-top: 10px;">
        Thanks again from Team BOOC!
        <br>
        Dan, Tara, Thomas, Garrett, Retno, &amp; Cindy
      </div>

      <div class="gcb-top-content" style="margin-top: 10px;">
        <a class="gcb-button" href="survey1">Begin Survey &rarr;</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

