{% extends 'base.html' %}

{% from 'exit_survey_macros.html' import required_mark, field_label_and_errors, likert_input, likert_row, likert_header %}

{% block main_content %}
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">
      <h2>Exit Survey (page 2 of 3)</h2>
      <form action="{{ post_url }}" method="POST">
        Required fields are marked with {{ required_mark() }}
        <input type="hidden" name="xsrf_token" value="{{ xsrf_token }}">
        <div class="likert">
          <table class="survey" style="width: 100%">
            {{ likert_header() }}
            {% for field in form %}
            {{ likert_row(field) }}
            {% endfor %}

          </table>
        </div>
        <input type="submit">
      </form>
    </div>
  </div>
</div>
{% endblock %}

