{% extends 'base_faq.html' %}



{% block main_content %}

   <BR />
    <h1 class="class_header">
      FAQ
    </h1>
    <h2><strong>eMail and Username FAQs</strong></h2>
    <div><strong>
    </strong></div>
    <div><strong>Q.  Why is it such a pain to get everybody signed up?</strong></div>
    <div>A:  Four reasons. First, users have to be added to <em>both </em>the Google Site and the Google Group.  The second reason is that they have to be added with either a Gmail address or another address that has been linked to a Google account (see the next question).  The third reason that so many people have multiple email addresses. After this semester we will be able to use Google Coursebuilder which will greatly simplify things.  Fortunately, this is the only really big pain.  Hopefully it mostly a pain for the instructor and just an annoyance for just some of the students.</div>
    <div>
      <div><strong><br />
      </strong></div>
      <div><strong>Q: I have more than one email address.  Which one should I use to log on?</strong></div>
      <div>A: Whatever address you use, it must be linked to a Google account.  Most @umail.iu.edu accounts are linked, while many @exchange.iu.edu are not. Any email address can be linked to an account.  Go to www.google.com and click the red <em>SIGN IN </em>(you may need to log out first).  Then click the red <em>SIGN UP </em>.  Under <em>Choose your username </em>click <em>I prefer to use my current email address.  </em>The name you provide is the name that will show in the site.  If you want your picture to show with your name, just include it in your profile.  </div>
      <div><br />
      </div>
      <div><strong>Q: Can I put a different email address on my home page for class messages?</strong></div>
      <div>This is up to you.  But if you have more than one address then you probably know how complicated this can get.  Your best bet is to use the same email for logging and for messages that you normally use for email.  But if you don't wish to get class messages sent to a work address, you might use different ones.  Note that nearly every email system allows you to forward messages to another address.</div>
      <div><br />
      </div>
      <div><strong>Q: Can I put two email addresses on my hope page for class messages?</strong></div>
      <div>A: Yes you may.  The instructor starts out with two or more email addresses for most students. Starting on week two, the email list will be based entirely on the names students include on their home page.</div>
      <div><br />
      </div>
      <div>
        <h2><strong>Deadline FAQs</strong></h2>
      </div>
      <div><strong>
      </strong></div>
      <div><strong>Q:  I live in a different time zone.  Are my assignments still due at 8 PM EST?</strong></div>
      <div>A:  Yes, the deadline and its enforcement is intended to foster a critical mass of interaction leading up to and just after the weekly deadline.  As students will discover when the post after the deadline  late posts are often ignored by others.  Plus the instructor needs to be able come in just after the deadline, make comments, note any students who have missed the deadline.   </div>
      <div><br />
      </div>
      <div><strong>Q: Saturday/Sunday is the day I spend with my family and attend worship.  Why don't you make the deadline during the week?</strong></div>
      <div>A: Many students who take online courses work full time and to many of them do their school work on the weekends.  Polls of student in this and other similar courses have consistent shown that most students prefer the Sunday deadline.  If the deadline is a conflict for you, you will need to plan ahead.</div>
      <div><strong><br />
      </strong></div>
      <div><strong>Q:  I am a full time teacher taking two online courses but the school year does not end for several week.  How can I best not get behind?</strong></div>
      <div><strong>Q:  My son is going to need surgery in the next couple month but I don't know exactly when. What should I do?</strong></div>
      <div>A:  The important thing when you find yourself overwhelmed is to use your time efficiently.  Use the assignment to help your make sense of the big ideas of the chapter.  Make sure you connect those ideas to your goal context when you draft your wikifolio.  If you are really pressed for time, do the minimum and read wikis of the classmates whose contexts are most familiar to you well enough to participate in the discussion in the comments.</div>
      <div><br />
      </div>
      <div><strong>Q.  My brother is getting married on week six and I will be away.  What should I do?</strong></div>
      <div>A:  Plan ahead.  All of the assignments for the remainder of the class will be posted soon; The first couple of weeks are being used to make sure that the translation from OnCourse to Google is smooth.</div>
      <div><br />
      </div>
      <div>
        <h2><strong>Networking and Interaction FAQs</strong></h2>
      </div>
      <div><strong>
      </strong></div>
      <div><strong>Q:  What are the &quot;professional networking groups&quot; mentioned in the overview and what group will I be in?</strong></div>
      <div>A:  Once students have introduced themselves and completed the first graded assignment, the instructor will organize the students into groups of 4-6 students.    In order to learn to discuss course ideas with <em>and</em>between groups, the subsequent instructions will ask student to comment on most or all of the posts in their group and a few posts.  </div>
      <div><br />
      </div>
      <div><strong>Q:  What will be used to structure the professional networking groups?</strong></div>
      <div>A: In past years these groups have been based on disciplinary area (math, science, writing etc.).  Within those groups there are usually students who are serving or preparing to serve different roles (teacher, instructional designer, administrator, researcher, etc).  In classes where there are more administrators and researchers (who may not focus on a particular academic discipline), the primary groups are likely to be established around roles.  Either way, secondary groups should emerge as students begin developing a professional identity around both a role and a particular discipline.</div>
      <div><br />
      </div>
      <div><strong>Q: I can access the site but the discussion forum does not seem to work.  What should I do?</strong></div>
      <div>A:  The discussion forum is actually a separate group from the class site.  I have added everyone to both with all of the addresses I had for them.  But if you are using a different address you need to send the instructor and email with the same Gmail-associated address that you use to access the course site.</div>
      <div><br />
      </div>
      <div>
        <div><strong>Q: Who is dtaloysius02 who sometimes answers questions and post comments?</strong></div>
        <div>A:  That is the username that the instructor uses when he is testing out features from the student role.  </div>
      </div>
      <div><br />
      </div>
      <div><strong>Q: I am having trouble keeping up with who has worked on what at the site.  Any suggestions?</strong></div>
      <div>A: At the bottom of the home page is a link to <em>Recent Site Activity.  </em>You can scan it and see who has been doing what and where.  You might start there.</div>
      <div><br />
      </div>
      <div>
        <h2><strong>Assignment FAQs</strong></h2>
      </div>
      <div><strong>
      </strong></div>
      <div><strong>Q:  I am a little confused about the what lesson and standard to select in the first assignment.  What happens if I select the wrong one?</strong></div>
      <div>A:  This is just a context for you to use to make sense of the more complex ideas in each chapter.  The most important things is that it be meaningful to you.  This will help you use it to anchor the abstract ideas and guidelines the chapters.  The second most important thing is that the lesson be amenable to multiple assessment formats.  In the assignments where this matters you actually will be able to change lessons if this is a problem.</div>
      <div><strong><br />
      </strong></div>
      <div><strong>Q: How long should I expect to spend on assignments each week?</strong></div>
      <div>
        <div>A: Technically, the university assume that a 3-unit 12-week course assumes you spend 15 hours per week on class on average.  This is because a regular 15 week class is supposed to consist of 3 hours of class and 9 hours of homework, which is 12 hours a week, or 48 hours per week for a full time four course load.  I am aiming for <strong>no more </strong>than 12 hours per week.  If this content is all new to you and you want to be certain you get an A, you should try to find at least 12 hours per week.  If you have experience and/or you are willing to chance getting a B (by bombing the exams), you can probably get away with less.  See the next question.</div>
      </div>
      <div><br />
      </div>
      <div><strong>Q: What is the deal with <em>relevance </em>and why do we rank the relevance of things like this?</strong></div>
      <div>A.  This course uses the notion of relevance to provide a basis for understanding and discussing ideas and make them more concrete. The question of relevance is intended to strongly connect the guidelines to your specific context so you also understand them more generally. One thing that makes a guideline particularly relevant to YOU is that it changes your practice in productive ways. Some of the guidelines may seem highly relevant because they are so obvious (like avoiding opaque directions). That is broadly relevant but probably won&rsquo;t lead you to do anything different in the future.  The things that are most relevant to you are the things that will have the most consequences in your practice (as in your the first reflection question).</div>
      <div><br />
      </div>
      <div><strong>Q.  Are we required to do the self-checks?</strong></div>
      <div>A.  You are not required to but you are strongly advised to.   After you complete the unit, but before the exam, you are encouraged to complete the self-check.  If you can&rsquo;t answer the item you should go back and review that part of the chapter. There will be similar items on exam, but you won&rsquo;t have time to look up the answer.</div>
      <div><br />
      </div>
      <div><strong>Q:  What about the Pondertime Questions at the back of the chapter?</strong></div>
      <div>Those are great questions and after you complete the unit you should be able discuss them thoughtfully.  Some of the questions are directly or indirectly asked in the context of the assignments</div>
      <div><br />
      </div>
      <div>
        <h2><strong>Grading FAQs</strong></h2>
      </div>
      <div>
      </div>
      <div><strong>Q: When and how will we see our grades?</strong></div>
      <div>A:  After each Sunday 8PM EST deadline (one week after the deadline for posting the draft) for completed wikifolios (i.e., include coherent reflections), students will be informed individually if the did NOT receive the full five points for that week.  Most of you should receive full points.  After each of the three quizzes (15 points each) students will be individually notified as to their points on the quiz and their total points so far.</div>
      <div><strong><br />
      </strong></div>
      <div><strong>Q: I am a little confused about the reflections.  Why are they so important?</strong></div>
      <div>A:  The whole point of these assignments is fostering <em>disciplinary </em>engagement.  We are learning about the discipline of educational assessment, as embodied by the big ideas in textbook. The assignments are designed to help you connect the big ideas in the chapter with your past experiences and future practices; discussing those connections with your classmates is a very productive form of disciplinary engagement.  Reflecting on that engagement  &quot;locks in&quot; that knowledge and provides objective evidence of disciplinary engagement.</div>
      <div><br />
      </div>
      <div><strong>Q: What do you mean when you say you only grade the reflections?  What happens if somebody posts the reflections only?</strong></div>
      <div>A:  Your reflections have to <em>meaningful and coherent </em> to get full points for the wikifolio.  You cannot write a meaningful reflection on an assignment that was not completed.  So no, you won't get the points.  This &quot;indirect&quot; form of grading is intended to protect the interaction around the wikifolios from the corrosive effects of grading.  This way the instructor spends less time arguing with students over points and giving feedback that is not very useful for learning, and more time giving feedback while the learning is taking place.</div>
      <div><br />
      </div>
      <div><strong>Q: How many comments do we have to make each week?  Will somebody still get their points if they don't make any comments?</strong></div>
      <div>A: As with the previous question, you can't post a meaningful and coherent reflection on collaboration that did not occur.  Try not to be the student demonstrates how this is so.  Instead try to be the student who gets singled out by name by multiple students for making helpful comments and providing great examples.  The collaboration reflection is intended to motivate students to interact intensively with their classmates in useful and substantive ways.  Requiring specific numbers of comments encourages students to comment when they don't actually have anything to say.  That makes for boring and useless thread.  </div>
      <div><br />
      </div>
      <div><strong>Q:  I heard that the instructor might award web-enabled digital badges for each section of the course.  Is this going to happen?</strong></div>
      <div>A:  Possibly but only if some bugs can be worked out with the Google Gadget for issuing badges.  </div>
    </div>
    <p>&nbsp;</p>
 
 
    {{course_info.preview.after_main_content_ends | safe}}
{% endblock %}
