{% import 'unit_report.html' as unit_report %}
{% import 'badge_views.html' as badge_views %}
{% import 'share_buttons.html' as share_buttons %}

{% macro profile_view(part, assertion_link) %}
<div id="{{ part.slug }}" class="part-report clearfix">
  <div class="scores">
    <div class="timestamp">As of {{ part.timestamp.strftime('%Y-%m-%d at %H:%M UTC:') }}</div>
    {% for report in part.unit_reports %}
    {{ unit_report.unit_report(report) }}
    {% endfor %}
    {% for exam in part.assessment_scores %}
    <div class="assessment-title">{{ exam.title|striptags }} <span class="status"> -
        {% if exam.did_pass %}<span class="complete">Complete!</span>
        {% elif exam.completed %}Submitted
        {% else %}Not submitted
        {% endif %}
    </span></div>
    <div class="assessment-stats">
      {{ exam.score }} out of 100, {{ exam.passing_score }} required to pass
    </div>
    {% endfor %}
  </div>

  <div class="part-badge-image">
    {% if part.badge %}
    {{ badge_views.profile(part.badge, part.badge_assertion, assertion_link) }}
    {% else %}
    <!-- (There's no badge set up for this part yet - it should have key_name {{ part.slug }}) -->
    {% endif %}
  </div>
  <div class="badge-share-links">
    {% set assertion = part.badge_assertion %}
    {% if assertion %}
    {% set badge_name = part.badge.key().name() %}
    <div class="issue-link share-button">
      <a id="obi-issue:{{ badge_name }}" href="javascript:OpenBadges.issue(['{{ assertion_link(assertion)|escapejs }}'], function(err, ok) {});">
        <img src="/assets/img/share/mozillaopenbadges.png" alt="Mozilla Open Badges" title="Mozilla Open Badges">
        Claim on Mozilla Badge Backpack</a>
    </div>
    {% if assertion.evidence %}
    {{ share_buttons.email(assertion.evidence, badge_name) }}
    {{ share_buttons.facebook(assertion.evidence, badge_name) }}
    {{ share_buttons.twitter(assertion.evidence, badge_name) }}
    {{ share_buttons.gplus(assertion.evidence, badge_name) }}
    <div class="settings share-button">
      <a id="settings:{{ badge_name }}" href="{{ assertion.evidence }}&amp;action=settings">
        <img src="/assets/img/share/settings.png" alt="Edit Settings">
        Badge Settings</a>
    </div>
    {% endif %}
    {% else %}
    <div class="not-earned">(You have not earned this badge yet)</div>
    {% endif %}
  </div>
</div>
{% endmacro %}


{% macro evidence_view(part, evidence_link, unit_title) %}
<div class="part-report clearfix">
  <div class="scores">
    <div class="timestamp">As of {{ part.timestamp.strftime('%Y-%m-%d at %H:%M UTC:') }}</div>
    {% for report in part.unit_reports %}
    {{ unit_report.evidence_unit_report(report, evidence_link, unit_title) }}
    {% endfor %}
    {% if part.exam_display != 'blank' %}
    {% for exam in part.assessment_scores %}
    <div class="assessment-title">{{ exam.title|striptags }} <span class="status"> -
        {% if exam.did_pass %}<span class="complete">Complete!</span>
        {% elif exam.completed %}Submitted
        {% else %}Not submitted
        {% endif %}
    </span></div>
    <div class="assessment-stats">
      {% if part.exam_display == 'scored' %}
      {%   if exam.did_pass %}
      Passed the exam, scoring {{ exam.score }} out of 100%.
      {%   else %}
      Did not pass the exam, scoring {{ exam.score }} out of 100%.
      {%   endif %}

      {% elif part.exam_display == 'passed' %}
      {%   if exam.did_pass %}
      Passed the exam, with at least
      {%   else %}
      Did not pass the exam, needed
      {%   endif %}
      {{ exam.passing_score }} out of 100%.

      {% endif %}
    </div>
    {% endfor %}
    {% endif %}
  </div>
  {% if part.badge %}
  {{ badge_views.evidence(part.badge, part.badge_assertion) }}
  {% else %}
  <!-- (There's no badge set up for this part yet - it should have key_name {{ part.slug }}) -->
  {% endif %}
</div>
{% endmacro %}
