{% import 'unit_report.html' as unit_report %}
{% import 'badge_views.html' as badge_views %}

{% macro profile_view(part, assertion_link) %}
<div class="part-report clearfix">
  <div class="scores">
    <div class="timestamp">As of {{ part.timestamp.strftime('%Y-%m-%d at %H:%M UTC:') }}</div>
    {% for report in part.unit_reports %}
    {{ unit_report.unit_report(report) }}
    {% endfor %}
    {% for exam in part.assessment_scores %}
    <div class="assessment-title">{{ exam.title|striptags }} <span class="status"> -
        {% if exam.did_pass %}<span class="complete">Complete!</span>
        {% elif exam.completed %}Submitted
        {% else %}Not submitted
        {% endif %}
    </span></div>
    <div class="assessment-stats">
      {{ exam.score }} out of 100, {{ exam.passing_score }} required to pass
    </div>
    {% endfor %}
  </div>
  {% if part.badge %}
  {{ badge_views.profile(part.badge, part.badge_assertion, assertion_link) }}
  {% else %}
  <!-- (There's no badge set up for this part yet - it should have key_name {{ part.slug }}) -->
  {% endif %}
</div>
{% endmacro %}

{% macro evidence_view(part, student, evidence_link, unit_title) %}
<h1>{{ part.badge.name }}</h1>
<div>
  {{ student.name }} earned this badge by participating in the <a
    href="https://booc-iu.appspot.com/">Educational Assessment BOOC</a>.
</div>
<h2>Criteria for issuance</h2>
<div>{{ part.badge.criteria|safe }}</div>
<h2>Evidence</h2>
<div>
  To see their work, follow the links below.  The discussions are
  not included in this view, for peer privacy.
</div>
<div class="part-report clearfix">
  <div class="scores">
    <div class="timestamp">As of {{ part.timestamp.strftime('%Y-%m-%d at %H:%M UTC:') }}</div>
    {% for report in part.unit_reports %}
    {{ unit_report.evidence_unit_report(report, evidence_link, unit_title) }}
    {% endfor %}
    {% for exam in part.assessment_scores %}
    <div class="assessment-title">{{ exam.title|striptags }} <span class="status"> -
        {% if exam.did_pass %}<span class="complete">Complete!</span>
        {% elif exam.completed %}Submitted
        {% else %}Not submitted
        {% endif %}
    </span></div>
    <div class="assessment-stats">
      {% if exam.did_pass %}
      Passed with at least
      {% else %}
      Did not pass, needed
      {% endif %}
      {{ exam.passing_score }} out of 100%.
    </div>
    {% endfor %}
  </div>
  {% if part.badge %}
  {{ badge_views.evidence(part.badge, part.badge_assertion) }}
  {% else %}
  <!-- (There's no badge set up for this part yet - it should have key_name {{ part.slug }}) -->
  {% endif %}
</div>
{% endmacro %}
