{% extends 'base_registration.html' %}

{% block top_content %}
<style>
  div#confirm-why {
    margin-bottom: -20px;
    font-size: 80%;
  }

  ul.errors {
    border: solid thin #c33;
    background-color: #fcc;
  }
  div.reg-form {
    border: solid thin #aaa;
    margin: 10px;
    padding: 10px;
  }

  div.reg-form p {
    margin-bottom: 10px;
    padding: 5px;
  }
</style>

{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      {% if is_redirect %}
      <div id="confirm-why">Before you can use that page, you need to complete the</div>
      {% endif %}
      <h1>Pre-Assignment</h1>

      <div id="confirm-explain">
        Thank you for pre-registering!  At this point, you have access to <a
          href="course">the text of the course content</a>.  To participate in
        the class, confirm your registration, and become eligible to earn
        badges and credit, you will need to complete this pre-assignment and
        then answer a few administrative questions.
      </div>

      {% if form.errors %}
      <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
      </ul>
      {% endif %}
      <div class="reg-form">
        <form method="POST" action="confirm">
          <p>
            Your answers to these questions will be visible to the other
            participants in the course.  They are a way to start a conversation,
            as well as a start on the work of the course.
          </p>

          <p>For help with the editor controls, click inside an editor and
          press Alt+0.</p>

          <p>
            Please tell us a typical curricular aim in your classroom...
            <br>{{ form.curricular_aim(id="aim-editor", rows=10, cols=50) }}
          </p>

          <p>
            Please introduce yourself briefly.  What is your professional
            role?  What else is important about you?
            <br>{{ form.introduction(id="intro-editor", rows=10, cols=50) }}
          </p>

          <input type="hidden" name="xsrf_token" value="{{ xsrf_token }}">
          {{ form.page }}

          <br>
          <input class="gcb-button" type="submit" value="Submit the Pre-Assignment">
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/assets/ckeditor/ckeditor.js"></script>
<script>
  var toRemove = 'contextmenu,tabletools,pastefromword,undo,image,magicline,format,indent,indentlist,list,styles,elementspath,maximize,stylescombo,resize';
  CKEDITOR.replace("intro-editor", {
      allowedContent: 'a[href];b;i;p;',
      removePlugins: toRemove,
    });
  CKEDITOR.replace("aim-editor", {
      allowedContent: 'a[href];b;i;p;',
      removePlugins: toRemove,
    });
</script>

{% endblock %}
