{% extends 'base_registration.html' %}

{% block top_content %}
<style>
  div#confirm-why {
    margin-bottom: -20px;
    font-size: 80%;
  }

  ul.errors {
    border: solid thin #c33;
    background-color: #fcc;
  }
  div.reg-form {
    margin: 10px;
    padding: 10px;
  }

  div.reg-form p {
    margin-bottom: 10px;
    padding: 5px;
  }

  .example-container {
    display:none;
  }

  p.example {
    border: solid thin #aaa;
    margin: 10px;
    padding: 10px;
  }
</style>

<script>
  $(document).ready(function() {
    $(".example-link").click(function() {
      $(this).next().toggle();
      return false;
    });
  });
</script>
{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      {% if is_redirect %}
      <div id="confirm-why">Before you can use that page, you need to finish your registration!</div>
      {% endif %}
      <h1>Your Curricular Aim & Introduction <small>(2 of 3)</small></h1>

      {% if form.errors %}
      <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
      </ul>
      {% endif %}
      <div class="reg-form">
        <form method="POST" action="confirm">
          <h3>Your Curricular Aim</h3>
          <p>
          In this course, you will learn about assessment practicies,
          principles, and policies by applying them to a <em>curricular
            aim</em>.  A curricular aim is a desired outcome of instruction, an
          assessable learning goal that you might want learners to meet.  Do
          not describe a project or a lesson, but rather the learning that a
          project or lesson was intended to support.  You will revise this in
          the first assignment and then it will evolve through the course.
          </p>

          <a href="#" class="example-link">Click here to show some examples of
            curricular aims that would work well in this course<br></a>
          <div class="example-container">
            <p class="example">
            After reading four sources on a single issue, the student will be
            able to compose a 1250-word essay employing the strategies of
            informative synthesis learned in this unit.
            </p>
            <p class="example">
            My curriculum aim is for students to learn the concepts of plot and
            theme and to understand reasons why it is important for them to
            understand these concepts and how they can expect to apply them
            while reading.
            </p>
            <p class="example">
            When presented with various combinations of pennies, dimes, and
            nickels, students can use their knowledge of coin value and
            addition strategies to calculate the total value of the
            combination.
            </p>
          </div>

          <small>For help with the editor controls, click inside an editor and
            press Alt+0.</small><br>
          {{ form.curricular_aim(id="aim-editor", rows=10, cols=50) }}

          <br>
          <h3>Your Introduction</h3>
          <p>
            Please introduce yourself briefly.  What is your professional role in
            education? What is your interest in Educational Assessment? (This
            information will be displayed for others to see on your WikiFolio
            Home Page and can be edited later).
          </p>

          <a href="#" class="example-link">Click here to show an example Introduction</a>
          <p class="example example-container">
          Hi! I’m Tara Kelley, the Teaching Assistant to Dr. Dan Hickey for the
          Educational Assessment BOOC. I have been working with Dan 2 ½ years
          beginning with when I took this course online at Indiana University.
          Taking the class changed my life – I added Learning Sciences as my
          PhD minor and began studying assessment in the classes I teach. I am
          a PhD student in Literacy, Culture, and Language Education and I
          teach Elementary Composition for Multilingual Students. I also
          research something called Productive Disciplinary Engagement, which I
          can tell you about if you ask :)
          </p>

          {{ form.introduction(id="intro-editor", rows=10, cols=50) }}

          <input type="hidden" name="xsrf_token" value="{{ xsrf_token }}">
          {{ form.page }}

          <br>
          <div align="right"><input class="gcb-button" type="submit" value="Continue Registration"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/assets/ckeditor/ckeditor.js"></script>
<script>
  var toRemove = 'contextmenu,magicline,elementspath,resize,tabletools';
  toolbarGroups = [
  { name: 'editing',     groups: [ 'spellchecker' ] },
  { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
  { name: 'links' },
  { name: 'document',	   groups: [ 'mode', ] },
  { name: 'insert' },
  ];
  CKEDITOR.replace("intro-editor", {
      allowedContent: 'a[href];b;i;p;',
      toolbarGroups: toolbarGroups,
      removePlugins: toRemove,
    });
  CKEDITOR.replace("aim-editor", {
      allowedContent: 'a[href];b;i;p;',
      toolbarGroups: toolbarGroups,
      removePlugins: toRemove,
    });
</script>

{% endblock %}
