{% extends 'base_registration.html' %}

{% block top_content %}
<style>
  div#confirm-why {
    margin-bottom: -20px;
    font-size: 80%;
  }

  ul.errors {
    border: solid thin #c33;
    background-color: #fcc;
  }
  div.reg-form {
    border: solid thin #aaa;
    margin: 10px;
    padding: 10px;
  }

  div.reg-form p {
    margin-bottom: 10px;
    padding: 5px;
  }
</style>

{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      {% if is_redirect %}
      <div id="confirm-why">Before you can use that page, you need to finish your registration!</div>
      {% endif %}
      <h1>Your Curricular Aim & Introduction <small>(2 of 3)</small></h1>

      {% if form.errors %}
      <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
      </ul>
      {% endif %}
      <p>
        Your answers to these questions will be visible to the other
        participants in the course.  They are a way to start a conversation,
        as well as a start on the work of the course.
      </p>

      <div class="reg-form">
        <form method="POST" action="confirm">
          <p>
            The core of Educational Assessment BOOC is focused on evolving a
            curricular aim that is unique to your role and experience in education.
            As a part of Registration, we ask you to describe a curricular aim.
            Don't worry, each weekly unit will ask you to adopt this aim to the new
            concepts and tasks of that week.
          </p>

          <small>For help with the editor controls, click inside an editor and
          press Alt+0.</small>
          {{ form.curricular_aim(id="aim-editor", rows=10, cols=50) }}

          <br>
          <p>
            Please introduce yourself briefly.  What is your professional role in
            education? What is your interest in Educational Assessment? (This
            information will be displayed for others to see only your WikiFolio
            Home Page, and can be edited).
          </p>

          {{ form.introduction(id="intro-editor", rows=10, cols=50) }}

          <input type="hidden" name="xsrf_token" value="{{ xsrf_token }}">
          {{ form.page }}

          <br>
          <input class="gcb-button" type="submit" value="Continue Registration">
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/assets/ckeditor/ckeditor.js"></script>
<script>
  var toRemove = 'contextmenu,tabletools,pastefromword,undo,image,magicline,format,indent,indentlist,list,styles,elementspath,maximize,stylescombo,resize';
  CKEDITOR.replace("intro-editor", {
      allowedContent: 'a[href];b;i;p;',
      removePlugins: toRemove,
    });
  CKEDITOR.replace("aim-editor", {
      allowedContent: 'a[href];b;i;p;',
      removePlugins: toRemove,
    });
</script>

{% endblock %}
