{% extends 'base_registration.html' %}

{% block top_content %}

{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">

      <p>
        {{course_info.reg_form.header_text | safe}}
      </p>

      <form action="register" method='post' enctype="multipart/form-data">
        <input type="hidden" name="xsrf_token" value="{{ register_xsrf_token|escape }}">
        <fieldset>
          <ol>
            <li>
              <label class="gcb-reg-form-label" for="name">
                {# I18N: A question in the registration form. #}
                {{ gettext('What name would you like other students to see?') }}
              </label>
              <input name="name" id="name" type="text">
            </li>

            <li>
              <label class="gcb-reg-form-label" for="profile_pic">
                {# I18N: A question in the registration form. #}
                {{ gettext('Please upload an image that students will see on your profile page.') }}
              </label>
              <input name="profile_pic" id="profile_pic" type="file">
            </li>

            <li>
              <label class="gcb-reg-form-label" for="location_name">
                {# I18N: A question in the registration form. #}
                {{ gettext('Please tell us where you are.  City, State, Country.') }}
              </label>
              <input name="location_name" id="location_name" type="text">
            </li>

            <li>
              <label class="gcb-reg-form-label" for="location_latitude">
                {# I18N: A question in the registration form. #}
                {{ gettext('Latitude') }}
              </label>
                <input name="location_latitude" id="location_latitude" type="text">
                <br>
              <label class="gcb-reg-form-label" for="location_longitude">
                {# I18N: A question in the registration form. #}
                {{ gettext('Longitude') }}
              </label>
              <input name="location_longitude" id="location_longitude" type="text">
            </li>

            <li>
              <label class="gcb-reg-form-label" for="education_level">
                {# I18N: A question in the registration form. #}
                {{ gettext('What is the highest level of education you have attained?') }}
              </label>
              <select name="education_level" id="education_level">
                <option value="" selected> --- </option>
                <option value="highschool">High School or equivalent</option>
                <option value="associate">Associate's degree</option>
                <option value="bachelor">Bachelor's degree</option>
                <option value="master">Master's degree</option>
                <option value="doctor">Doctorate</option>
              </select>
            </li>

            <li>
              <label class="gcb-reg-form-label" for="role">
                {# I18N: A question in the registration form. #}
                {{ gettext('What is your primary role in the education system?') }}
              </label>
              <select name="role" id="role">
                <option value="" selected> --- </option>
                <option value="instructor">Instructor</option>
                <option value="administrator">Administrator</option>
                <option value="researcher">Researcher</option>
              </select>
            </li>

            <li class="instructors">
              <label class="gcb-reg-form-label" for="grade_levels">
                {# I18N: A question in the registration form. #}
                {{ gettext('For instructors: What grade levels do you teach?  Enter a list separated by commas, for instance, "kindergarten, 1, 3, undergradute"') }}
              </label>
              <input name="grade_levels" id="grade_levels" type="text">
            </li>

            <li class="instructors">
              <label class="gcb-reg-form-label" for="subjects">
                {# I18N: A question in the registration form. #}
                {{ gettext('For instructors: What subjects do you teach?  Enter a list separated by commas, for instance, "science, social studies"') }}
              </label>
              <input name="subjects" id="subjects" type="text">
            </li>

            <li class="administrators">
              <label class="gcb-reg-form-label" for="school_size">
                {# I18N: A question in the registration form. #}
                {{ gettext('For administrators: How large is your school?') }}
              </label>
              <select name="school_size" id="school_size">
                <option value="" selected> --- </option>
                <option value="1-20">1-20</option>
                <option value="21-50">21-50</option>
                <option value="51-100">51-100</option>
                <option value="101-500">101-500</option>
                <option value="501-1000">501-1,000</option>
                <option value="1001-5000">1,001-5,000</option>
                <option value="5001-20000">5,001-20,000</option>
                <option value="20000+">More than 20,000</option>
              </select>
            </li>

            <li class="researcher">
              <label class="gcb-reg-form-label" for="research_area">
                {# I18N: A question in the registration form. #}
                {{ gettext('For researchers: What is your area of research?') }}
              </label>
              <input name="research_area" id="research_area" type="text">
            </li>

            <hr>

            <li>
              <label class="gcb-reg-form-label" for="introduction">
                {# I18N: A question in the registration form. #}
                {{ gettext('Please introduce yourself.  Your colleagues will see this introduction on your profile page.') }}
              </label>
              <textarea name="introduction" id="introduction" rows="8" cols="50"></textarea>
            </li>

            <li>
              <label class="gcb-reg-form-label" for="will_buy_book">
                {# I18N: A question in the registration form. #}
                {{ gettext('A textbook will be required in order to complete this course.  TODO: link.  Are you prepared to purchase this book?') }}
              </label>
              <input name="will_buy_book" id="will_buy_book" value="yes" type="checkbox">I will purchase the book.</input>
            </li>

            <li>
              <label class="gcb-reg-form-label" for="interest_level">
                {# I18N: A question in the registration form. #}
                {{ gettext('How interested are you in completing this course?') }}
              </label>
              <input type="radio" name="interest_level" value="1">1 - Just taking a look<br>
              <input type="radio" name="interest_level" value="2">2<br>
              <input type="radio" name="interest_level" value="3" id="interest_level">3<br>
              <input type="radio" name="interest_level" value="4">4<br>
              <input type="radio" name="interest_level" value="5">5 - I will definitely finish the course!<br>
            </li>

          </ol>
        </fieldset>

        <button class="gcb-button" type="submit">
          {# I18N: Button at the end of the registration form for a course. #}
          {{ gettext('Enroll') }}
        </button>
      </form>

    </div>
  </div>
</div>
{% endblock %}
