{% extends 'base_registration.html' %}

{% block top_content %}

{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">

      <h1>Registration for "Educational Assessment" <small>(1 of 3)</small></h1>

      <p><strong>The course is 11 weeks long, and starts September 9, 2013.</strong></p>

      <p>Upon completing registration, you will be able to access the first
      assignment for each of the three sections of the course.</p>

      <p>Registration is capped at 500 participants on a first come, first
      served basis. If you Register after 500 participants is reached, you will
      be placed on a waiting list, so it is important that you complete
      registration if you are interested.</p>

      <form action="register" method='post' enctype="multipart/form-data" id="gcb-reg-form">
        <input type="hidden" name="xsrf_token" value="{{ register_xsrf_token|escape }}">
        <fieldset>
          <legend>Required Information</legend>
          <div>
            <label class="gcb-reg-form-label" for="name">
              What is your name? <small>Other students will see this name.</small>
            </label>
            <input name="name" id="name" type="text" size="55">
          </div>

          <div>
            <label class="gcb-reg-form-label" for="location_city">
              Where are you? <small>If you allow it on Page 3, we will use
                State and Country (<em>never</em> City) to make it easier to
                find other participants near you.</small>
                <br>
              <small>City</small>
            </label>
            <input name="location_city" id="location_city" type="text">

            <label class="gcb-reg-form-label" for="location_state">
              <small>State or Province (if any)</small>
            </label>
            <input name="location_state" id="location_state" type="text">

            <label class="gcb-reg-form-label" for="location_country">
              <small>Country</small>
            </label>
            <input name="location_country" id="location_country" type="text">
          </div>

          <div>
            <label class="gcb-reg-form-label" for="education_level">
              What is the highest level of education you have attained?
            </label>
            <select name="education_level" id="education_level">
              <option value="" selected> --- </option>
              <option value="highschool">High School or equivalent</option>
              <option value="associate">Associate's degree</option>
              <option value="bachelor">Bachelor's degree</option>
              <option value="master">Master's degree</option>
              <option value="doctor">Doctorate</option>
            </select>
          </div>

          <div>
            <label class="gcb-reg-form-label" for="role">
              What is your primary role in the education system? <small>Other students will see your selection</small>
            </label>
            <select name="role" id="role">
              <option value="" selected> --- </option>
              <option value="educator">Educator (K-12)</option>
              <option value="faculty">Faculty (Post-secondary)</option>
              <option value="administrator">Administrator</option>
              <option value="researcher">Researcher</option>
              <option value="student">Student</option>
              <option value="other">Other</option>
            </select>
          </div>

          <div class="by-role educator" style="display: none">
            <label class="gcb-reg-form-label" for="grade_levels">
              What grade or grades do you teach? <small>(separate with commas)</small>
            </label>
            <input name="grade_levels" id="grade_levels" type="text" placeholder="e.g. kindergarten, 1, 2, 3">
          </div>

          <div class="by-role faculty" style="display: none">
            <label class="gcb-reg-form-label" for="faculty_area">
              What subject or subjects do you teach? <small>(separate with commas)</small>
            </label>
            <input name="faculty_area" id="faculty_area" type="text" placeholder="e.g. Education, Philosophy">
          </div>

          <div class="by-role student" style="display: none">
            <label class="gcb-reg-form-label" for="student_subject">
              What are the main topics that you study? <small>(separate with commas)</small>
            </label>
            <input name="student_subject" id="student_subject" type="text" placeholder="e.g. Education, Chemistry">
          </div>

          <div class="by-role other" style="display: none">
            <label class="gcb-reg-form-label" for="other_role">
              Briefly describe your primary repsonsibilities.
            </label>
            <input name="other_role" id="other_role" type="text">
          </div>

          <div class="by-role administrator" style="display: none">
            <label class="gcb-reg-form-label" for="title_and_setting">
              What is your title and setting? <small>(separate with commas)</small>
            </label>
            <input name="title_and_setting" id="title_and_setting" type="text" placeholder="e.g. Principal, Junior/Senior High School">
          </div>

          <div class="by-role researcher" style="display: none">
            <label class="gcb-reg-form-label" for="research_area">
              What topics do you research? <small>(separate with commas)</small>
            </label>
            <input name="research_area" id="research_area" type="text" placeholder="e.g. assessment, socially-situated motivation">
          </div>

        </fieldset>

        <div align="right" style="padding-top: 5px;">
          <button class="gcb-button gcb-button-large" type="submit">
            Continue
          </button>
        </div>

        <div align="right"><i>By registering, you agree to let us send you course-related e-mails.  You can unsubscribe at any time by unenrolling from the course.</i></div>
      </form>

    </div>
  </div>
</div>

<script src="assets/lib/Placeholders.min.js"></script>
<script>
  update_role_details = function() {
    $("div.by-role").hide(300);
    var selected = $(this).children(":selected")[0];
    if (selected && selected.value) {
      var selector = "div." + selected.value;
      $(selector).show(300);
    }
  };
  $("select#role").change(update_role_details);
  $(document).ready(function() {
    $("select#role").change();
  });
</script>

{% endblock %}
