{% macro facebook(url) %}
<div class="share-button facebook">
  <a href="#" 
    onclick="
    window.open(
    'https://www.facebook.com/sharer/sharer.php?u={{ url|urlencode|escapejs }}', 
    'facebook-share-dialog', 
    'width=626,height=436'); 
    return false;">
    <img src="/assets/img/share/fb.jpg" alt="Facebook"> Share on Facebook
  </a>
</div>
{% endmacro %}

{% macro twitter(url) %}
<div class="share-button twitter">
  <a href="https://twitter.com/share?url={{ url|urlencode }}">
    <img src="/assets/img/share/twitter_icon.png" alt="Twitter"> Tweet on Twitter
  </a>
</div>
{% endmacro %}
