{% extends 'base.html' %}
{% import 'part_report.html' as part_report %}
{% import 'expert_views.html' as expert_views %}

{% block subtitle %}
  {# I18N: Title of the webpage. #}
  {{ gettext('My Profile') }}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}
{% if ga_analytics_key %}
<script>
  $(document).ready(function() {
    // track clicking on share buttons
    $('div.share-button a').on('click', function() {
      ga('send', 'event', 'share-button', 'click', $(this).attr('id'));
    });

    $('div.badge-faq-heading').on('click', function() {
      ga('send', 'event', 'badge-faq', 'click');
    });

    $('a.ga-badge-link').on('click', function() {
      ga('send', 'event', 'share-button', 'click', $(this).attr('id'));
    });
  });
</script>
{% endif %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      <h2>
        {# I18N: Title of the student profile page. Followed by a student's name. #}
        {{ gettext('Student Profile for ') }}
        {{ student.key().name() }}
      </h2>

      {% if student %}

        {% include 'student_data_table.html' %}

        {{ expert_views.profile_view(expert_report, assertion_link) }}

        {% for part in part_reports %}
        {{ part_report.profile_view(part, assertion_link) }}
        {% endfor %}

        <div class="accordion-badge-faq">
          <div class="badge-faq-heading">Questions about badges?  Click here.</div>
          <div class="badge-faq-contents">
            <h3>What is a Badge?  What is an Evidence page?</h3>

            <div>A Badge is a way of showing that you have done some work.  If
              we issue you a badge, we are telling anyone who can see the badge
              that we think you have gained (for instance) Assessment Practices
              Expertise.</div>

            <div>An Evidence page is a way for someone to see the work you've
              done.  This gives the badge much more force, because someone
              looking at the badge doesn't have to trust us (the instructors) -
              they can see for themselves how much work you've put into this
              course.</div>

            <h3>Who can see my badges?</h3>

            <div>Nobody can see your badges unless you decide to share them by
              claiming them on your Mozilla Badge Backpack, or giving someone the
              URL of the Evidence page.</div>

            <h3>If I share a badge, what will others see?</h3>

            <div>They will see the Evidence page, which is linked above.  <b>This
                includes your course work and your name.</b>  It also includes
              the number of comments, endorsements, and promotions that your
              work received.  It does <em>not</em> include the <em>text</em> of
              the comments.</div>

            <h3>How can I show someone my badge?</h3>

            <div>The easiest way to show one person your badge is to e-mail them
              the link to your badge Evidence page.  You can do that by clicking
              on the 'Share via e-mail' link.  You can also go to the Evidence
              page and copy the URL from your browser's address bar, then paste it
              into an e-mail.</div>

            <div>Remember that the Evidence page includes your course work and
              your name!</div>

            <div>To share your badge publicly, you can click on the Facebook,
              Google+, or Twitter share links.  Each one will open up a page where
              you can edit a status update, pre-loaded with the URL of the
              evidence page.  You can also copy/paste the URL of the evidence page
              into any other social network or web page.</div>

            <div>A final option is to claim your badge on Mozilla's Open Badge
              Infrastructure.  See the next question for instructions...</div>

            <h3>How can I claim my badge on Mozilla Badge Backpack?</h3>

            <div>
              When you click on the "Claim on Mozilla Badge Backpack" link next
              to the badge image, you will be guided through the process of
              claiming your badge.  If you don't already have a Mozilla Persona
              account, you will be asked to create one.  In order to claim your
              badge, your Mozilla Persona account must use the same e-mail
              address that you used to register for this course:
              <span class="literal"> {{ email }} </span>.
              <b>Even the capitalization must be the same!</b>  If you
              can't use the same e-mail address, or have other problems claiming
              your badge, contact boocteachingassistant@gmail.com, and
              we can work something out.
            </div>

            <h3>Claiming the badge fails with 'It appears that the [...] badge was not awarded to you'</h3>

            <div>
              This probably happened because the capitalization of your e-mail
              address is not consistent, or else you are logged into Mozilla
              Persona using a different e-mail address.  Try going to the <a
                href="https://backpack.openbadges.org/" target="_blank">Open Badges website</a>
              and see if you're logged in with the same e-mail address as you
              use on this course: <span class="literal"> {{ email }} </span>.
            </div>

            <div>
              If the problem is capitalization, or you need to use a different
              Persona account and its associated badge backpack, we can fix
              that for you.  Please ask our <a
                href="mailto:boocteachingassistant@gmail.com" target="_blank">Teaching
                Assistant, Tara</a>.
            </div>

            <h3>I've claimed my badge!  Now what?</h3>

            <div>
              Now that you've claimed the badge, you will need to put it into a
              public "badge collection" before anyone will be able to see it.  Visit
              the <a href="https://backpack.openbadges.org/" target="_blank">Open Badges website</a>
              and create a new collection.  If you give it a title that includes your
              name, it will be easy for third parties to tell that <i>you</i> have
              earned this badge.  So something like "Dr. Brown's Badges".  Now,
              if you click on the share icon for that collection, you will be taken
              to a public page that you can link to.  It also has a convenient way to
              share on Twitter, Facebook, and Google+.  You can send people the
              link to that page to show them what you've done.
            </div>

            <div>
              If you want to go one step further and include your badges on your web
              site, there are a couple of options.  First, if you use WordPress,
              there is <a href="http://wordpress.org/extend/plugins/wpbadger/" target="_blank">a
                WordPress plugin</a> that should make this simple.  If you
              don't use WordPress, currently the best option is to enter the e-mail
              address you used to claim the badge at <a
                href="http://badgewidgethack.org/" target="_blank">this simple web site</a>,
              and follow the directions there.  It will give you a snippet of HTML
              that you can add to a web site.
            </div>

            <h3>Can I change the name displayed on my badges?</h3>

            <div>Yes!  You can enter a different name into the "Name for Badges
              and Certificates" field below.  This might be useful if, for
              example, you'd like a more formal version of your name to appear
              on your badge.</div>

            <h3>I have another question.</h3>

            <div>If you feel like we made the wrong decision in issuing / not
              issuing you a badge, please contact <a
                href="mailto:boocteachingassistant@gmail.com" target="_blank">Tara Kelley, our
                teaching assistant</a>.</div>

            <div>If you have questions about how the badges work, how to claim
              them, etc, please ask in the <a
                href="https://booc-iu.appspot.com/forum/badges">Digital Badges
                forum</a>.</div>
          </div>
        </div>

        <form action='student/editstudent' method='post'>
          <input type="hidden" name="xsrf_token" value="{{ student_edit_xsrf_token|escape }}">
          <h2><label for="name">
            {# I18N: Label for the input field that allows the student to change
            the name displayed to other students. #}
            {{ gettext('New Display Name') }}
          </label></h2>
          <p>This is the name that other participants see on the web site.</p>
          <fieldset style="border: none;">
            <p><input name="name" id="name" type="text" size="40">
              <input type="hidden" name="email" value="{{ student.key().name() }}"></p>
          </fieldset>

          <p>
            <button class="gcb-button" type="submit">
              {# I18N: Text for a button that allows the student to save changes
              to his/her name as displayed to other students. #}
              {{ gettext('Change Name') }}
            </button>
          </p>
        </form>

        <form action='student/editbadgename' method='post'>
          <input type="hidden" name="xsrf_token" value="{{ student_edit_xsrf_token|escape }}">
          <h2><label for="badgename">
            {# I18N: Label for the input field that allows the student to change the name on his/her certificate. #}
            {{ gettext("New Name for Badges and Certificates") }}
          </label></h2>
          <fieldset style="border: none;">
            <p><input name="badgename" id="badgename" type="text" size="40">
              <input type="hidden" name="email" value="{{ student.key().name() }}"></p>
          </fieldset>

          <p>
            <button class="gcb-button" type="submit">
              {# I18N: Text for a button that allows the student to save changes to his/her name for the certificate. #}
              {{ gettext('Change Badge Name') }}
            </button>
          </p>
        </form>

        <h2>
          {# I18N: Shown on the student profile page. #}
          {{ gettext('To leave the course permanently, click on Unenroll') }}
        </h2>

        <p><a role="button" href="student/unenroll" class="gcb-button">
          {# I18N: Button that allows the student to unenroll from a course. #}
          {{ gettext('Unenroll') }}
        </a></p>

      {% else %}
        {# I18N: Shown when the student profile cannot be found in the database. #}
        <p>{{ gettext('Student profile not found ...')}}</p>
      {% endif %}
    </div>
  </div>
</div>

<script src="https://beta.openbadges.org/issuer.js"></script>
<script src="/assets/lib/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<script>
  $(document).ready(function() {
    $('.accordion-badge-faq').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content',
    });
  });
</script>
{% endblock %}

