{% extends 'base.html' %}
{% import 'badge_views.html' as badge_views %}
{% import 'unit_report.html' as unit_report %}

{% block subtitle %}
  {# I18N: Title of the webpage. #}
  {{ gettext('My Profile') }}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      <h2>
        {# I18N: Title of the student profile page. Followed by a student's name. #}
        {{ gettext('Student Profile for ') }}
        {{ student.key().name() }}
      </h2>

      {% if student %}

        {% include 'student_data_table.html' %}

        {% for part in part_reports %}
        {# will need to refactor this, so parts can be used in Evidence page #}
        <div class="part-report clearfix">
          <div class="scores">
            {% for report in part.unit_reports %}
            {{ unit_report.unit_report(report) }}
            {% endfor %}
            {% for exam in part.assessment_scores %}
            <div class="assessment-title">{{ exam.title|striptags }} <span class="status"> -
                {% if exam.did_pass %}<span class="complete">Complete!</span>
                {% elif exam.completed %}Submitted
                {% else %}Not submitted
                {% endif %}
            </span></div>
            <div class="assessment-stats">
              {{ exam.score }} out of 100, {{ exam.passing_score }} required to pass
            </div>
            {% endfor %}
          </div>
          <div class="part-badge-image">
            BADGE IMAGE HERE
          </div>
          <div class="badge-share-links">
            SHARING LINKS HERE
          </div>
        </div>
        {% endfor %}

        {% for assertion in badge_assertions %}
        {{ badge_views.profile(assertion, assertion_link) }}
        {% endfor %}

        <form action='student/editstudent' method='post'>
          <input type="hidden" name="xsrf_token" value="{{ student_edit_xsrf_token|escape }}">
          <h2><label for="name">
            {# I18N: Label for the input field that allows the student to change the name on his/her certificate. #}
            {{ gettext('New Name') }}
          </label></h2>
          <fieldset style="border: none;">
            <p><input name="name" id="name" type="text" size="40">
              <input type="hidden" name="email" value="{{ student.key().name() }}"></p>
          </fieldset>

          <p>
            <button class="gcb-button" type="submit">
              {# I18N: Text for a button that allows the student to save changes to his/her name for the certificate. #}
              {{ gettext('Change Name') }}
            </button>
          </p>
        </form>

        <h2>
          {# I18N: Shown on the student profile page. #}
          {{ gettext('To leave the course permanently, click on Unenroll') }}
        </h2>

        <p><a role="button" href="student/unenroll" class="gcb-button">
          {# I18N: Button that allows the student to unenroll from a course. #}
          {{ gettext('Unenroll') }}
        </a></p>

      {% else %}
        {# I18N: Shown when the student profile cannot be found in the database. #}
        <p>{{ gettext('Student profile not found ...')}}</p>
      {% endif %}
    </div>
  </div>
</div>

<script src="https://beta.openbadges.org/issuer.js"></script>
{% endblock %}

