{% extends 'base.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<div class="gcb-cols">
  <div class="gcb-col-1">
  </div>
  <div class="gcb-col-7 gcb-aside gcb-button-box">

    <p class="gcb-top-content">
      {# I18N: Shown after the student has submitted an assessment. #}
      {{ gettext('Thank you for taking the %(assessment_name)s. Your score for this assessment
      is %(score)s%%.' % {'assessment_name': assessment_name|lower, 'score': score})|safe }}
      {% if is_last_assessment %}
      You need to earn 70% or higher, and earn the previous 3 badges, to qualify for the final
      badge.
      {% else %}
      You need to earn an 80% or higher in order to be awarded the badge for
      this section of the course.
      {% endif %}

      {% if can_take_again %}
      <br><br>
      You can go back to the test and change your answers if you think you can improve your score.  Please
      <a href="{{ retake_link }}">USE THIS LINK</a> instead of hitting the back button; the web site will
      remember your previous answers.
      {% endif %}
    </p>

    <br>

    {% if is_last_assessment %}
    <p class="gcb-top-content">
    This was the last exam of the course!  Assessment Expert badges will be
    issued a couple of days after the exam closes.  To claim this badge, if
    you've earned it, we will ask you to fill out a short (5-10 minute) survey
    about the course.  More details will be available very soon, and will be
    sent to you by announcement.
    </p>

    {% endif %}
    <p>
      <a class="gcb-button" href="course">
        {# I18N: Shown after the student has submitted an assessment. This button allows the student to navigate back to the main course page. #}
        {{ gettext('Back to Course page') }}
      </a>
    </p>

  </div>
</div>

{% endblock %}
