{% extends 'base_registration.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">

      <h3>Please give us some feedback about the course.</h3>

      <form id="unenroll-form" action="student/unenroll" method='post'>
        <input type="hidden" name="xsrf_token" value="{{ student_unenroll_xsrf_token|escape }}">
        <div>Fields marked with a <span class="required-mark">*</span> are required.</div>
        <table>
          {% for field in form %}
          <tr>
            <th>
              {% if field.flags.required %}<span class="required-mark">*</span>{% endif %}
              {{ field.label }}
            </th>
            <td>{{ field }}<br>
              {% for err in field.errors %}
              <span class="error">{{ err }}</span><br>
              {% endfor %}
              </td>
          </tr>
          {% endfor %}
        </table>
        <h3>
          {# I18N: Shown when a student has asked to unenroll from a course. Followed by a course name. #}
          {{ gettext('Are you sure you want to unenroll from ') }}
          {{course_info.course.title}}?
        </h3>
        <br>
        <button class="gcb-button" type="submit">
          {# I18N: Response option to 'Are you sure you want to unenroll from COURSE_NAME'? #}
          {{ gettext('Yes, really unenroll') }}
        </button>
        <a role="button" href="student/home" class="gcb-button" type="submit">
          {# I18N: Response option to 'Are you sure you want to unenroll from COURSE_NAME'? #}
          {{ gettext('No') }}
        </a>
      </form>

    </div>
  </div>
</div>
{% endblock %}
