{% extends 'base.html' %}
{% from "part_report.html" import show_exam %}
{% block subtitle %}Badge Evidence{% endblock %}

{% macro image_badge_link(assertion) %}
<td class="part-badge-image">
  <center>
    <a href="{{ assertion.evidence }}">
      <img src="{{ assertion.badge.image }}"><br>
      <b>{{ assertion.badge.name }}</b>
    </center>
  </a>
</td>
{% endmacro %}

{% block main_content %}
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">

      <h1>{{ report.badge.name }}</h1>
      <div>
        <img class="gcb-pull-right" src="{{ report.badge.image }}">
        {{ author.badge_name }} earned this badge by participating in the <a
          href="https://booc-iu.appspot.com/">Educational Assessment BOOC</a>. {{ report.badge.description }}
      </div>

      <h2>Criteria for issuance</h2>
      <div>{{ report.badge.evidence_page_criteria|safe }}</div>


      <h2>Evidence</h2>

      <div class="part-report expert clearfix">
        <div style="width: 100%">{{ show_exam(report.final_exam_score, report.exam_display) }}</div>
        {% if report.exemplary_count %}
        <div style="width: 100%">
          Exemplary promotions: <span style="color: #fc0;">★</span> {{ report.exemplary_count }}
        </div>
        {% endif %}
        <hr>
        <div>
          <div class="assessment-title">Three BOOC Section Badges <span
              class="status">- <span
                class="complete">Complete!</span></span></div>
          <div class="assessment-stats">Click on each badge to see detailed evidence.</div>
        </div>

        <table style="width: 100%">
          <tr>
            {{ image_badge_link(part_assertions.practices) }}
            {{ image_badge_link(part_assertions.principles) }}
            {{ image_badge_link(part_assertions.policies) }}
          </tr>
        </table>
      </div>

    </div>
    <div class="gcb-col-11 gcb-aside">
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
        <form action="http://indiana.us7.list-manage1.com/subscribe/post?u=a66faf3753b5fd612b2103d4f&amp;id=00e056e0c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <label for="mce-EMAIL">Interested? Sign-up to receive info from BOOC</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
      </div>

      <!--End mc_embed_signup-->
    </div>
  </div>
</div>
<script>
  ga('send', 'event', 'evidence', 'view', '{{ report.badge.key().name() }}:top');
</script>

{% endblock %}

