{% extends 'base.html' %}

{% block subtitle %}
Badge Evidence Settings
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      <h2>
        Badge Evidence Settings for {{ badge_name }}
      </h2>
      <form action="{{ action_url }}" method="POST">
        <input type="hidden" name="xsrf_token" value="{{ xsrf_token }}">
        {{ form.report_id }}
        {% if form.units_are_public %}
        {{ form.units_are_public }} {{ form.units_are_public.label }}
        <p>
        {% endif %}
        {{ form.exam_display.label }}<br>
        {{ form.exam_display }}<br>
        <p>
        {% if form.review_is_public %}
        {{ form.review_is_public }}
        {{ form.review_is_public.label }}<br>
        {% endif %}
        <input type="submit" value="Save">
      </form>
    </div>
  </div>
</div>
<script>
  ga('send', 'event', 'evidence-settings', 'view', '{{ report.slug }}');
</script>
{% endblock %}

