{% extends 'base.html' %}
{% block subtitle %}
Unit {{ unit.unit_id }}
{% endblock %}
{% block main_content %}
<script src="assets/lib/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<link rel="stylesheet" href="assets/lib/jquery-ui-1.10.3.custom/css/booc-theme/jquery-ui-1.10.3.custom.min.css">
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 wiki-area wiki-grey-theme">
      <div id="wiki-title-and-edit">
        {% if unit %}
        <h1>Unit {{ unit.unit_id }} - {{ unit.title | safe }}</h1>
        {% endif %}
      </div>
      <div>
        by {{ author.badge_name }}</div>
      <div>
        {% for r in report.promotion_texts %}
        {% if loop.first %}
        <div class="highlight-box">
        <p>
        <div style="float:right; color: #fc0; font-size: 200%;">★</div>
        <strong>{{ author.badge_name }}'s peers promoted this work as Exemplary!</strong> Here are the reasons they gave:</p>
          <ul >
            {% endif %}
            <li>{{ r }}</li>
            {% if loop.last %}
          </ul>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {# HERE IS THE CONTENT that is filled in by e.g. wf_temp_u1.html #}
      {% block wiki_content %}
      {% endblock %}
    </div>
  </div>
  <div class="gcb-cols">
    <div id="assignment-completion" class="gcb-col-11 gcb-aside">
      <div>
        <p>At the badge issuance time, {{ report.timestamp.strftime('%Y-%m-%d') }},
        this assignment was endorsed as complete by {{ report.endorsements }} participants.
        The discussion generated {{ report.comments }} comments.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
