{% extends 'base.html' %}
{% block subtitle %}
{% if editing %}Editing {% endif %}Unit {{ unit.unit_id }}
{% endblock %}
{% block top_content %}
{% include "notifications_area.html" %}
{% endblock %}
{% block main_content %}
{% if alert %}
<center><div id="alerts-bar">{{ alert }}</div></center>
{% endif %}
<script src="assets/lib/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<script>
  $(document).ready(function() {
    $('#exemplary-reasons').accordion({
      collapsible: true,
      active: false,
    });
  });
</script>
<link rel="stylesheet" href="assets/lib/jquery-ui-1.10.3.custom/css/booc-theme/jquery-ui-1.10.3.custom.min.css">
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 wiki-area wiki-grey-theme">
      <div id="wiki-title-and-edit">
        {% if unit %}
        <h1>Unit {{ unit.unit_id }} - {{ unit.title | safe }}</h1>
        {% endif %}
      </div>
      <div>
        {% if is_draft %}
        <abbr class="wiki-draft-sign"
          title="This page is not 'done' according to the author.">DRAFT</abbr>
        {% endif %}
        by {{ author.name }}</div>
        {# HERE IS THE CONTENT that is filled in by e.g. wf_temp_u1.html #}
        {% block wiki_content %}
        {% endblock %}
    </div>
  </div>
  <div class="gcb-cols">
    <div id="assignment-completion" class="gcb-col-11 wiki-area">
      <span class="wiki-grey-theme">
        {% block assignment_completion_instructions %}
        {% endblock %}
      </span>
      <div id="endorsements" class="gcb-col-5">
        {% for e in endorsements %}
        {% if loop.first %}This page has been endorsed as complete by{% endif %}
        {% if loop.last and not loop.first %} and {% endif %}
        <a href="wikiprofile?student={{ e.who.wiki_id }}">{{ e.who.name }}</a>{% if not loop.last%},{%endif%}
        {% else %}
        <b>This page has not been endorsed as complete.</b>
        {% endfor %}
      </div>
      <div id="exemplaries" class="gcb-col-5">
        {% for e in exemplaries %}
        {% if loop.first %}<span style="font-size: 2em; color: #fc0;">&#9733;</span> This page has been promoted as exemplary by{% endif %}
        {% if loop.last and not loop.first %} and {% endif %}
        {{ student_link(e.who) }}{% if not loop.last%},{%endif%}
        {% else %}<!-- no exemplaries -->
        {% endfor %}
        {% for e in exemplaries %}
        {% if loop.first %}
        <div id="exemplary-reasons">
          <div id="exemplary-header">Show reasons...</div>
          <div id="exemplary-text">
            {% endif %}
            {{ student_link(e.who) }} says: {{ e.reason | safe }}<br>
            {% if loop.last %}
          </div>
        </div>
        {% endif %}
        {% else %}
        {% if editor_role %}<b>This page has not been marked as exemplary.</b>{% endif %}
        {% endfor %}
      </div>
      <div class="gcb-col-11">
        <small>Warning: If you are in the middle of writing a comment, finish and post it before using the Endorse and Exemplary buttons.</small>
      </div>
    </div>
  </div>
  <div class="gcb-cols">
    <div class="gcb-col-11 wiki-area" id="comment-area">
      <span class="wiki-grey-theme">
        {% block comment_instructions %}
        {% endblock %}
      </span>

      {% include "comment_area.html" %}
    </div>
  </div>
</div>
{% endblock %}
