{% extends 'base.html' %}
{% block top_content %}
<style>
  div#alerts-bar {
    background-color: #ffffB7;
    border: solid #cccca0 1px;
    display: inline-block;
    padding: 0.4em;
    border-radius: 5px;
    margin-top: 4px;
  }
</style>
{% endblock %}
{% block main_content %}
{% if editor_role == 'admin' %}
<center><div id="alerts-bar">You are editing someone else's page, as an admin.</div></center>
{% endif %}
<div id="wiki-page-info">Page by <a href="{{ author_link }}">{{ author_name }}</a>.
</div>
<form action="{{ action_url('save') }}" method="POST">
  <small>Press ALT+0 for help with keyboard shortcuts and accessibility.</small><br>
  <textarea name="text" id="editor" rows="20" cols="80">{{ content | safe }}</textarea>
  <input type="hidden" name="xsrf_token" value="{{ create_xsrf_token('save') }}">
  <br>
  <input type="submit" class="gcb-button" value="Save">
</form>
<script src="/assets/ckeditor/ckeditor.js"></script>
<script>
  CKEDITOR.replace('editor', {
    allowedContent: '{{ ckeditor_allowed_content }}'
  });
</script>
{% endblock %}
