{% extends 'base.html' %}
{% import 'part_report.html' as part_report %}
{% block subtitle %}Badge Evidence{% endblock %}
{% block main_content %}
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">

      <h1>{{ part.badge.name }}</h1>
      <div>
        {{ author.badge_name }} earned this badge by participating in the <a
          href="{{ gcb_course_base }}">Educational Assessment BOOC</a>. {{ part.badge.description }}
      </div>

      <h2>Criteria for issuance</h2>
      {% if no_unit_links %}
      <div>{{ part.badge.criteria|safe }}</div>
      {% else %}
      <div>{{ part.badge.evidence_page_criteria|safe }}</div>
      {% endif %}


      <h2>Evidence</h2>

      {{ part_report.evidence_view(part, unit_link, unit_title) }}
    </div>
    <div class="gcb-col-11 gcb-aside">
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
        <form action="http://indiana.us7.list-manage1.com/subscribe/post?u=a66faf3753b5fd612b2103d4f&amp;id=00e056e0c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <label for="mce-EMAIL">Interested? Sign-up to receive info from BOOC</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
      </div>

      <!--End mc_embed_signup-->
    </div>
  </div>
</div>
<script>
  ga('send', 'event', 'evidence', 'view', '{{ part.badge.key().name() }}:top');
</script>

{% endblock %}

