{% extends 'base.html' %}
{% block subtitle %}
Participant List
{% endblock %}
{% block top_content %}
{% endblock %}
{% block main_content %}
<style>
  td.hilight {
    font-weight: bold;
  }
</style>
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">
      <h1>Participants</h1>
      <table>
        <tr>
          <td {% if group_by == 'group_id' %}class="hilight"{% endif %}>
            <a href="participants?group=group_id">Networking Groups</a></td>
          <td {% if not group_by %}class="hilight"{% endif %}>
            <a href="participants">All Participants</a></td>
          <td {% if group_by == 'role' %}class="hilight"{% endif %}>
            <a href="participants?group=role">Participants by Primary Role</a></td>
          <td {% if group_by == 'is_teaching_assistant' %}class="hilight"{% endif %}>
            <a href="participants?group=is_teaching_assistant">Teaching Assistants</a></td>
          <td>
            <a href="updates">&rarr; Most Recent Wikifolio Updates</a></td>
        </tr>
      </table>
      <div id="wf-page-list">
        <ul>
          {% for group in groups %}
          <li>{{ group_name(group[0]) }}
          <ul>
            {% for student in group[1] %}
            <li>{{ student_link(student) }}</li>
            {% endfor %}
          </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
