{% extends 'base.html' %}
{% block top_content %}
{% endblock %}
{% block main_content %}
<span id="wikifolio-links"><a href="students">All students</a></span>
<h1>{{ author_name }}</h1>
{% if can_edit %}
<a href="{{edit_url}}">edit</a>
{% endif %}
<div>{{ content | safe }}</div>
<div id="wf-page-list">
  Pages by {{ author_name }}:
  <ul>
    {% for unit in units %}
    {% if unit.type == 'U' %}
    <li><a href="{{unit._wiki_link}}">Unit {{ unit.unit_id }}: {{unit.title|safe}}</a>
    {% if not unit._wiki_exists %}(not created yet){% endif %}</li>
    {% endif %}

    {% endfor %}
  </ul>
</div>

{% endblock %}
