{% extends 'base.html' %}
{% block subtitle %}
{% if editing %}Editing {% endif %}{{ author_name }}'s Profile
{% endblock %}
{% block top_content %}
<style>
  div#alerts-bar {
    background-color: #ffffB7;
    border: solid #cccca0 1px;
    display: inline-block;
    padding: 0.4em;
    border-radius: 5px;
    margin-top: 4px;
  }
</style>
{% include "notifications_area.html" %}
{% endblock %}
{% block main_content %}
{% if editing and editor_role == 'admin' %}
<center><div id="alerts-bar">You are editing someone else's page, as an admin.</div></center>
{% endif %}
{% if alert %}
<center><div id="alerts-bar">{{ alert | safe }}</div></center>
{% endif %}
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">
      <h1>{{ author_name }}
        {% if is_course_admin %}<small>({{ author.key().name() }})</small>{% endif %}</h1>
      {% if is_super_admin %}
      <div><a href="{{ dark_magic_db_edit_href(author.key()) }}">Edit user entity on app engine</a></div>
      {% endif %}
      {% if editor_role and not editing %}
      <div><a href="{{ action_url('edit') }}">edit</a> as {{ editor_role }}</div>
      {% endif %}
      {% if editing %}
      <form id="wiki-form" action="{{ action_url('save') }}" method="POST">
        {% endif %}
        <label><h2>Introduction</h2>
          {{ fields.text }}</label>
        <label><h2>Curricular Aim</h2>
          {{ fields.curricular_aim }}</label>
        {% if editing %}
        <input type="hidden" name="xsrf_token" value="{{ create_xsrf_token('save') }}">
        <br>
        <input class="gcb-button" type="submit" value="Save">
      </form>
      {% endif %}
    </div>
  </div>
  <div class="gcb-cols">
    <div class="gcb-col-1">
    </div>
    <div class="gcb-col-11 gcb-aside">
      <div class="gcb-col-5" id="wf-page-list">
        {{ author_name }}'s Wikifolio:
        {% if can_do_assignments %}
        <ul>
          {% for unit in units %}
          {%   if unit.type == 'U' and unit.now_available %}
          {%     if unit._wiki_exists or editor_role %}
          <li><a href="{{unit._wiki_link}}">Unit {{ unit.unit_id }}: {{unit.title|safe}}</a>
          {%       if not unit._wiki_exists %}
          (not created yet)
          {%       elif unit._is_draft %}
          (draft)
          {%       endif %}</li>
          {%     endif %}
          {%   elif unit.type == 'A' and unit.now_available and editor_role == 'author' %}
          <li><a href="assessment?name={{ unit.unit_id }}">{{ unit.title | safe }}</a></li>
          {%   endif %}
          {% else %}
          (no pages yet)
          {% endfor %}
        </ul>
        {% else %}
        <p><em>(Wikifolios will become available when the course starts)</em></p>
        {% endif %}
      </div>
      <div class="gcb-col-5">
        {% if editor_role == 'author' %}<b><a href="/all_notifications">Your notification history</a></b><br>{% endif %}
        Recent endorsements by {{ author_name }}:
        <ul>
          {% for e in endorsements %}
          <li>{% if e.why == 'exemplary' %}<span style="color: #fc0;">&#9733;</span>{%endif%}
          <a href="/wiki?student={{ e.whose.wiki_id }}&unit={{ e.unit }}&action=view">Unit {{ e.unit }}: {{
            e._title }}</a>
          by {{ e.whose.name }},  {{ humanize.naturaltime(e.timestamp) }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside" id="comment-area">
      {% include "comment_area.html" %}
    </div>
  </div>
  <center><a onclick="$(this).next().toggle()" style="color: #c33;">Flag inappropriate content</a>
    <div id="flag-form" style="display: none;">
      <form action="{{ action_url('flag') }}" method="POST">
        <input type="hidden" name="xsrf_token" value="{{ create_xsrf_token('flag') }}">
        You can alert an instructor regarding inappropriate content on this page:<br>
        <input size="60" name="reason"></input>
        <input type="submit" value="Report">
      </form>
    </div>
  </center>
</div>
{% if editing %}
<script src="/assets/ckeditor/ckeditor.js"></script>
<script src="/assets/ckeditor/adapters/jquery.js"></script>
<script>
  $(document).ready( function() {
    $('#wiki-form textarea').ckeditor({
      allowedContent: '{{ ckeditor_allowed_content }}'
    });
  });
</script>
{% endif %}
{% endblock %}
