{% extends 'base.html' %}

{% macro inline_save() %}
{% if editing %}
<div class="inline-save">
{%   if is_draft %}
<input type="submit" name="Draft" value="Save as DRAFT" class="gcb-button">
{%   else %}
<input type="submit" name="Post" value="Save and POST" class="gcb-button post-button">
{%   endif %}
</div>
{% endif %}
{% endmacro %}

{% block subtitle %}
{% if editing %}Editing {% endif %}Unit {{ unit.unit_id }}
{% endblock %}
{% block top_content %}
{% include "notifications_area.html" %}
{% endblock %}
{% block main_content %}
{% if editor_role == 'admin' and editing %}
<center><div id="alerts-bar">You are editing someone else's page, as an admin.</div></center>
{% endif %}
{% if alert %}
<center><div id="alerts-bar">{{ alert }}</div></center>
{% endif %}
<script src="assets/lib/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<script>
  $(document).ready(function() {
    $('#exemplary-reasons').accordion({
      collapsible: true,
      active: false,
    });
  });
</script>
<link rel="stylesheet" href="assets/lib/jquery-ui-1.10.3.custom/css/booc-theme/jquery-ui-1.10.3.custom.min.css">
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 wiki-area wiki-grey-theme">
      <div id="wiki-title-and-edit">
        {% if unit %}
        <h1>Unit {{ unit.unit_id }} - {{ unit.title | safe }}</h1>
        {% endif %}
        <div>
          {% if editor_role and can_do_assignments and not editing %}
          <a class="gcb-button"
            href="{{action_url('edit')}}">edit</a>
          {% if editor_role != 'author' %} as {{ editor_role }}{% endif %}
          {% endif %}
        </div>
      </div>
      <div>
        {% if is_draft %}
        <abbr class="wiki-draft-sign"
          title="This page is not 'done' according to the author.">DRAFT</abbr>
        {% endif %}
        by {{ student_link(author) }}</div>
      {% if editing %}
      <form action="{{ action_url('save') }}" method="POST" id="wiki-form">
        <input type="hidden" name="xsrf_token" value="{{ create_xsrf_token('save') }}">
        <small>You can get help with accessibility and keyboard shortcuts by clicking in an editor box and pressing Alt-0 (zero).</small>
        {% endif %}
        {# HERE IS THE CONTENT that is filled in by e.g. wf_temp_u1.html #}
        {% block wiki_content %}
        {% endblock %}
        {% if editing %}
        <br>
        <div class="save-buttons">
          <input type="submit" name="Draft" value="Save as DRAFT" class="gcb-button">
          <input type="submit" name="Post" value="Save and POST" class="gcb-button post-button">
          <br>
          <small>When you Save and Post, this page is added to the list of recent updates, and displayed on the participant list.</small>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
  <div class="gcb-cols">
    <div id="assignment-completion" class="gcb-col-11 wiki-area">
      <span class="wiki-grey-theme">
        {% block assignment_completion_instructions %}
        {% endblock %}
      </span>
      <div id="endorsements" class="gcb-col-5">
        {% for e in endorsements %}
        {% if loop.first %}This page has been endorsed as complete by{% endif %}
        {% if loop.last and not loop.first %} and {% endif %}
        <a href="wikiprofile?student={{ e.who.wiki_id }}">{{ e.who.name }}</a>{% if not loop.last%},{%endif%}
        {% else %}
        <b>This page has not been endorsed as complete.</b>
        {% endfor %}
        <br>
        {% if endorsement_view != 'author' %}
        <form action="{{ action_url('endorse') }}" method="POST">
          <input type="hidden" name="xsrf_token" value="{{ create_xsrf_token('endorse') }}">
          {% if endorsement_view == 'has_endorsed' %}
          You have marked this page as complete.
          <input type="submit" name="undo" class="undo-link" value="undo" title="Undo endorsement">
          {% elif endorsement_view == 'can_endorse' %}
          Click here to <b>endorse</b> that the author has completed
          <input type="submit" name="required_done" class="gcb-button" value="the required elements">, or
          <input type="submit" name="all_done" class="gcb-button" value="the required AND optional elements"> of the assignment.
          {% endif %}
        </form>
        {% else %}
        <small>(You can't endorse this page because you wrote it!)</small>
        {% endif %}
      </div>
      <div id="exemplaries" class="gcb-col-5">
        <form action="{{ action_url('exemplary') }}" method="POST">
          <input type="hidden" name="xsrf_token" value="{{ create_xsrf_token('exemplary') }}">
          {% if exemplary_view == 'can_exemplary' %}
          You can promote this page as exemplary!<br>
          <textarea name="comment" style="width: 100%" rows="2" placeholder="This is great because..."></textarea><br>
          <input type="submit" class="gcb-button" value="&#9733; Exemplary">
          {% elif exemplary_view == 'has_exemplaried' %}
          You have promoted this page as exemplary.  <input type="submit"
          name="undo" class="undo-link" value="undo" title="Undo exemplary mark"><br>
          {% endif %}
        </form>
        {% for e in exemplaries %}
        {% if loop.first %}<span style="font-size: 2em; color: #fc0;">&#9733;</span> This page has been promoted as exemplary by{% endif %}
        {% if loop.last and not loop.first %} and {% endif %}
        {{ student_link(e.who) }}{% if not loop.last%},{%endif%}
        {% else %}<!-- no exemplaries -->
        {% endfor %}
        {% for e in exemplaries %}
        {% if loop.first %}
        <div id="exemplary-reasons">
          <div id="exemplary-header">Show reasons...</div>
          <div id="exemplary-text">
            {% endif %}
            {{ student_link(e.who) }} says: {{ e.reason | safe }}<br>
            {% if loop.last %}
          </div>
        </div>
        {% endif %}
        {% else %}
        {% if editor_role %}<b>This page has not been marked as exemplary.</b>{% endif %}
        {% endfor %}
      </div>
      <div class="gcb-col-11">
        {% if can_mark_incomplete %}
        <form action="{{ action_url('incomplete') }}" method="POST">
          <input type="hidden" name="xsrf_token" value="{{ create_xsrf_token('incomplete') }}">
          {% endif %}
          {% if can_mark_incomplete or editor_role %}
          {% for inc in incompletes %}
          {% if loop.first %}<p class="incomplete-reasons">This wikifolio has been marked as INCOMPLETE by the instructors.
          Please fix the problems listed below, and then contact the instructors.  You will not receive credit for
          this work until then.
          {% if can_mark_incomplete %}
          <input type="submit" name="undo" value="undo">
          {% endif %}</p>
          {% endif %}
          <p class="incomplete-reasons">{{ inc.reason }}</p>
          {% endfor %}
          {% endif %}

          {% if can_mark_incomplete %}
          <label>As an admin, you can mark this assignment as INCOMPLETE.  E.g. for plagiarism.
            <input type="text" name="reason" style="width: 80%"></label>
          <input type="submit" name="mark" value="mark">
        </form><br>
        {% endif %}
        <small>Warning: If you are in the middle of writing a comment, finish and post it before using the Endorse and Exemplary buttons.</small>
      </div>
    </div>
  </div>
  <div class="gcb-cols">
    <div class="gcb-col-11 wiki-area" id="comment-area">
      <span class="wiki-grey-theme">
        {% block comment_instructions %}
        {% endblock %}
      </span>

      {% include "comment_area.html" %}
    </div>
  </div>
  <center><a onclick="$(this).next().toggle()" style="color: #c33;">Flag inappropriate content</a>
    <div id="flag-form" style="display: none;">
      <form action="{{ action_url('flag') }}" method="POST">
        <input type="hidden" name="xsrf_token" value="{{ create_xsrf_token('flag') }}">
        You can alert an instructor regarding inappropriate content on this page:<br>
        <input size="60" name="reason"></input>
        <input type="submit" value="Report">
      </form>
    </div>
  </center>
</div>
<script src="/assets/lib/Placeholders.min.js"></script>
{% if editing %}
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/ckeditor/ckeditor.js"></script>
<script src="/assets/ckeditor/adapters/jquery.js"></script>
<script>
  $(document).ready( function() {
    $('#wiki-form textarea').ckeditor({
      allowedContent: '{{ ckeditor_allowed_content }}'
    });
  });
</script>
{% endif %}
<script>
  $(document).ready( function() {
    $('.integer-ranking.editable > ol').sortable({
      placeholder: 'ui-state-highlight',
      update: function(event, ui) {
        $this = $(this);
        var order = $this.sortable("toArray", {attribute: 'value'});
        $('input#' + $this.attr('for')).val(order.join(","));
      }
    });
    $('.integer-ranking > ol').disableSelection();
    $('.integer-ranking li').addClass('ui-state-default');
    $('.integer-ranking input').hide();
  });
</script>
{% endblock %}
