{% extends 'base.html' %}
{% block top_content %}
{% endblock %}
{% block main_content %}
{% if editor_role and can_do_assignments %}
<a href="{{action_url('edit')}}">edit</a> as {{ editor_role }}
{% endif %}
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">
      {% if unit %}
      <h1>Unit {{ unit.unit_id }} - {{ unit.title | safe }} <small class="wiki-unit-link">
          <a href="unit?unit={{ unit.unit_id }}">(prompt)</a></small></h1>
      {% endif %}
      <div>by {{ author_link(author) }}</div>
      {{ content | safe }}
    </div>
  </div>
  <div id="assignment-completion">
    {% for e in endorsements %}
    {% if loop.first %}This page has been endorsed as complete by{% endif %}
    {% if loop.last and not loop.first %} and {% endif %}
    <a href="wikiprofile?student={{ e.who.wiki_id }}">{{ e.who.name }}</a>{% if not loop.last%},{%endif%}
    {% else %}
    This page has not yet been marked as complete.
    {% endfor %}
    <br>
    {% if endorsement_view == 'has_endorsed' %}
    You have marked this page as complete.
    {% elif endorsement_view == 'can_endorse' %}
    <form action="{{ action_url('endorse') }}" method=POST>
      <input type="hidden" name="xsrf_token" value="{{ create_xsrf_token('endorse') }}">
      Click here to endorse that the author has completed
      <input type="submit" name="required_done" class="gcb-button" value="the required parts">, or
      <input type="submit" name="all_done" class="gcb-button" value="the required AND optional parts"> of the assignment.
    </form>
    {% endif %}
    {% for e in exemplaries %}
    {% if loop.first %}<br><span style="font-size: 2em; color: #fc0;">&#9733;</span> This page has been marked as exemplary by{% endif %}
    {% if loop.last and not loop.first %} and {% endif %}
    <a href="wikiprofile?student={{ e.who.wiki_id }}">{{ e.who.name }}</a>{% if not loop.last%},{%endif%}
    {% else %}<!-- no exemplaries -->
    {% endfor %}

  </div>
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">
      <ol>
        {% for comment in comments %}
        <li>Comment by <a href="wikiprofile?student={{comment.author.wiki_id}}">{{comment.author.name}}</a>:
        <a name="comment-{{ loop.index }}" title="permalink" href="{{ action_url('view') }}#comment-{{ loop.index }}">¶</a>
        <br>{{ comment.text | safe }}</li>
        {% else %}
        <li><em>No comments yet.</em></li>
        {% endfor %}
      </ol>

      {% if can_comment %}
      <form action="{{ action_url('comment') }}" method="POST">
        <fieldset>
          <legend>Comment</legend>
          <small>Press ALT+0 for help with keyboard shortcuts and accessibility.</small><br>
          <textarea name="text" id="comment_editor" rows="10" cols="50"></textarea>
          <p>
          <label><input type="checkbox" name="exemplary"> Mark this assignment as exemplary</label>
          <p>
          <input type="hidden" name="xsrf_token" value="{{ create_xsrf_token('comment') }}">
          <input type="submit" class="gcb-button" value="Comment">
        </fieldset>
      </form>
      <script src="/assets/ckeditor/ckeditor.js"></script>
      <script>
        CKEDITOR.replace('comment_editor', {
          allowedContent: '{{ ckeditor_comment_content }}',
          removePlugins: 'pastefromword,undo,image,magicline,format',
        });
      </script>
      {% endif %}

    </div>
  </div>
  <center><a onclick="$(this).next().toggle()" style="color: #c33;">Flag inappropriate content</a>
    <div id="flag-form" style="display: none;">
      <form action="flag" method="POST">
        You can alert an instructor regarding inappropriate content on this page:<br>
        <input size="60" name="reason"></input>
        <input type="submit" value="Report">
      </form>
    </div>
  </center>
</div>

{% endblock %}
