{% extends 'base.html' %}
{% block top_content %}
{% endblock %}
{% block main_content %}
<div class="gcb-aux">
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">
      <h1>{{ author_name }}</h1>
      {% if editor_role %}
      <div><a href="{{ action_url('edit') }}">edit</a> as {{ editor_role }}</div>
      {% endif %}
      <div>{{ content | safe }}</div>
    </div>
  </div>
  <div class="gcb-cols">
    <div class="gcb-col-1">
    </div>
    <div class="gcb-col-11 gcb-aside">
      <div class="gcb-col-5" id="wf-page-list">
        {{ author_name }}'s Wikifolio:
        {% if can_do_assignments %}
        <ul>
          {% for unit in units %}
          {%   if unit.type == 'U' %}
          {%     if unit._wiki_exists or editor_role %}
          <li><a href="{{unit._wiki_link}}">Unit {{ unit.unit_id }}: {{unit.title|safe}}</a>
          {%       if not unit._wiki_exists %}(not created yet){% endif %}</li>
          {%     endif %}
          {%   endif %}
          {% else %}
          (no pages yet)
          {% endfor %}
        </ul>
        {% else %}
        <p><em>(Wikifolios will become available when the course starts)</em></p>
        {% endif %}
      </div>
      <div class="gcb-col-5">
        Recent activity by {{ author_name }}:
        <ul>
          {% for e in endorsements %}
          <li>{% if e.why == 'exemplary' %}<span style="color: #fc0;">&#9733;</span>{%endif%}
          <a href="{{ e.what.link }}">{{ e.what.title }}</a> by {{ e.what.author.name }} at {{ e.timestamp }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
