{% extends layout_template if layout_template is defined else 'wf_page.html' %}
{% block wiki_content %}
<style type="text/css">
  .wiki-question ol{margin:0;padding:0}
  .c1{direction:ltr;margin-left:30pt}
  .c6{padding-left:0pt;margin-left:36pt}
  .c0{margin:0;padding:0}
  .c3{height:11pt;direction:ltr}
  .c4{font-weight:bold}
  .c7{text-align:center}
  .c10{text-decoration:underline}
  .c9{font-style:italic}
  .c5{direction:ltr}
</style>

<div class="wiki-info-collapsible">
  <h2>Overview</h2>

  <div>
    <p class="c5"><span>In this assignment, you will learn specific
      guidelines for making constructed-response items and revisit the
      general guidelines from Unit 2</span><span>. &nbsp;You will make
      one or more short answer items, one essay item, and a rubric for
      the essay item. There is also an optional activity to create a
      flawed item.</span></p>

    <ul class="c0 lst-kix_8r5orh3886ix-0 start">
      <li class="c6 c5"><span>To fully succeed with this assignment,
        read Chapter 7 in Popham’s text</span> <span class=
        "c9">Classroom Assessment: What Teachers Need to
        Know.</span></li>

      <li class="c6 c5"><span>The parts of this assignment will give
        fewer specific instructions than the previous assignments; if
        your forget how to do things look at the earlier
        assignments.</span></li>

      <li class="c6 c5"><span class="c2">There is a lot to learn by
        small differences (e.g., composition versus literature change
        the relevance of the guidelines). &nbsp;</span><span>In this
        assignment, you should begin to appreciate and articulate how
        your academic domain</span> <span>(</span><span>or the domain
        you selected for your curricular aim) impacts which item
        formats are most appropriate and which guidelines from
        particular formats are most relevant.</span></li>

      <li class="c6 c5"><span class="c4">NEW TO THIS
        ASSIGNMENT:</span> <span>Please carefully read the extra
        element in this week’s Interact Section. This is an element
        designed to help you create additional networks.</span></li>
    </ul>
  </div>
</div>
<p>

<div class="wiki-question">
  <h2>
    REITERATE YOUR CONTEXT (BY
    SEPTEMBER 29)
  </h2>

  <div>
    <p class="c5"><span>Reiterate your curricular aim, role, and
      domain. &nbsp;Don’t simply cut and paste the previous one. Think
      about your context and focus on the aspects that are most
      relevant to this assignment. &nbsp;Are short answer items more
      relevant than essay items? &nbsp;Why? &nbsp;Some of you work in
      areas where you simply can’t use constructed response items.
      &nbsp;Or maybe you are currently using selected-response items
      but want to find a way to incorporate constructed-response items
      that is manageable and credible.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.context }}</div>


<h2>CONSIDER THE CONCEPTS (ALL
  REQUIRED BY SEPTEMBER 29)</h2>


<div class="wiki-question">
  <h3>
    Create Short-Answer
    Items
  </h3>

  <div>
    <p class="c5"><span>Review the general item writing guidelines
      from Chapter 6 and the constructed response guidelines from
      Chapter 7 and make one or more short-answer items . Indicate the
      correct answer for each item. Also indicate possible incorrect
      answers you might expect.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.create_short_answer }}</div>


<div class="wiki-question">
  <h3>
    Apply Short Answer Item-Writing
    Guidelines for Short-Answer Items
  </h3>

  <div>
    <p class="c5"><span>Rank the five item-writing
      guidelines for Short-Answer Items in order of relevance for you,
      by rearranging the boxes below.
      &nbsp;Remember that if you already knew something than it is not
      particularly relevant. &nbsp;Try to consider how the content
      in your domain makes some of these guidelines more relevant for
      you.</span></p>

    <p class="c5"><span>Summarize each guideline in a short paragraph.
     </span> <span class="c4">Add
      brief justifications</span><span>&nbsp;for the Short-Answer
      Item-Writing Guideline that you chose as</span> <span class=
      "c4">most</span><span>&nbsp;relevant and the one you chose
      as</span> <span class="c4">least</span> <span>relevant, keeping in
      mind your role and context.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.rank_short_answer }}</div>
<div class="wiki-user-content">{{ fields.justify_short_answer }}</div>


<div class="wiki-question">
  <h3>
    Create an Essay Item
  </h3>

  <div>
    <p class="c5"><span>Follow the guidelines for essay items in
      Chapter 7 and write one essay item. &nbsp;Note: your lesson might
      be in a domain like mathematics where an essay item seems
      impossible. That might be true but you should try to create one.
      &nbsp;Consider rethinking the goal of your lesson or even
      restating it so it might fit an essay. &nbsp;For example, you
      might ask students to explain how an algebra problem is solved in
      their own words. &nbsp;But coming to appreciate why formats don’t
      work for particular aims will help you appreciate why the other
      formats work better.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.create_essay }}</div>



<div class="wiki-question">
  <h3>
    Apply Item-Writing Guidelines for
    Essay Items
  </h3>

  <div>
    <p class="c5"><span>Rank the five item-writing guidelines for
      Essay Items in order of relevance within your role and domain
      (from Popham, 187).</span></p>

    <p class="c5"><span class="c4">Add
      brief justifications</span><span>&nbsp;for the Essay Item-Writing
      Guideline that you chose as</span> <span class=
      "c4">most</span><span>&nbsp;relevant and the one you chose
      as</span> <span class="c4">least</span> <span>relevant keeping in
      mind your role and context.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.rank_essay }}</div>
<div class="wiki-user-content">{{ fields.justify_essay }}</div>



<div class="wiki-question">
  <h3>
    Create Essay Scoring
    Key
  </h3>

  <div>
    <p class="c5"><span>Make a scoring key that reflects the
      guidelines for scoring responses to essay items in Chapter
      7.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.essay_key }}</div>



<div class="wiki-question">
  <h3>
    Apply Guidelines for Scoring
    Responses to Essay Items
  </h3>

  <div>
    <p class="c5"><span>Rank the guidelines for scoring responses to
      essay Items in order of relevance within your role and
      context</span><span>&nbsp;(from Popham, p. 191).</span></p>

    <p class="c5"><span class="c4">Add brief
      justifications</span><span>&nbsp;for the Guideline for Scoring
      Responses to Essay Items that you chose as</span> <span class=
      "c4">most</span><span>&nbsp;relevant and the one you chose
      as</span> <span class="c4">least</span> <span>relevant, keeping
      in mind your role and context.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.rank_essay_key }}</div>
<div class="wiki-user-content">{{ fields.justify_essay_key }}</div>


<div class="wiki-question">
  <h3>
    Big Ideas
  </h3>

  <div>
    <p class="c5"><span>Review the chapter, assignment, and your
      peer’s wikis. Also, read the</span><span class="c9">&nbsp;Chapter
      Summary</span> <span>and</span> <span class="c9">What Teachers
      Need to Know. &nbsp;</span><span class="c4">Come up with three
      big ideas about constructed-response formats</span><span>. Number
      the ideas (1, 2, 3) and list them in order of importance to you,
      keeping in mind your role and context. Write a brief
      summary/explanation of each idea where you make it clear why they
      are relevant to you. These are the BIG ideas of the chapter not
      the more specific concepts listed above. You should refer to
      the</span> <span class="c9">What Teacher Need to Know….</span>
    <span>section and the summary at the end of the chapter.</span>
    <span class="c8">Try to insert your experience and academic
      domain into this discussion.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.big_ideas }}</div>

<div class="wiki-question">
  <h2>
    INTERACT WITH PEERS (ALL
    REQUIRED, SEPTEMBER 29-OCTOBER 3)
  </h2>

  <div>
    <p class="c5"><span class="c2">A major goal of this course is
      helping you learn to interact with your professional peers
      regarding educational assessment. &nbsp;This will be new to many
      of you. &nbsp;You should come to see how the practices and
      concepts were are learning take on different meaning in different
      contexts.</span> <span class="c4 c2">This will be challenging at
      first but the class will do the same thing each week and will
      find a natural rhythm</span><span class="c2">. &nbsp;Be sure to
      save time each week for these interactions, they are very
      important.</span></p>

    <h3>Refine Your Professional Identity (by September 29)</h3>

    <p class="c5"><span class="c2">As you are learning, the insights
      in each chapter take on different meaning for different roles and
      domains. &nbsp;Discussing these differences with classmates with
      similar</span> <span class="c2 c9">and</span> <span class=
      "c2">different goals is very helpful. &nbsp;Plus we really want
      you to begin building professional relationships around your
      developing assessment expertise.</span></p>

    <p class="c5"><span class="c2">To do this you need more
      information about your classmates interests and
      domains.</span></p>

    <p class="c5"><span class="c2">Consider your role, context, and
      the identity. How do you want people in the course to identify
      you? How do you want people to find you? &nbsp;</span></p>

    <p class="c5"><span class="c2">Go to “Account” (upper right hand
      corner next to Logout). You will find a place where you can type
      in a New Name. Extend your name to add however you wish to be
      identified beyond your networking group. Many of you will want to
      just indicate your domain (math, language, chemistry, etc) but
      some will want to show your role (e.g., librarian, assessment
      specialist, etc.). &nbsp;Feel free to use multiple terms but
      don’t duplicate the info in your networking group unless it is
      necessary. &nbsp;Then click “Change Name.”</span></p>

    <p class="c5"><span class="c2">You will be able to scan this
      information in each networking group, and can search for terms on
      any participant pages (ctrl-f).</span></p>

    <h3>Post Questions (by September 29)</h3>

    <p class="c5"><span class="c4 c2">Post at least one question as a
      comment</span><span class="c2">&nbsp;at the bottom of your
      wikifolio to your classmates and the instructor that this
      assignment raised for you, given your role and setting. &nbsp;Try
      to not ask “known answer” yes/no questions. &nbsp;Rather ask
      questions that can get some discussion started.</span></p>

    <h3>Discuss (September 29-October 3)</h3>

    <p class="c5"><span class="c2">Review the wikifolios of your
      groupmates and find ones that look interesting to you.
      &nbsp;Engage in discussion with them by posting questions or
      responding to their questions. &nbsp;</span><span class=
      "c4 c2">Be sure to put responses in the box for responses.
      &nbsp;If there are multiple responses make it clear which
      response you are responding to.</span> <span class="c2">The goal
      here is to generate discussion threads that consider how the
      chapter concepts and considerations take on different meanings
      for different students.</span></p>

    <h3>Endorse (by October 3)</h3>

    <p class="c5"><span class="c2">While you are commenting, you
      should</span><span class="c4 c2">&nbsp;endorse at least three of
      your classmates’ Wikifolios for being complete</span><span class=
      "c2">. If your classmate has completed the required Context and
      Concepts elements of the assignment, click the box that
      says</span> <span class="c2 c9">Required Elements Completed.
      &nbsp;</span><span class="c2">If your classmate has completed all
      of the optional elements (except for the reflection) click</span>
    <span class="c2 c9">All Elements Completed. &nbsp;</span></p>

    <p class="c5"><span class="c2">Your own Wikifolios needs to be
      endorsed by at least one classmate to count towards course
      completion. If you completed your wikifolio and it was not
      endorsed by a classmate, email
      boocteachingassistant@gmail.com.</span></p>

    <h3>Promote (by October 3)</h3>

    <p class="c5"><span class="c2">As part of reviewing and
      discussing, promote one (and only one) of your classmates’
      Wikifolios as being exemplary</span> <span class="c4 c2">from
      your perspective. &nbsp;</span><span class="c2">Click the box
      that indicates you wish to mark it as exemplary and</span>
    <span class="c4 c2">indicate what was exemplary about it that
      helped you understand the chapter concepts.</span></p>

    <p class="c5"><span class="c2">This does not have to mean it was
      that best or even most complete. &nbsp;But rather it was an
      exemplary consideration of the chapter concepts in a way that
      helped you better understand them. A “leader” badge will be
      issued for each of the the three sections for the member of each
      networking group whose Wikifolio gets the most
      promotions.</span></p>
  </div>
</div>

<h2>OPTIONAL ELEMENTS (most by
  September 29)</h2>

<div class="wiki-question">
  <h3>
    Flawed Item
  </h3>

  <div>
    <p class="c5"><span>Create a constructed response item that
      violates one or more of the guidelines. In the comments section,
      ask your classmates to look at the item and comment on what
      guidelines you violated. &nbsp;Try to violate as many as you can
      and see if your classmates can find them.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.flawed_item }}</div>



<div class="wiki-question">
  <h3>
    Advantages and Disadvantages of
    Common Item Formats
  </h3>

  <div>
    <p class="c5"><span>Summarize the advantages and disadvantages of
      constructed-response, short-answer, and essay items. You might
      want to refer back to previous chapters in Popham. We will return
      to reliability (consistency of scores), validity (strength of
      inferences), and bias in the middle of the course, but see if you
      can make sense of those ideas now. &nbsp;Try to consider
      advantages and disadvantages relative to your role, your learning
      domain, and your specific lesson.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.item_format_pros_cons }}</div>



<div class="wiki-question">
  <h3>
    Self-Check
  </h3>

  <div>
    <p class="c5"><span>Take the self-check at the end of the
      chapter.</span> <span class="c4">&nbsp;</span><span>Answer all
      four questions without looking up the answers. If you can't
      answer the items you should go back over that section.</span>
    <span class="c4">Say a few words about the ones you got wrong and
      why.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.self_check }}</div>



<div class="wiki-question">
  <h3>
    Pondertime
  </h3>

  <div>
    <p class="c5"><span>Ponder the Pondertime questions. &nbsp;Do so
      in light of your role and and aspirations and identify the
      question that is most relevant to you. &nbsp;</span><span class=
      "c4">Write a response to the most relevant question that includes
      an explanation of why it is most relevant to you.
      &nbsp;</span><span>In particular consider how your role and
      domain impacted the relevance of the questions for
      you.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.pondertime }}</div>

<div class="wiki-question">
  <h3>
    Reflection (by September
    29)
  </h3>

  <div>
    <p class="c5"><span>Post three brief reflections. You should
      write a coherent reflection that demonstrates understanding of
      the concepts and how they related to your curricular aims and
      context. On your Wikifolio, be sure to label each of the three
      types of engagement as you present your reflection.</span></p>

    <p class="c1"><span class="c4">A. Consequential
      Engagement.</span> <span>What might you do differently after
      reading about this week’s topic and completing this
      assignment?</span></p>

    <p class="c1"><span class="c4">B. Critical Engagement.</span>
    <span class="c2">How well-suited was your role and curricular aim
      to learning this week’s concepts and big ideas? &nbsp;Did one of
      your classmates have a better context for learning some of these
      concepts? &nbsp;Note that</span> <span class="c4 c2">you are NOT
      being asked to critique how well you did</span><span class="c2">.
      &nbsp;Rather you are reflecting on the fit between your aim and
      role and the concepts we learned this week.</span></p>

    <p class="c1"><span class="c4">C. Collaborative
      Engagement.</span> <span>Whose comments and examples were
      particularly helpful for your completing this assignment?
      &nbsp;</span><span class="c4">Be specific and name people and
      what they contributed that was helpful.</span></p>

    <p class="c5"><span>You are advised to begin drafting the
      reflections while you are working on the Wikifolio, and then to
      complete them before starting the next assignment. &nbsp;They
      should serve as a review and help you better connect the ideas of
      the chapter to your practice.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.reflection }}</div>


<script>
  $(document).ready(function() {
    var icons = {
      header: "ui-icon-circle-triangle-e",
      activeHeader: "ui-icon-circle-triangle-s"
    };
    // TODO: maybe collapse by default if we're not editing???
    $('.wiki-info-collapsible').accordion({
      collapsible: true,
      //active: 0,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
    $('.wiki-question').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
  });
</script>
{% endblock %}
