{% extends layout_template if layout_template is defined else 'wf_page.html' %}
{% block wiki_content %}
<style type="text/css">
 /* .wiki-question ol{margin:0;padding:0}*/
.c15{margin:0;padding:0}
.c1{text-decoration:underline}
.c0{line-height:1.177685867656361;direction:ltr}
.c12{padding-left:0pt}
.c4{direction:ltr}
.wiki-grey-theme .ui-widget-content a.c8{color:#99bbf6}

.c11{font-style:italic}
.c13{text-decoration:underline}
.c2{height:11pt} /* p */
.c10{margin-left:30pt}
.c9{text-align:center}
.c6{margin-left:36pt}
.c16{text-indent:36pt}

.c5{font-weight:bold}
</style>

<div class="wiki-info-collapsible">
  <h3>Overview</h3>

  <div>
<p class="c4"><span class="c3">In this assignment, you will learn
  the complex concepts of validity by considering concepts related
  to validity relative to your assessments and your role.
  &nbsp;</span></p>

  <p class="c4"><span class="c3">Review Chapter 4 for this unit.
  &nbsp;These are complicated concepts. &nbsp;Even though Popham
  does a great job explaining validity, some of you may find it
  challenging to read this chapter straight through. In particular,
  validity requires you to think about knowing and learning as
  distinct from teaching and studying. &nbsp;This assignment will
  help you make sense of these ideas.</span></p>

  </div>
</div>
<p>



<div class="wiki-question">
  <h3>
Reiterate Your Context (By
  October 20)
  </h3>

  <div>
    <p class="c4"><span>After you have reviewed the chapter,
  p</span><span>rovide a short summary of your aim and context from
  the first assignment for the benefit of your classmates and the
  instructor (so they don’t have to look back). &nbsp;You should
  try to speculate about how your aim and role might impact the
  relevance of validity. &nbsp;As you will learn, administrators
  often think about validity and validity evidence very differently
  than classroom teachers.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.context }}</div>


<h2>CONSIDER THE CONCEPTS (ALL
  REQUIRED BY OCTOBER 20)</h2>


<div class="wiki-question">
  <h3>
Types of Validity
  </h3>

  <div>
    <p class="c0"><span>In your own words,</span> <span class=
  "c3">explain each of the three types of validity evidence listed
  below. Explain the type of validity as a person in your role
  (educator, researcher, administrator) talking with someone else
  in your role who is not familiar with validity. You are welcome
  and encouraged to refer to other resources. &nbsp;Many
  measurement specialists disagree with Popham about these
  categories of validity evidence. &nbsp;In particular, many argue
  that content validity and criterion validity are aspects of
  construct validity. &nbsp;Please cite any sources you
  use.</span></p>

<p><span><ol style="font-weight: bold; list-style-type: upper-alpha;">
<li>Content-Related</li>
<li>Criterion-Related</li>
<li>Construct-Related</li>
</ol></span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.types_of_validity }}</div>

<div class="wiki-question">
  <h3>
Relevant Validity
  Evidence
  </h3>

  <div>
     <p class="c0"><span class="c3">Look back over the assessments you
  created in Units 2, 3, and 4. For each of your assessments, state
  which type of Validity Evidence (Content-Related,
  Criterion-Related, Construct-Related) seems most relevant.
  &nbsp;Then state how you examine the validity of the evidence
  that those assessments might generate and what you might do to
  enhance the validity of that evidence.</span></p>

<p><span><ol style="font-weight: bold; list-style-type: upper-alpha;">
<li>Selected-Response
  Items</li>
<li>Constructed-Response Items</li>
<li>Essay
  Item</li>
<li>Performance or
  Portfolio
</li>

</ol></span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.validity_evidence }}</div>

<div class="wiki-question">
  <h3>
Face Validity and Consequential
  Validity
  </h3>

  <div>
    <p class="c0"><span class="c3">There are two additional aspects
  of validity that often arise in discussions of assessment. You
  can find basic information on each by clicking on the links
  below:</span></p>
<p class="c0 c10"><span class="c3"><b>Face
  Validity</b><br>
<a class="c8"
  href="http://www.simplypsychology.org/face-validity.html">Simply
  Psychology: Face Validity</a><br>
<a class="c8"
  href="http://jalt.org/test/rob_1.htm">Face Validity: Is there a
  place for this in measurement?</a>
</span></p>

<p class="c0 c10"><span class="c3"><b>Consequential
  Validity</b><br>

<a class="c8"
  href=
  "http://research.collegeboard.org/services/aces/validity/handbook/evidence#consequentialvalidity">Validity
  Evidence: Consequential Validity</a><br>
<a class="c8"
  href=
  "http://www.truescores.com/2005/07/consequences-of-consequential-validity.html">The
  Consequences of Consequential Validity</a><br>

</span></p>

<p class="c0"><span class="c3 c5">NOTE:</span> <span class=
  "c3">You may also do your own web search and discuss these terms
  based on the information you find. Please include citations and
  the web address of outside information you add to the
  course.</span></p>

  <p class="c0"><span class="c3">Popham also discusses these two
  terms in a section titled “</span><span class="c3">Sanctioned and
  Unsanctioned Forms of Validity Evidence”</span><span class=
  "c3 c11">&nbsp;</span><span class="c3">(page
  118-119)</span><span class="c3">. This is one part of the
  textbook where your lead instructor, Dr. Hickey, as well as many
  assessment scholars, disagree vehemently with Popham. We will
  return to this issue in the next unit on formative
  assessment.</span></p>

  <p class="c0"><span class="c3">For each of your assessments,
  discuss whether you would consider Face Validity and how you
  would consider it. Then, speculate about the potential
  consequences of each of your assessments for the way you teach
  and the way students learn; that is, consider the Consequential
  Validity of each assessment.</span></p>


<p><span><ol style="font-weight: bold; list-style-type: upper-alpha;">
<li>Selected-Response
  Items</li>
<li>Constructed-Response Items</li>
<li>Essay
  Item</li>
<li>Performance or
  Portfolio
</li>
<li>Most Relevant High Stakes Test</li>

</ol></span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.face_and_consequential }}</div>

<div class="wiki-question">
  <h3>
Apply Types of Validity
  </h3>

  <div>
    <p class="c4"><span>Rank the three Types of Validity in order of
  relevance within your role and context (see Table 4.1, Popham, p.
  102).</span></p>

  <ul class="c15 lst-kix_w3ut1v5r98bm-0 start">
    <li class="c12 c4 c6"><span class=
    "c3">Content-Related</span></li>

    <li class="c12 c4 c6"><span class=
    "c3">Criterion-Related</span></li>

    <li class="c4 c6 c12"><span class=
    "c3">Construct-Related</span></li>
  </ul>

  <p class="c4"><span class="c5">Add brief
  justifications</span><span>&nbsp;for the Types of Validity that
  you chose as</span> <span class=
  "c5">most</span><span>&nbsp;relevant,</span> <span class=
  "c5">second most</span><span>&nbsp;relevant, and the</span>
  <span class="c5">least</span> <span>relevant, keeping in mind
  your role and context.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.apply_types }}</div>

<div class="wiki-question">
  <h3>
Big Ideas
  </h3>

  <div>
    <p class="c4"><span>Review the chapter, assignment, and your
  peers’ wikifolios. Also, read the</span><span class=
  "c11">&nbsp;Chapter Summary</span> <span>and</span> <span class=
  "c11">What Teachers Need to Know. &nbsp;</span><span class=
  "c5">Come up with three big ideas about validity.</span>
  <span>&nbsp;Number the ideas (1, 2, 3) and list them in order of
  importance to you, keeping in mind your role and context. Write a
  brief summary/explanation of each idea where you make it clear
  why they are relevant to you. These are the BIG ideas of the
  chapter not the more specific concepts listed above. You should
  refer to the</span> <span class="c11">What Teachers Need to
  Know….</span> <span>section and the summary at the end of the
  chapter.</span> <span class="c3">Try to insert your experience
  and academic domain into this discussion.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.big_ideas }}</div>

<h2>OPTIONAL ELEMENTS (MOST BY
  OCTOBER 20)</h2>

<div class="wiki-question">
  <h3>
Considering Consequential
  Validity
  </h3>

  <div>
    <p class="c4"><span class="c3">Write a paragraph or two where you
  discuss the potential push back on Popham’s position on
  Consequential Validity as well as your own view on Consequential
  Validity. Consider this question: Can you imagine why Dr. Hickey
  argues that Popham’s dismissal of Consequential Validity reflects
  an overly narrow view of learning, and one that dismisses the
  role of discourse and participation?</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.consequential_validity }}</div>

<div class="wiki-question">
  <h3>
Validity versus
  Reliability
  </h3>

  <div>
     <p class="c4"><span class="c3">In your own words, using your own
  role and context, explain the difference between Validity and
  Reliability. Be sure to state specifically how they are
  related.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.validity_vs_reliability }}</div>

<div class="wiki-question">
  <h3>
Self-Check
  </h3>

  <div>
    <p class="c4"><span>Take the self-check at the end of the
  chapter.</span> <span class="c5">&nbsp;</span><span>Answer all
  four questions without looking up the answers. If you can't
  answer the items you should go back over that section.</span>
  <span class="c5">Say a few words about the ones you got wrong and
  why.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.self_check }}</div>

<div class="wiki-question">
  <h3>
Pondertime
  </h3>

  <div>
    <p class="c4"><span>Ponder the Pondertime questions. &nbsp;Do so
  in light of your role and and aspirations and identify the
  question that is most relevant to you. &nbsp;</span><span class=
  "c5">Write a response to the most relevant question that includes
  an explanation of why it is most relevant to you.
  &nbsp;</span><span>In particular consider how your role and
  domain impacted the relevance of the questions for
  you.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.pondertime }}</div>

<div class="wiki-question">
  <h3>
Reflection (By October
  27)
  </h3>

  <div>
     <p class="c4"><span>Post three brief reflections. You should
  write a coherent reflection that demonstrates understanding of
  the concepts and how they related to your curricular aims and
  context. On your Wikifolio, be sure to label each of the three
  types of engagement as you present your reflection.</span></p>


  <p class="c4 c10"><span class="c5">A. Consequential
  Engagement.</span> <span>What might you do differently after
  reading about this week’s topic and completing this
  assignment?</span></p>

  <p class="c4 c10"><span class="c5">B. Critical Engagement.</span>
  <span class="c7">How well-suited was your role and curricular aim
  to learning this week’s concepts and big ideas? &nbsp;Did one of
  your classmates have a better context for learning some of these
  concepts? &nbsp;Note that</span> <span class="c7 c5">you are NOT
  being asked to critique how well you did</span><span class="c7">.
  &nbsp;Rather you are reflecting on the fit between your aim and
  role and the concepts we learned this week.</span></p>

  <p class="c4 c10"><span class="c5">C. Collaborative
  Engagement.</span> <span>Whose comments and examples were
  particularly helpful for your completing this assignment?
  &nbsp;</span><span class="c5">Be specific and name people and
  what they contributed that was helpful.</span></p>


  <p class="c4"><span>You are advised to begin drafting the
  reflections while you are working on the Wikifolio, and then to
  complete them before starting the next assignment. &nbsp;They
  should serve as a review and help you better connect the ideas of
  the chapter to your practice.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.reflection }}</div>

<script>
  $(document).ready(function() {
    var icons = {
      header: "ui-icon-circle-triangle-e",
      activeHeader: "ui-icon-circle-triangle-s"
    };
    // TODO: maybe collapse by default if we're not editing???
    $('.wiki-info-collapsible').accordion({
      collapsible: true,
      //active: 0,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
    $('.wiki-question').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
  });
</script>
{% endblock %}

{% block assignment_completion_instructions %}
<div class="wiki-question">
  <h3>
    Endorse and Promote
  </h3>

  <div>
    <h4>Endorse (by October 24)</h4>

    <p class="c4"><span class="c7">While you are commenting, you
  should</span><span class="c7 c5">&nbsp;endorse at least three of
  your classmates’ Wikifolios for being complete</span><span class=
  "c7">. If your classmate has completed the required Consider the
  Concepts elements of the assignment, click the box that
  says</span> <span class="c7 c11">Required Elements Completed.
  &nbsp;</span><span class="c7">If your classmate has completed all
  of the optional elements (except for the reflection) click</span>
  <span class="c7 c11">All Elements Completed. &nbsp;</span></p>

  <p class="c4"><span class="c7">Your own Wikifolios needs to be
  endorsed by at least one classmate to count towards course
  completion. If you completed your wikifolio and it was not
  endorsed by a classmate, email
  boocteachingassistant@gmail.com.</span></p>


    <h4>
      Promote (by October 24)
    </h4>
 <p class="c4"><span class="c7">As part of reviewing and
  discussing, promote one (and only one) of your classmates’
  Wikifolios as being exemplary</span> <span class="c7 c5">from
  your perspective. &nbsp;</span><span class="c7">Your reference
  group is whatever set you choose to review. &nbsp;Ideally you
  should select promote the one wikifolio that is exemplary out of
  your networking group.</span><span class=
  "c7 c5">&nbsp;</span><span class="c7">Click the box that
  indicates you wish to mark it as exemplary and</span>
  <span class="c7 c5">indicate what was exemplary about it that
  helped you understand the chapter concepts.</span></p>

  <p class="c4"><span class="c7">This does not have to mean it was
  that best or even most complete. &nbsp;But rather it was an
  exemplary consideration of the chapter concepts in a way that
  helped you better understand them. A “leader” badge will be
  issued for each of the the three sections for the member of each
  networking group whose Wikifolio gets the most
  promotions.</span></p>
  </div>
</div>
{% endblock %}

{% block comment_instructions %}
<div class="wiki-question">
  <h3>Post Questions and Discuss</h3>

  <div>
    <h4>
      Post Questions (by October
      24)
    </h4>

    <p class="c4"><span class="c7 c5">Post at least one question as a
  comment</span><span class="c7">&nbsp;to your classmates and the
  instructor that this assignment raised for you, given your role
  and setting. &nbsp;Try to not ask “known answer” yes/no
  questions. &nbsp;Rather ask questions that can get some
  discussion started.</span></p>

    <h4>
      Discuss (October
      20-24)
    </h4>

   <p class="c4"><span class="c7">Review the wikifolios of your
  groupmates and find ones that look interesting to you.
  &nbsp;Engage in discussion with them by posting questions or
  responding to their questions. &nbsp;</span><span class=
  "c7 c5">Be sure to put responses in the box for responses.
  &nbsp;If there are multiple responses make it clear which
  response you are responding to.</span> <span class="c7">The goal
  here is to generate discussion threads that consider how the
  chapter concepts and considerations take on different meanings
  for different students.</span></p>
  </div>
</div>
{% endblock %}
