{% extends layout_template if layout_template is defined else 'wf_page.html' %}
{% block wiki_content %}
<style type="text/css">
  .c13{margin:0;padding:0}
  .c4{padding-left:0pt;margin-left:36pt}
  .c10{text-indent:-18pt;margin-left:36pt}
  .c1{font-weight:bold}
  .c11{font-size:7pt}
  .c3{font-weight:bold}
  .c12{text-align:center}
  .c9{margin-left:30pt}
  .c8{font-style:italic}
  .c5{height:11pt}
  .wiki-question ol{margin:0;padding:0}
</style>

<div class="highlight-box big-note">Watch a 16-minute video by Dr. Hickey on
  <a href="https://www.youtube.com/watch?v=Hnc0swrRX6A"
    target="_blank">Selected Response Test Items</a> (opens in a new window).</div>

<div class="wiki-info-collapsible">
  <h2>Overview</h2>

  <div>
    <p class="c2"><span>In</span><span>&nbsp;this assignment, you
    will &nbsp;learn some "commandments" for writing test items in
    general and the specific guidelines for four common
    selected-response formats. &nbsp;You will do so by creating some
    constructed response items for your curricular aim. Consider the
    following:</span></p>
  
    <ul class="c13 lst-kix_acnlucwko42t-0 start">
      <li class="c4 c2"><span>In this assignment, you will use most
      of the key concepts from Chapter 6 in Popham’s text</span>
      <span class="c8">Classroom Assessment: What Teachers Need to
      Know.</span><span>&nbsp;</span><span>To really master these
      ideas, read the entire chapter in the context of completing the
      assignment.</span></li>
  
      <li class="c4 c2"><span>You are not necessarily making items
      you will actually use. &nbsp;Rather you are creating items to
      learn about the commandments, formats, and guidelines.
      &nbsp;You will do so by figuring out which more relevant to
      your role and aim.</span></li>
  
      <li class="c2 c4"><span>You are expected to become familiar
      with the items and guidelines for all four item formats, even
      though you are only required to make items for two (the second
      two are optional elements).</span></li>
    </ul>
  </div>
</div>
<p>

<div class="wiki-question">
  <h3>REITERATE YOUR CONTEXT (BY
    MAY 25)</h3>

  <p class="c2"><span>Summarize</span><span>&nbsp;your curricular aim
    and role from the first assignment. &nbsp;This is for the benefit
    of the classmates and instructors (to give them context). This is
    also for your benefit because new insights about your aim and
    role will come to you each week. &nbsp;You are expected to refine
    your aim and context as your understanding evolves alongside your
    growing knowledge of assessment.</span></p>
</div>
<div class="wiki-user-content">{{ fields.context }}</div>

<h2>
  CONSIDER THE CONCEPTS (ALL
  REQUIRED BY MAY 25)
</h2>


<div class="wiki-question">
  <h3>
    Relevant Selected-Response
    Formats
  </h3>

  <div><p class="c2"><span>Read about the advantages and disadvantages of the
      four selected-response item types (<em>binary-choice</em>, <em>multiple
        binary-choice</em>, <em>multiple-choice</em> and <em>matching</em>).
       Consider their strengths and weakness and review the guidelines for each
      in light of your curricular aim.  You may also search for additional
      information on the Internet or refer to these resources from <a
        href="http://www.uta.edu/irp/unit-effectiveness-process/assets/AssessMethods.pdf"
      target="_blank">UT-Austin</a>, <a
      href="http://www.uleth.ca/teachingcentre/creating-selected-response-questions"
      target="_blank">University of Lethbridge</a>,
    <a href="http://ethemes.missouri.edu/themes/1541?locale=en" target="_blank">Missouri</a>, and 
    <a href="http://fcit.usf.edu/assessment/selected/responseb.html" target="_blank">USF</a>.</span></p>

    <h4>
      Item-Writing Guidelines
    </h4>
    <p>
    From Popham, Classroom Assessment, 7th Edition.  Consider these summaries, and the guidelines
    for writing each kind of item.
    </p>

    <p>
    <h5>Binary-Choice Items (p. 161) can be completed very quickly, but they can encourage and reward
      memorization, and students have a 50% chance of guessing the right answer.</h5>
    <ul>
      <li>Phrase items so that a superficial analysis by the student suggests a wrong answer.</li>
      <li>Rarely use negative statements, and never use double negatives.</li>
      <li>Include only one concept in each statement.</li>
      <li>Have an approximately equal number of items representing the two categories being tested.</li>
      <li>Keep item length similar for both categories being tested.</li>
    </ul>
    </p>

    <p>
    <h5>Multiple Choice-Binary Items (p. 164) are difficult to create, but can get at deeper
  understanding, are more reliable, and can be repurposed.</h5>
    <ul>
      <li>Separate item clusters vividly from one another.</li>
      <li>Make certain that each item meshes well with the cluster’s stimulus material.</li>
    </ul>
    </p>

    <p>
    <h5>Multiple-Choice Items (p. 166) are familiar and can include responses that cover a range
  of relative correctness, but it can be difficult to make ones that work really well.</h5>
    <ul>
      <li>The stem should consist of a self-contained question or problem.</li>
      <li>Avoid negatively stated stems.</li>
      <li>Do not let the length of alternatives supply unintended clues.</li>
      <li>Randomly assign correct answers to alternative positions.</li>
      <li>Never use “all-of-the-above” alternatives, but do use “none-of-the-above” alternatives to increase item difficulty.</li>
    </ul>

    </p>
    <p>
    <h5>Matching Items (p. 172) are compact and readily scored, but encourage and reward
  memorization of surface knowledge.</h5>
    <ul>
      <li>Employ homogeneous lists.</li>
      <li>Use relatively brief lists, placing the shorter words or phrases to the right.</li>
      <li>Employ more responses than premises.</li>
      <li>Order the responses logically.</li>
      <li>Describe the basis for matching and the number of times responses may be used.</li>
      <li>Place all premises and responses for an item on a single page.</li>
    </ul>
    </p>

    <p><b>Rank the four item types</b> according to relevance to your role and context.
    That is, rank them from which format is the <em>most relevant to you in your role and context</em>
    to which is <em>least relevant to you in your role and context</em>.  Then <b>provide
      a rationale for your ranking</b>.  Say something about each format, and if you think two or more
    are equally relevant, you should say so.
  </div>
</div>
<div class="wiki-user-content">{{ fields.rank_formats }}</div>
<div class="wiki-user-content">{{ fields.justify_formats }}</div>

<div class="wiki-question">
  <h3>
    Create Two Selected-Response Items
    (Most Relevant Formats)
  </h3>

  <div>
    <p class="c2"><span>Create selected response items for your
      curricular aim using the</span> <span class="c3">two item
      types</span> <span>that you ranked as</span> <span class=
      "c3 c8">most relevant</span><span>&nbsp;to your role and
      context</span><span class="c3">.</span> <span>Your main goal is
      to apply the General Item-Writing Commandments and the specific
      Item-Writing Guidelines for each of the selected-response item
      types (the commandments and guidelines are summarized below and
      detailed in Chapter 6</span><span>).</span></p>
  
    <p class="c2"><span>Under each of your two items, rank the
      specific Item-Writing Guidelines from most relevant to least
      relevant in terms of how the guidelines influenced your
      construction of that item. Write a brief explanation for the most
      relevant guideline. &nbsp;You may wish to reference the
      Assignment FAQ on</span> <span class="c8">Relevance.</span></p>
  
    <p class="c2"><span>You may struggle a bit with formatting this
      part of your assignment. &nbsp;You may find the table tool
      helpful for formatting. &nbsp;Don’t try to make it look too
      pretty if you are having problems.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.create_items }}</div>


<div class="wiki-question">
  <h3>
    Apply General Item-Writing
    Commandments
  </h3>
  
  <div>
    <p class="c2"><span>Popham lists five General Item-Writing
    Commandments (page 156). Rearrange the boxes to rank which are the most relevant
    to you and your context.
    </span></p>
    
    <p class="c2"><span class="c3">Add brief
      justifications</span><span>&nbsp;for the General Item-Writing
      Commandments that you chose as</span> <span class=
      "c3">most</span><span>&nbsp;relevant and the one you chose
      as</span> <span class="c3">least</span> <span>relevant, keeping
      in mind your aim, role and context.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.rank_commandments }}</div>
<div class="wiki-user-content">{{ fields.explain_commandments }}</div>

<div class="wiki-question">
  <h3>
  Big Ideas
  </h3>
  
  <p class="c2"><span>Review the chapter and assignment and read
  the Chapter 6</span> <span class="c8">Summary</span>
  <span>and</span> <span class="c8">What Teachers Need to Know.
  &nbsp;</span><span class="c3">Come up with three big ideas about
  selected-response formats</span><span>. &nbsp;</span><span>Number
  the ideas (1, 2, 3) and list them in order of importance to you,
  keeping in mind your role and context. Write a brief
  summary/explanation of each idea where you make it clear why they
  are relevant to you. These are the BIG ideas of the chapter not
  the more specific concepts listed above.</span> <span class=
  "c0">Try to insert your experience and academic domain into this
  discussion.</span></p>
</div>
<div class="wiki-user-content">{{ fields.big_ideas }}</div>

<div class="wiki-question">
  <h2>
    INTERACT WITH PEERS (ALL
    REQUIRED, MAY 25-29)
  </h2>
  
  <div>
    <p class="c2"><span class="c7">A major goal of this course is
    helping you learn to interact with your professional peers
    regarding educational assessment. &nbsp;This will be new to many
    of you. &nbsp;You should come to see how the practices and
    concepts were are learning take on different meaning in different
    contexts.</span> <span class="c1">This will be challenging at
    first but the class will do the same thing each week and will
    find a natural rhythm</span><span class="c7">. &nbsp;Be sure to
    save time each week for these interactions, they are very
    important.</span></p>
    
    <h3>Post Questions (by May 25)</h3>
    
    <p class="c2"><span class="c1">Post at least one question as a
    comment</span> <span class="c7">at the bottom of your
    wikifolio. &nbsp;Try to not ask “known answer” yes/no questions.
    &nbsp;Rather, ask questions that can get some discussion started.</span></p>

    <h3>
      Discuss (May 25-29)
    </h3>
    
    <p class="c2"><span class="c7">Review the wikifolios of your
    groupmates and find ones that look interesting to you.
    &nbsp;</span><span class="c1">Engage in discussion with them by
    posting questions</span><span class="c7">&nbsp;or responding to
    their questions. &nbsp;The goal here is to generate discussion
    threads that consider how the chapter concepts and considerations
    take on different meanings for different students.</span></p>
    
    <h3>Endorse (by May 29)</h3>
    
    <p class="c2"><span class="c7">While you are commenting, you
    should</span><span class="c1">&nbsp;endorse at least three of
    your classmates’ Wikifolios for being complete</span><span class=
    "c7">. If your classmate has completed the required Context and
    Concepts elements of the assignment, click the box that
    says</span> <span class="c7 c8">Required Elements Completed.
    &nbsp;</span><span class="c7">If your classmate has completed all
    of the optional elements (except for the reflection) click</span>
    <span class="c7 c8">All Elements Completed. &nbsp;</span></p>
    
    <p class="c2"><span class="c7">Your own Wikifolios needs to be
    endorsed by at least one classmate to count towards course
    completion. If you completed your wikifolio and it was not
    endorsed by a classmate, email
    boocteachingassistant@gmail.com.</span></p>
    
    <h3>Promote (by May 29)</h3>
    
    <p class="c2"><span class="c7">As part of reviewing and
    discussing, promote one (and only one) of your classmates’
    Wikifolios as being exemplary</span> <span class="c1">from your
    perspective. &nbsp;</span><span class="c7">Click the box that
    indicates you wish to mark it as exemplary and</span>
    <span class="c1">indicate what was exemplary about it that helped
    you understand the chapter concepts.</span></p>
    
    <p class="c2"><span class="c7">This does not have to mean it was
    that best or even most complete. &nbsp;But rather it was an
    exemplary consideration of the chapter concepts in a way that
    helped you better understand them. A “leader” badge will be
    issued for each of the the three sections for the member of each
    networking group whose Wikifolio gets the most
    promotions.</span></p>
  </div>
  
</div>

<h2>OPTIONAL ELEMENTS</h2>

<div class="wiki-question">
  <h3>Self-Check (by May 25)</h3>
  
  <p class="c2"><span>Take the self-check in Chapter 6.</span>
  <span class="c3">&nbsp;</span><span>Answer all four questions
  without looking up the answers. If you can't answer the items you
  should go back over that section.</span> <span class="c3">Say a
  few words about the ones you got wrong and why.</span></p>
</div>
<div class="wiki-user-content">{{ fields.self_check }}</div>


<div class="wiki-question">
  <h3>Pondertime (by May 25)</h3>
  
  <p class="c2"><span>Ponder the Pondertime questions. &nbsp;Do so
  in light of your role and and aspirations and identify the
  question that is most relevant to you. &nbsp;</span><span class=
  "c3">Write a response to the most relevant question that includes
  an explanation of why it is most relevant to you.</span></p>
</div>
<div class="wiki-user-content">{{ fields.pondertime }}</div>


<div class="wiki-question">
  <h3>Reflection (by June 1)</h3>

  <div>
      <p><span>Reflect on your engagement (within one week
        of the original deadline). Post three brief reflections. You should
        write a coherent reflection that demonstrates understanding of
        the concepts and how they related to your curricular aims and
        context. On your Wikifolio, be sure to label each of the three
        types of engagement as you present your reflection.</span></p>

    <p>
      <ol style="list-style-type: upper-alpha">
        <li class="c4"><strong>Consequential
          Engagement.</strong> <span>What might you do differently after
          reading about this week’s topic and completing this
          assignment?</span></li>
  
        <li class="c4"><span>
          <strong>Critical Engagement.</strong>
          How well-suited was your role and curricular aim
            to learning this week’s concepts and big ideas? &nbsp;Did one of
            your classmates have a better context for learning some of these
            concepts? &nbsp;Note that <span class="c1">you are NOT
            being asked to critique how well you did</span>.
            &nbsp;Rather you are reflecting on the fit between your aim and
            role and the concepts we learned this week.
        </span></li>
  
        <li class="c4"><strong>Collaborative
          Engagement.</strong> <span>Whose comments and examples were
          particularly helpful for your completing this assignment?
          &nbsp;</span><span class="c3">Be specific and name people and
          what they contributed that was helpful.</span></li>
      </ol>
    </p>

    <p class="c2"><span>You are advised to begin drafting the
      reflections while you are working on the Wikifolio, and then to
      complete them before starting the next assignment. &nbsp;They
      should serve as a review and help you better connect the ideas of
      the chapter to your practice.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.reflection }}</div>

<script>
  $(document).ready(function() {
    var icons = {
      header: "ui-icon-circle-triangle-e",
      activeHeader: "ui-icon-circle-triangle-s"
    };
    // TODO: maybe collapse by default if we're not editing???
    $('.wiki-info-collapsible').accordion({
      collapsible: true,
      //active: 0,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
    $('.wiki-question').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
  });
</script>
{% endblock %}
