{% extends layout_template if layout_template is defined else 'wf_page.html' %}
{% block wiki_content %}
<style type="text/css">

  .letter-list {list-style-type: upper-alpha;}
.c1{padding-left:0pt;margin-left:36pt}
.c9{color:#99bbf6;text-decoration:underline}
/*.c11{margin:0;padding:0}*/
.c7{font-weight:bold}
.c0{direction:ltr}
.c10{height:11pt}
.c8{text-align:center}
.c6{font-style:italic}
</style>

<div class="highlight-box big-note">Watch a video by Dr. Hickey (forthcoming)
</div>


<div class="wiki-info-collapsible">
  <h3>Overview</h3>

  <div>
 <p class="c0"><span class="c2">In this assignment, you will learn
  about evaluating instruction, teaching, and teachers. &nbsp;These
  topics raise issues that are both complex and controversial.
  &nbsp;This unit is intended to prepare you to engage with peers,
  colleagues, and administrators around these topics.
  &nbsp;</span></p>


  <p class="c0"><span class="c2">Some of you will have to adapt
  your role and context for this assignment. &nbsp;If you feel you
  cannot apply any of the concepts to your context, be sure to
  demonstrate sufficient understanding of the concepts to explain
  why they are not relevant</span></p>


  <p class="c0"><span class="c2 c7">About the K-12 landscape in the
  US.</span> <span class="c2">&nbsp;Teacher accountability is
  evolving quickly in the US. Because the 7th edition of the text
  was published in 2013, it was likely written in 2012 or even
  2011. Some aspects of the text are already out of date.
  &nbsp;Some information on the web is also getting quite outdated.
  This assignment is prepared to bring you up to speed with the
  current situation</span> <span class="c2 c6">and</span>
  <span class="c2">prepare you to make sense of the many changes to
  come. &nbsp;This assignment is also intended to help teachers,
  administrators, and researchers learn to talk to each other about
  these potentially contentious topics. &nbsp;There</span>
  <span class="c2 c6">will</span> <span class="c2">be tensions as
  state educational administrators simultaneously introduce new
  standards, tests, and accountability schemes. You need to be
  prepared!</span></p>
  </div>
</div>



<div class="wiki-question">
  <h3>
Reiterate Your Context (by July 20)
  </h3>

  <div>
 <p class="c0"><span class="c2">Provide a short summary of your
  curricular aim and role for the benefit of your classmates and
  the instructor (so they don’t have to look back). &nbsp;You
  should also add any new insights about your curricular aim and
  context that have emerged as you have thought about it more in
  the previous assignment(s). &nbsp;What is it about your context
  that impacts the following questions: How do you or might you
  evaluate your own instruction? &nbsp;How will your instruction be
  evaluated? &nbsp;(Or, how will you evaluate the instruction of
  others?) Will one person’s instruction be compared to that of
  other teachers? &nbsp;You should be forming some informed
  opinions about this important topic by now.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.context }}</div>
{{ inline_save() }}



<h2>Consider The Concepts (All
  Required By July 20)</h2>


<div class="wiki-question">
  <h3>
Consider Evaluating
  Instruction
  </h3>

  <div>
 <p class="c0"><span class="c2">Read/Review the first part of
  Chapter 15 on evaluating instruction. &nbsp;As summarized on page
  378, Popham describes two types of evidence that typically are or
  might be used to evaluate instruction:  Evidence from classroom
assessments, and evidence from accountability tests.</span></p>

  <p class="c0"><span class="c2">Rearrange the two boxes below into
  the order that indicates which kind of evidence is most relevant
  to evaluating instruction in your context. <b>You must move the
    boxes at least once for your choice to register.</b>
    In the space
  below, draw on the text to describe what each of these types of
  evidence might look like for you and make it clear why the first
  type of evidence is most relevant and the last is the least
  relevant. &nbsp;You likely want to revise this after completing
  the rest of the assignment.</span></p>
  </div>
</div>
<!-- TODO: ranking -->
<div class="wiki-user-content">{{ fields.rank_evaluating_instruction }}</div>
<div class="wiki-user-content">{{ fields.justify_evaluating_instruction }}</div>
{{ inline_save() }}






<div class="wiki-question">
  <h3>
Consider Using Classroom
  Assessment Evidence
  </h3>

  <div>
<p class="c0"><span class="c2">Instruction is often evaluated by
  comparing what students know before the instruction to what they
  know after the instruction is given. Many educators have never
  actually evaluated their own instruction in this way. &nbsp;Many
  who do are surprised at what they discover. Students often do
  surprisingly well on pretests; in many classrooms, some students
  will score higher on pretests than other students score on the
  post-test. &nbsp;More generally, the use of pretests often
  reveals that students are not learning nearly as much as teachers
  would otherwise think they were learning.</span></p>


  <p class="c0"><span class="c2">There are two primary ways of
  using evidence from classroom assessments to evaluate
  instruction.  Drag the boxes into the order that
  indicates which design is most relevant and useful for you. In
  the text box below, describe how you might use each to evaluate
  your instruction and the advantages and disadvantages. &nbsp;Be
  sure to indicate why the first is more relevant and useful than
  the second.</span></p>
  </div>
</div>
<!-- TODO -->
<div class="wiki-user-content">{{ fields.rank_classroom_evidence }}</div>
<div class="wiki-user-content">{{ fields.justify_classroom_evidence }}</div>
{{ inline_save() }}






<div class="wiki-question">
  <h3>
Consider Instructional
  Sensitivity
  </h3>

  <div>
<p class="c0"><span class="c2">One of the biggest challenges when
  evaluating instruction is having items that are sensitive to the
  curricular aim of the instruction. &nbsp;Even when items are
  aligned to the aim, they are often too easy or too hard for some
  (or even all) students. &nbsp; Popham does a nice job simplifying
  instructional insensitivity on pages 389-393, and then list six
  causes of instructionally insensitive items on 397-398.
  &nbsp;</span></p>

  <p class="c0"><span class="c2">Popham discusses instructional
  sensitivity in the context of external accountability tests, but
  instructional sensitivity is also a big challenge for classroom
  assessments. &nbsp;The challenge is somewhat different for the
  pre-posttest design using classroom assessments than it is for
  external accountability tests. &nbsp;Consider these sources of
  insensitivity in the context of whichever kind of evidence
  (classroom or accountability) you ranked as most relevant
  above.</span></p>

 <p class="c0"><span class="c2">Drag the boxes to indicate their
  order of relevance for your aim and context, and for evaluating
  instruction using evidence from classroom assessments or external
  accountability tests (whichever one you chose as most relevant
  above). &nbsp;In the text box below, add a brief justification
  for the cause that you felt was more relevant and the cause that
  you felt was least relevant, given your aim, context, and type of
  evidence.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.rank_sensitivity }}</div>
<div class="wiki-user-content">{{ fields.justify_sensitivity }}</div>
{{ inline_save() }}






<div class="wiki-question">
  <h3>
Evaluating Teaching and
  Teachers
  </h3>

  <div>

  <p class="c0"><span class="c2">“In the last few years we have
  seen an enormous increase in the clamor for</span> <span class=
  "c2 c6">test-based teacher evaluation</span><span class=
  "c2">--that is, teacher appraisals in which the dominant (but not
  the only) determiner of a teacher’s quality is the performance of
  a particular teacher’s students on an externally imposed
  standardized achievement test” (Popham, p. 384).</span></p>


  <p class="c0"><span class="c2">Popham has a lot of opinions about
  test-based teacher evaluation in Chapter 15 and in this</span>
  <span class="c9 c2"><a class="c4" href=
  "http://www.oregonlive.com/opinion/index.ssf/2010/02/test_scores_and_teacher_compet.html">
  Oregon Live column</a></span><span class="c2">. &nbsp;Popham’s
  big point in the chapter is that teachers should be evaluated
  using instructionally sensitive tests in concert with teacher
  made assessments. &nbsp;The challenge is that making
  accountability tests sufficiently “objective” for making
  high-stakes evaluations of teachers (as the US and many countries
  are trying to do) makes them less sensitive to a particular
  teacher’s instruction. &nbsp;</span></p>


  <p class="c0"><span class="c2">On page 386-387 Popham
  describes</span> <span class="c2 c6">student growth
  percentiles</span> <span class="c2">introduced in the US with the
  2002 No Child Left Behind act. &nbsp;He also describes some of
  the problems with using student growth percentiles. &nbsp;On
  pages 396-397, Popham describes the</span><span class=
  "c2 c6">&nbsp;</span><span class="c2">new</span> <span class=
  "c2 c6">value-added models</span> <span class="c2">which
  proponents say address the shortcomings of student growth
  percentiles. &nbsp;Popham argues that value added models are
  “regarded by most non-partisans as inappropriate for evaluating
  the quality of educators’ endeavors” &nbsp;(p. 396). &nbsp;For
  now in the US and some other countries, the “partisans” of
  value-added modeling have prevailed. &nbsp;Value-added evaluation
  of teachers is central element of the US</span> <span class=
  "c2 c6">Race to the Top</span> <span class="c2">initiative.
  &nbsp;Most states in the US belong to one of two large
  coalitions, which are developing new tests and value-added
  accountability policies that will be phased in over the coming
  years.</span></p>


  <p class="c0"><span class="c2">If value-added policies impact
  your work, you need to be familiar with the techniques and
  policies. &nbsp;Read the sections in Popham carefully, and then
  review the following resources on teacher evaluation. You are
  also encouraged to search for other resources on the Internet to
  share with your classmates.</span></p>


  <p class="c0"><span class="c2">As you review them, drag the boxes
  so that the resources that are most relevant to your aim and role
  appear first. &nbsp;Then, in the text box below, summarize the
  resource you find to be most relevant and explain why it is
  relevant given your aim, context, and role. &nbsp;If you find
  other resources, paste the links below and explain why they are
  relevant. &nbsp;If the resource you find is more relevant that
  the ones provided, please say so and explain why.
  &nbsp;</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.rank_evaluating_teaching }}</div>
<div class="wiki-user-content">{{ fields.justify_evaluating_teaching }}</div>
{{ inline_save() }}







<div class="wiki-question">
  <h3>
Big Ideas
  </h3>

  <div>
<p class="c0"><span class="c2">Review the chapter, assignment,
  and your peers’ wikifolios. Also, read the</span><span class=
  "c2 c6">&nbsp;Chapter Summary</span> <span class="c2">and</span>
  <span class="c2 c6">What Teachers Need to Know.
  &nbsp;</span><span class="c2">Come up with three big ideas.
  &nbsp;Number the ideas (1, 2, 3) and list them in order of
  importance to you, keeping in mind your role and context. Write a
  brief summary/explanation of each idea where you make it clear
  why they are relevant to you. These are the BIG ideas of the
  chapter not the more specific concepts listed above. You should
  refer to the</span> <span class="c2 c6">What Teachers Need to
  Know….</span> <span class="c2">section and the summary at the end
  of the chapter.</span> <span class="c13 c2">Try to insert your
  experience and academic domain into this discussion.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.big_ideas }}</div>
{{ inline_save() }}

<div class="highlight-box big-note">Take the <a target="_blank"
    href="/activity?unit={{ unit.unit_id }}&lesson=1">Practice Exam Questions</a></div>


<h2>Expertise Elements (most by July 20)</h2>

<div class="wiki-question">
  <h3>
Self-Check
  </h3>

  <div>

  <p class="c0"><span class="c2">Take the self-check at the end of
  the chapter. &nbsp;Answer all of the questions without looking up
  the answers. If you can't answer the items you should go back
  over that section. Say a few words about the ones you got wrong
  and why.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.self_check }}</div>
{{ inline_save() }}






<div class="wiki-question">
  <h3>
Pondertime
  </h3>

  <div>

  <p class="c0"><span class="c2">Ponder the Pondertime questions.
  &nbsp;Do so in light of your role and aspirations and identify
  the question that is most relevant to you. &nbsp;Write a response
  to the most relevant question that includes an explanation of why
  it is most relevant to you. &nbsp;In particular consider how your
  role and domain impacted the relevance of the questions for
  you.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.pondertime }}</div>
{{ inline_save() }}






<div class="wiki-question">
  <h3>Reflection (by July 27)

  </h3>

  <div>

  <p class="c0"><span class="c2">Post three brief reflections. You
  should write a coherent reflection that demonstrates
  understanding of the concepts and how they related to your
  curricular aims and context. On your Wikifolio, be sure to label
  each of the three types of engagement as you present your
  reflection.</span></p>


  <ul class="c11 letter-list lst-kix_1wvhlrfa75se-0 start">
    <li class="c0 c1"><span class=
    "c2">Consequential Engagement. What might you do differently
    after reading about this week’s topic and completing this
    assignment?</span></li>

    <li class="c1 c0"><span class=
    "c2">Critical Engagement.</span> <span class="c3 c2">How
    well-suited was your role and curricular aim to learning this
    week’s concepts and big ideas? &nbsp;Did one of your classmates
    have a better context for learning some of these concepts?
    &nbsp;Note that you are NOT being asked to critique how well
    you did. &nbsp;Rather you are reflecting on the fit between
    your aim and role and the concepts we learned this
    week.</span></li>

    <li class="c1 c0"><span class="c2">Collaborative Engagement.
    Whose comments and examples were particularly helpful for your
    completing this assignment? &nbsp;Be specific and name people
    and what they contributed that was helpful.</span></li>
  </ul>


  <p class="c0"><span class="c2">You are advised to begin drafting
  the reflections while you are working on the Wikifolio, and then
  to complete them before starting the next assignment. &nbsp;They
  should serve as a review and help you better connect the ideas of
  the chapter to your practice.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.reflection }}</div>







<script>
  $(document).ready(function() {
    var icons = {
      header: "ui-icon-circle-triangle-e",
      activeHeader: "ui-icon-circle-triangle-s"
    };
    // TODO: maybe collapse by default if we're not editing???
    $('.wiki-info-collapsible').accordion({
      collapsible: true,
      //active: 0,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
    $('.wiki-question').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
  });
</script>
{% endblock %}


{% block assignment_completion_instructions %}
<div class="wiki-question">
  <h3>
    Endorse and Promote
  </h3>

  <div>
    <h4>Endorse (by July 24)</h4>

     <p class="c0"><span class="c3 c2">While you are commenting, you
  should endorse at least three of your classmates’ Wikifolios for
  being complete. If your classmate has completed the required
  Consider the Concepts elements of the assignment, click the box
  that says</span> <span class="c3 c2 c6">Required Elements
  Completed. &nbsp;</span><span class="c3 c2">If your classmate has
  completed all of the expertise elements (except for the
  reflection) click</span> <span class="c3 c2 c6">All Elements
  Completed. &nbsp;</span></p>


  <p class="c0"><span class="c3 c2">Your own Wikifolios needs to be
  endorsed by at least one classmate to count towards course
  completion. If you completed your wikifolio and it was not
  endorsed by a classmate, email
  boocteachingassistant@gmail.com.</span></p>

    <h4>Promote (by July 24)</h4>

   <p class="c0"><span class="c2 c3">As part of reviewing and
  discussing, promote one (and only one) of your classmates’
  Wikifolios as being exemplary from your perspective. &nbsp;Your
  reference group is whatever set you choose to review.
  &nbsp;Ideally you should select promote the one wikifolio that is
  exemplary out of your networking group. Click the box that
  indicates you wish to mark it as exemplary and indicate what was
  exemplary about it that helped you understand the chapter
  concepts.</span></p>


  <p class="c0"><span class="c3 c2">This does not have to mean it
  was that best or even most complete. &nbsp;But rather it was an
  exemplary consideration of the chapter concepts in a way that
  helped you better understand them. A “leader” badge will be
  issued for each of the the three sections for the member of each
  networking group whose Wikifolio gets the most
  promotions.</span></p>


  </div>
</div>
{% endblock %}

{% block comment_instructions %}
<div class="wiki-question">
  <h3>Post a Question (by July 20) and Discuss (July 20-24)</h3>

  <div>
    <h4>
      Post Questions (by July 20)
    </h4>
 <p class="c0"><span class="c3 c2">Post at least one question as a
  comment to your classmates and the instructor that this
  assignment raised for you, given your role and setting. &nbsp;Try
  to not ask “known answer” yes/no questions. &nbsp;Rather ask
  questions that can get some discussion started.</span></p>

    <h4>Discuss (July 20-24)</h4>
 <p class="c0"><span class="c3 c2">Review the wikifolios of your
  groupmates and find ones that look interesting to you.
  &nbsp;Engage in discussion with them by posting questions or
  responding to their questions. &nbsp;Be sure to put responses in
  the box for responses. &nbsp;If there are multiple responses make
  it clear which response you are responding to. The goal here is
  to generate discussion threads that consider how the chapter
  concepts and considerations take on different meanings for
  different students.</span></p>

  </div>
</div>
{% endblock %}
