{% extends 'wf_page.html' %}
{% block wiki_content %}
<style type="text/css">
  .wiki-question ol{margin:0;padding:0}
  .c6{padding-left:0pt;margin-left:36pt}
  .c12{margin:0;padding:0}
  .c18{text-decoration:underline}
  .c1{height:11pt} /* search and delete this */
  .c14{line-height:1.0}
  .c13{margin-left:36pt}
  .c9{margin-left:30pt}
  .c15{font-style:italic}
  .c7{font-weight:bold}
  .c16{text-indent:36pt}
  .c0{direction:ltr}
  .c17{margin-left:72pt}
  .c11{text-align:center}
</style>

<div class="wiki-info-collapsible">
  <h2>OVERVIEW</h2>

  <div>
    <p class="c0"><span>In this assignment, you will learn specific
      guidelines for making both performance and portfolio assessments.
      You will make either a performance assessment or a portfolio
      assessment.</span></p>


    <ul class="c12 lst-kix_7wb8fsf1lro-0 start">
      <li class="c6 c0"><span>To fully succeed with this assignment,
        read Chapter 8 and Chapter 9 in Popham’s text</span>
      <span class="c15">Classroom Assessment: What Teachers Need to
        Know.</span></li>

      <li class="c6 c0"><span>This is a more complicated assignment
        than the previous one. You</span> <span class="c7">will</span>
      <span>need to return to some of the earlier parts because they
        will not fully make sense until after your work on the later
        parts.</span></li>

      <li class="c6 c0"><span>You are responsible for the guidelines
        and advantages and disadvantages of both formats, even though
        you will only create one assessment.</span></li>

      <li class="c6 c0"><span>This is a detailed assignment. Use your
        time wisely. There is a lot of ground to cover here and you
        want to make sure you save time for commenting and discussion.
        &nbsp;In particular, don't use up all of your time reading the
        chapters if you think you will be short on time.
        &nbsp;</span></li>

      <li class="c6 c0"><span>This is a good time to begin looking
        for outside resources in your domain and context to supplement
        the text. &nbsp;You can find a LOT of useful examples and ideas
        by searching on Google. &nbsp;The best performance and
        portfolio assessments are the ones that have been tried out and
        refined by thoughtful teachers or researchers. so look for
        those.</span></li>

      <li class="c6 c0"><span>You are encouraged to put links to
        outside resources in your wikifolios and to post generally
        useful links to the discussion forum called</span> <span class=
        "c15">Performance and Portfolio Assessment
        Resources.</span></li>
    </ul>
  </div>
</div>
<p>



<div class="wiki-question">
  <h2>REITERATE YOUR CONTEXT (BY
    OCTOBER 6)</h2>

  <div>
    <p class="c0"><span>Reiterate your curricular aim, role, and
      domain. &nbsp;Don’t simply cut and paste the previous one. Review
      the two chapters and think hard about how your aim, role, and
      domain intersect with these formats. Some of you are already
      using them, while some of you will find them problematic.
      &nbsp;</span></p>

    <p class="c0"><span>You might want to look ahead to the chapters
      on validity, reliability, and formative assessment. If your
      assessment context has high-stakes associated with it, then the
      reliability issues with these formats might be a big concern. If
      your assessment context has is primarily concerned with formative
      feedback that directly enhances student learning, then the
      formats might be perfect. You will be asked to look back at these
      assessments in the later chapters so getting started thinking
      about these issues now is a good idea.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.context }}</div>

<h2>CONSIDER THE CONCEPTS (ALL
  REQUIRED BY OCTOBER 6)</h2>

<div class="wiki-question">
  <h3>
    Advantages and
    Disadvantages
  </h3>

  <div>

    <p class="c0 c14"><span>Review the chapters and read</span>
    <span class="c15">Pros and Cons of Portfolio Assessment</span>
    <span>in Chapter 9; review</span> <span>relevant outside
      resources if you like. Then state the advantages and
      disadvantages of performance assessment AND then portfolio
      assessment</span> <span>(a) in general, (b) from the perspective
      of your role</span><span>, (c) relative to your domain of
      learning, and (d) relative to your lesson. &nbsp;This does not
      have to be exhaustive, but make sure you hit the high points.
      &nbsp;Ideally you should work on this before and after you design
      your assessment.</span></p>

    <p class="c0"><span>Then add a paragraph justifying which format
      you used for this assignment. &nbsp;Explain how the</span>
    <span>assessment format (performance or portfolio) best fits your
      context/role/lesson. &nbsp;</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.advantages_disadvantages }}</div>



<h2>
  DESIGN AND EVALUATE YOUR
  ASSESSMENT
</h2>
<div class="wiki-question">
  <h3>Describe your Performance Task or Portfolio Assessment</h3>

  <div>
    <p class="c0"><b>(ONE OR THE OTHER, BY OCTOBER 6)</b></p>

    <p class="c0"><span class="c7">Describe your Performance Task or
      Portfolio Assessment</span></p>

    <p class="c0"><span class="c7">If you chose performance
      assessment:</span> <span class="c10">Read</span> <span class=
      "c5">Identifying Suitable Tasks for Performance
      Assessment.</span> <span class="c10">If your original aim does
      not lend itself to performance assessment, go back and extend or
      expand it accordingly. If the alignment of the assessment to your
      task is a bit off, don’t stress out. Just remember that the main
      goal for this wikifolio is to learn to apply the evaluative
      criteria and the guidelines for rubrics. You might want to work
      on the next section while working on this section.It is a lot
      harder to make good performance assessments than many people
      realize.</span></p>

    <p class="c0"><span class="c7">If you chose portfolio
      assessment:</span> <span class="c10">Read the first part of
      Chapter 9 and review the entire chapter</span> <span class=
      "c10">If your original aim does not lend itself to portfolio
      assessment, be sure to extend or expand it to fit portfolio
      assessment.. If the alignment of the assessment to your task is a
      bit off, don’t stress out. Just remember that the main goal for
      this wikifolio is to learn to apply the evaluative criteria and
      the guidelines for rubrics. You might wish to refer to table 9.1
      in Popham.</span></p>

    <p class="c0"><span>Then d</span><span>escribe the features of
      your performance assessment by elaborating on each of the seven
      ingredients (Popham, p. 236-237). You can adapt or adjust however
      you see fit, but address all seven points.</span></p>

    <ol class="c12 lst-kix_m3mujkohy6dc-0 start" start="1">
      <li class="c6 c0"><span>Make sure your students “own” their own
        portfolios.</span></li>

      <li class="c6 c0"><span>Decide on what kinds of work samples to
        collect.</span></li>

      <li class="c6 c0"><span>Collect and store work
        samples.</span></li>

      <li class="c6 c0"><span>Select criteria by which to evaluate
        portfolio work samples.</span></li>

      <li class="c6 c0"><span>Require students to evaluate
        continually their own portfolio products.</span></li>

      <li class="c6 c0"><span>Schedule and conduct portfolio
        conferences.</span></li>

      <li class="c6 c0"><span>Involve parents in the portfolio
        assessment process.</span></li>
    </ol>

  </div>
</div>
<div class="wiki-user-content">{{ fields.describe }}</div>

<div class="wiki-question">
  <h3>
    Create Scoring Rubrics
  </h3>

  <div>
    <p class="c0"><span class="c10">Use the guidelines for scoring
      rubrics in Chapter 8 to create three scoring rubrics for your
      performance or portfolio assessment. &nbsp;Read</span>
    <span class="c5">Who is Evaluating Whom</span> <span class=
      "c10">and</span> <span class="c5">Appraising Portfolios</span>
    <span class="c10">in Chapter 9 (even if you created a performance
      assessment). &nbsp;</span></p>

    <p class="c0"><span class="c10">Draft (or describe if it is too
      complex) each of the following types of scoring rubrics for your
      performance task. &nbsp;</span></p>

    <ul class="c12 lst-kix_wbkmol7zrbkf-0 start">
      <li class="c6 c0"><span class="c2">Task-Specific
        Rubric</span><span class="c10">&nbsp;(Popham, p. 217).
        &nbsp;These are rubrics where the evaluation criteria are
        solely connected to the task the students perform during the
        assessment. &nbsp;Discuss Popham's critique of task-specific
        scoring rubric. &nbsp;Do you agree with him?</span></li>

      <li class="c6 c0"><span class="c2">Hypergeneral
        Rubric</span><span class="c10">&nbsp;(Popham, p. 218). This is
        what many refer to as a "holistic rubric." &nbsp;Add a sentence
        or two commenting on Popham's critique of hypergeneral rubrics.
        &nbsp;Do you agree?</span></li>

      <li class="c6 c0"><span class="c2">Skill-Focused Rubric</span>
      <span class="c10">(Popham, 219). Draft a skill focused rubric,
        following the five rules. Then, indicate which</span>
      <span class="c5">two</span> <span class="c10">of the five rules
        seem most important to YOU and why. Again, your domain and role
        should be articulated here as relevant. Specifically, you
        should begin to consider scoring from the perspective of an
        instructional leader, administrator, or researcher.</span></li>
    </ul>

    <p class="c13 c0 c16"><span class="c10">Rule 1: Make sure the
      skill to be assessed is significant.</span></p>

    <p class="c0 c17"><span class="c10">Rule 2: Make certain all of
      the rubric’s evaluative criteria can be addressed
      instructionally.</span></p>

    <p class="c17 c0"><span class= "c10">Rule 3:
      Employ as few evaluative criteria as possible.</span></p>

    <p class="c0 c17"><span class="c10">Rule 4: Provide a succinct
      label for each evaluative criterion.</span></p>

    <p class="c0 c17"><span class="c10">Rule 5: Match the length of
      the rubric to your own tolerance for detail.</span></p>

    <p class="c0 c13"><span class="c10">Obviously Popham prefers
      skill-focused rubrics. &nbsp;Do you agree with him? &nbsp; Are
      there any downsides to them?</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.create_rubric }}</div>

<div class="wiki-question">
  <h3>
    Evaluate your
    Assessment
  </h3>

  <div>

    <p class="c0"><span class="c10">Evaluate your performance or
      portfolio assessment according to each of the seven evaluative
      criteria in Chapter 7. Review the criteria first and place them
      in order of relevance for you. &nbsp;Order them as best you can
      but</span> <span class="c2">at minimum explain why the first is
      most relevant and the last is least relevant.</span></p>

    <p class="c0"><span class="c10">Write a brief paragraph about
      each criteria. You may revise your assessment in light of the
      criteria as you go but it is not necessary. But you should
      certainly describe how your assessment might be changed to better
      reflect the criteria. If you do revise it, consider explaining
      what you’ve changed and why. You might have to stretch the
      Chapter 7 criteria a bit to fit Portfolio Assessment but that is
      okay. &nbsp;Here is a summary of the criteria:</span></p>

    <ul class="c12 lst-kix_rqwx1i95xp2q-0 start">
      <li class="c6 c0"><span class=
        "c7">Generalizability:</span><span>&nbsp;Is there a high
        likelihood the students’ performance on the task or activity
        will generalize to a comparable task or activity?</span></li>

      <li class="c6 c0"><span class=
        "c7">Authenticity:</span><span>&nbsp;Is the task or activity
        similar to what students might encounter in the real world as
        opposed to encounter only in school?</span></li>

      <li class="c6 c0"><span class="c7">Multiple
        foci:</span><span>&nbsp;Does the task or activity assess
        multiple instructional outcomes instead of only
        one?</span></li>

      <li class="c6 c0"><span class=
        "c7">Teachability:</span><span>&nbsp;Is the task or activity
        one that students can become more proficient in as a
        consequence of a teacher’s instructional efforts?</span></li>

      <li class="c6 c0"><span class="c7">Fairness:</span> <span>Is
        the task or activity fair to all students--that is, does it
        avoid bias based on such personal characteristics as students’
        gender, ethnicity, or socioeconomic status?</span></li>

      <li class="c6 c0"><span class=
        "c7">Feasibility:</span><span>&nbsp;Is the task or activity
        realistically implementable in relation to its cost, space,
        time, and equipment requirements?</span></li>

      <li class="c0 c6"><span class=
        "c7">Scorability:</span><span>&nbsp;Is the task likely to
        elicit student responses that can be reliably and accurately
        evaluated?</span></li>
    </ul>

  </div>
</div>
<div class="wiki-user-content">{{ fields.evaluate }}</div>

<div class="wiki-question">
  <h3>
    Big Ideas
  </h3>

  <div>

    <p class="c0"><span>Review the chapter, assignment, and your
      peers’ wikis. Also, read the</span><span class=
      "c15">&nbsp;Chapter Summary</span> <span>and</span> <span class=
      "c15">What Teachers Need to Know. &nbsp;</span><span class=
      "c7">Come up with three big ideas about performance AND portfolio
      assessments</span><span>. Number the ideas (1, 2, 3) and list
      them in order of importance to you, keeping in mind your role and
      context. Write a brief summary/explanation of each idea where you
      make it clear why they are relevant to you. These are the BIG
      ideas of the chapter not the more specific concepts listed above.
      You should refer to the</span> <span class="c15">What Teachers
      Need to Know….</span> <span>section and the summary at the end of
      the chapter.</span> <span class="c10">Try to insert your
      experience and academic domain into this discussion.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.big_ideas }}</div>

<div class="wiki-question">
  <h2>
    INTERACT WITH PEERS (ALL
    REQUIRED, OCTOBER 6-10)
  </h2>

  <div>

    <p class="c0"><span class="c3 c7">Post Questions (by OCTOBER
      6)</span><span class="c3">&nbsp;</span></p>

    <p class="c0"><span class="c3 c7">Post at least one question as a
      comment</span><span class="c3">&nbsp;at the bottom of your
      wikifolio to your classmates and the instructor that this
      assignment raised for you, given your role and setting. &nbsp;Try
      to not ask “known answer” yes/no questions. &nbsp;Rather ask
      questions that can get some discussion started.</span></p>

    <p class="c0"><span class="c3 c7">Discuss (OCTOBER
      6-10)</span></p>

    <p class="c0"><span class="c3">Review the wikifolios of your
      groupmates and find ones that look interesting to you.
      &nbsp;Engage in discussion with them by posting questions or
      responding to their questions. &nbsp;</span><span class=
      "c3 c7">Be sure to put responses in the box for responses.
      &nbsp;If there are multiple responses make it clear which
      response you are responding to.</span> <span class="c3">The goal
      here is to generate discussion threads that consider how the
      chapter concepts and considerations take on different meanings
      for different students.</span></p>

    <p class="c0"><span class="c3 c7">Endorse (by OCTOBER
      10)</span></p>

    <p class="c0"><span class="c3">While you are commenting, you
      should</span><span class="c3 c7">&nbsp;endorse at least three of
      your classmates’ Wikifolios for being complete</span><span class=
      "c3">. If your classmate has completed the required Context and
      Concepts elements of the assignment, click the box that
      says</span> <span class="c15 c3">Required Elements Completed.
      &nbsp;</span><span class="c3">If your classmate has completed all
      of the optional elements (except for the reflection) click</span>
    <span class="c15 c3">All Elements Completed. &nbsp;</span></p>

    <p class="c0"><span class="c3">Your own Wikifolios needs to be
      endorsed by at least one classmate to count towards course
      completion. If you completed your wikifolio and it was not
      endorsed by a classmate, email
      boocteachingassistant@gmail.com.</span></p>

    <p class="c0"><span class="c3 c7">Promote (by OCTOBER
      10)</span></p>

    <p class="c0"><span class="c3">As part of reviewing and
      discussing, promote one (and only one) of your classmates’
      Wikifolios as being exemplary</span> <span class="c3 c7">from
      your perspective. &nbsp;</span><span class="c3">Your reference
      group is whatever set you choose to review. &nbsp;Ideally you
      should select promote the one wikifolio that is exemplary out of
      your networking group.</span><span class=
      "c3 c7">&nbsp;</span><span class="c3">Click the box that
      indicates you wish to mark it as exemplary and</span>
    <span class="c3 c7">indicate what was exemplary about it that
      helped you understand the chapter concepts.</span></p>

    <p class="c0"><span class="c3">This does not have to mean it was
      that best or even most complete. &nbsp;But rather it was an
      exemplary consideration of the chapter concepts in a way that
      helped you better understand them. A “leader” badge will be
      issued for each of the the three sections for the member of each
      networking group whose Wikifolio gets the most
      promotions.</span></p>

  </div>
</div>

<h2>OPTIONAL ELEMENTS (MOST BY
  OCTOBER 6)</h2>

<div class="wiki-question">
  <h3>
    Sources of Error
  </h3>

  <div>
    <p class="c0"><span class="c2">&nbsp;</span><span class=
      "c10">Discuss which source of error in scoring described in
      Chapter 7 is most relevant to your performance or portfolio
      assessment, given your context/role/lesson:</span> <span class=
      "c5">Scoring-Instrument Flaws, Procedural Flaws,
      &nbsp;</span><span class="c10">or</span> <span class=
      "c5">Teacher’s Personal-Bias Errors.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.sources_of_error }}</div>

<div class="wiki-question">
  <h3>
    Impact on Teaching and
    Learning
  </h3>

  <div>
    <p class="c0"><span>How would you expect this assessment &nbsp;to
      impact the way you teach or someone else teaches? What evidence
      might you use to convince a skeptic of these advantages? &nbsp;
      How would you expect this assessment to impact the way and amount
      your students learn? What evidence might you use to convince a
      skeptic of these advantages? &nbsp;Would the impact be different
      if you had used the other format?</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.impact_on_teaching_learning }}</div>

<div class="wiki-question">
  <h3>
    Self-Check (Optional for
    All)
  </h3>

  <div>

    <p class="c0"><span>Because both self-checks essentially have you
      do similar tasks as the assignment, they are optional for all
      students, including those taking this course for
      credit.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.self_check }}</div>

<div class="wiki-question">
  <h3>
    Pondertime
  </h3>

  <div>
    <p class="c0"><span>Ponder the Pondertime questions for both
      Chapter 7 and Chapter 8. &nbsp;Do so in light of your role and
      and aspirations and identify the question that is most relevant
      to you. &nbsp;</span><span class="c7">Write a response to the
      most relevant question for Chapter 7 and the most relevant
      question for Chapter 8 that includes an explanation of why it is
      most relevant to you. &nbsp;</span><span>In particular consider
      how your role and domain impacted the relevance of the questions
      for you.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.pondertime }}</div>

<div class="wiki-question">
  <h3>
    Reflection (BY OCTOBER
    13)
  </h3>

  <div>

    <p class="c0"><span>Post three brief reflections. You should
      write a coherent reflection that demonstrates understanding of
      the concepts and how they related to your curricular aims and
      context. On your Wikifolio, be sure to label each of the three
      types of engagement as you present your reflection.</span></p>

    <p class="c9 c0"><span class="c7">A. Consequential
      Engagement.</span> <span>What might you do differently after
      reading about this week’s topic and completing this
      assignment?</span></p>

    <p class="c9 c0"><span class="c7">B. Critical Engagement.</span>
    <span class="c3">How well-suited was your role and curricular aim
      to learning this week’s concepts and big ideas? &nbsp;Did one of
      your classmates have a better context for learning some of these
      concepts? &nbsp;Note that</span> <span class="c3 c7">you are NOT
      being asked to critique how well you did</span><span class="c3">.
      &nbsp;Rather you are reflecting on the fit between your aim and
      role and the concepts we learned this week.</span></p>

    <p class="c9 c0"><span class="c7">C. Collaborative
      Engagement.</span> <span>Whose comments and examples were
      particularly helpful for your completing this assignment?
      &nbsp;</span><span class="c7">Be specific and name people and
      what they contributed that was helpful.</span></p>

    <p class="c0"><span>You are advised to begin drafting the
      reflections while you are working on the Wikifolio, and then to
      complete them before starting the next assignment. &nbsp;They
      should serve as a review and help you better connect the ideas of
      the chapter to your practice.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.reflection }}</div>

<script>
  $(document).ready(function() {
    var icons = {
      header: "ui-icon-circle-triangle-e",
      activeHeader: "ui-icon-circle-triangle-s"
    };
    // TODO: maybe collapse by default if we're not editing???
    $('.wiki-info-collapsible').accordion({
      collapsible: true,
      //active: 0,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
    $('.wiki-question').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
  });
</script>
{% endblock %}
