{% extends layout_template if layout_template is defined else 'wf_page.html' %}
{% block wiki_content %}
  <style type="text/css">
/* .c18{vertical-align:top;width:161pt;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
 .c9{vertical-align:top;width:156pt;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
 .c19{vertical-align:top;width:151pt;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt} */
 .letter-list {list-style-type: upper-alpha;}
.c20{margin-right:auto;border-collapse:collapse}
.c10{padding-left:0pt;margin-left:36pt}
.c16{margin:0;padding:0}
.wiki-grey-theme .ui-widget-content a.c7{color:#99bbf6}
.c3{text-decoration:underline}
.c4{font-style:italic;font-weight:bold}
.c15{font-style:italic}
.c6{font-weight:bold}
.c11{text-align:left}
.c5{height:11pt} /* p */
.c14{text-align:center}
.c2{margin-left:30pt}
.c0{direction:ltr}
.c8{text-decoration:underline}
  </style>


<div class="wiki-info-collapsible">
  <h3>Overview</h3>

  <div>
<p class="c0"><span class="c1">In this assignment, you will
  define Formative Assessment, create a Learning Progression, and
  explore roadblocks to using Formative Assessment. You will make
  sense of the complex relationship between assessment and
  learning. &nbsp;For many of you, this assignment may have
  profound consequences for your teaching practice or your
  administrative work. &nbsp;This is a detailed assignment so use
  your time wisely and make sure that you save time to read and
  comment on the work of others. &nbsp;</span></p>

  <p class="c0"><span class="c1">This unit is based on Popham
  Chapter 12 in the 7th edition. &nbsp;You can complete most of the
  assignment with the Chapter 12 in the 6th edition but you will
  need to make some adjustments.</span></p>
  </div>
</div>
<p>




<div class="wiki-question">
  <h3>
Reiterate Your Context (By
  October 27)
  </h3>

  <div>
<p class="c0"><span>Review the chapter and revise your
  description of your</span><span>&nbsp;curricular aim and role
  from the previous assignment</span><span>&nbsp;to reflect aspects
  that are particularly relevant to formative assessment. &nbsp;Try
  to say a few things about your relevant experience and starting
  perspective on formative assessment. &nbsp;More than any
  assignment so far, your aim and role will shape your
  understanding of the formative functions of assessment. By
  interacting with your classmates, you should come to see how
  assessment contexts can either support or undermine the formative
  potential of assessment.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.context }}</div>
{{ inline_save() }}

<h2>Consider The Concepts (All
  Required By October 27)</h2>

<div class="wiki-question">
  <h3>
Define Formative
  Assessment
  </h3>

  <div>
 <p class="c0"><span>Formative Assessment means very different
  things to different people. &nbsp;</span><span class="c1">There
  are numerous opinions about formative assessment out there.
  &nbsp;Popham, in Chapter 12, does a nice job summarizing the
  complex and controversial issues around formative
  assessment.</span> <span class="c1">He also discusses Formative
  Assessment </span> <span class="c3"><a target="_blank" class="c7" href=
  "http://www.ascd.org/publications/books/108018/chapters/Formative-Assessment@-Why,-What,-and-Whether.aspx">
  at this link</a></span><span class="c1">.</span><span class=
  "c1">&nbsp;You might begin to explore how different assumptions
  about knowing and learning impact what formative assessment looks
  like. &nbsp;Here are some other resources you can
  explore:</span></p>


  <p class="c2 c0"><span class="c3"><a target="_blank" class="c7" href=
  "https://www.youtube.com/watch?v=rJxFXjfB_B4">Rick Wormeli:
  Formative and Summative Assessment</a></span></p>

  <p class="c2 c0"><span class="c3"><a target="_blank" class="c7" href=
  "https://www.youtube.com/watch?v=sivRtg04xrc">Dylan Wiliam:
  Embedded Formative Assessment</a></span></p>

  <p class="c0 c2"><span class="c3"><a target="_blank" class="c7" href=
  "https://www.youtube.com/watch?v=dxAXJEK--qk">Formative
  Assessment in a Primary Classroom | KET</a></span></p>

  <p class="c2 c0"><span class="c3"><a target="_blank" class="c7" href=
  "https://www.youtube.com/watch?v=rL54bfmZPzY">Measured Progress:
  The Formative Classroom</a></span></p>


  <p class="c0"><span>In the textbook, Popham highlights how the
  term</span> <span class="c15">formative assessment</span>
  <span>has been exploited by commercial firms that are essentially
  selling drill and practice test preparation materials.
  &nbsp;These practices raise serious issues concerning evidential
  and consequential validity. &nbsp;As a developing assessment
  expert, you should have some well-formed opinions on this topic
  that reflect your role in education and the domain you teach
  in.</span></p>


  <p class="c0"><span class="c4">You should write at least</span>
  <span class="c4">two paragraphs</span><span class=
  "c4">&nbsp;(preferably more) that summarize your stance on
  formative assessment.</span><span class="c6">&nbsp;</span>
  <span>You likely will want to start this at the beginning of this
  assignment and then complete it after finishing the other
  activities. &nbsp;Please be sure to cite your information and
  provide links to any additional information you use to complete
  this assignment.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.define_formative }}</div>
{{ inline_save() }}



<div class="wiki-question">
  <h3>
Outline a Learning
  Progression
  </h3>

  <div>
 <p class="c0"><span>First, you need to read some information
  about Learning Progressions. You might want to refer to Popham’s
  section on “Learning Progressions” in the textbook 7th edition,
  pages 300-305. The following are additional links to information
  on “Learning Progressions”:</span></p>


  <p class="c0">
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c3"><a target="_blank" class="c7"
  href=
  "http://www.ascd.org/publications/educational-leadership/apr07/vol64/num07/The-Lowdown-on-Learning-Progressions.aspx">Popham:
  All About Accountability/The Lowdown on Learning
  Progressions</a></span></p>

  <p class="c0">
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c3"><a target="_blank" class="c7"
  href=
  "http://www.pearsonassessments.com/NR/rdonlyres/6C8F4D6F-EFB1-47CE-9247-3712D274190F/0/Bulletin_12.pdf">Nichols:
  What is a Learning Progression?</a></span></p>

  <p class="c0">
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c3"><a target="_blank" class="c7"
  href=
  "https://www.k12.wa.us/assessment/ClassroomAssessmentIntegration/pubdocs/FASTLearningProgressions.pdf">Heritage:
  Learning Progressions: Supporting Instruction and Formative
  Assessment</a></span></p>


  <p class="c0"><span>Describe what the learning progression might
  look like for your lesson, with as much detail as you can
  manage.</span></p>


  <ol class="c16 letter-list start" start="1">
    <li class="c10 c0"><span class="c6">Curricular Aim.</span>
    <span>Reiterate your curricular aim from your prior
    assignments.</span></li>

    <li class="c0 c10"><span class="c6">Building Blocks.</span>
    <span>Identify at least three precursory subskills and/or
    elements of enabling knowledge.</span></li>

    <li class="c10 c0"><span class="c6">Determine
    Measurability.</span> <span>Determine the measurability of the
    building blocks.</span></li>

    <li class="c10 c0"><span class="c6">Arrange the Building
    Blocks.</span> <span>Describe how the learning progression
    might be used in class.</span></li>
  </ol>


  <p class="c0"><span>You may view two sample learning progressions
  developed by previous students</span> <span class="c3"><a target="_blank" class=
  "c7" href=
  "/assets/content/SampleLearningProgressions.pdf">
  here (pdf, 100kB)</a></span><span>.</span></p>
  
  </div>
</div>
<div class="wiki-user-content">{{ fields.learning_progression }}</div>
{{ inline_save() }}


<div class="wiki-question">
  <h3>
Obstacles to Formative
  Assessment
  </h3>

  <div>
 <p class="c0"><span>Discuss the obstacles you might face when
  implementing your chosen approach to formative assessment. What
  obstacles might you encounter? Why do you think you would
  encounter those obstacles? How might you overcome them? &nbsp;As
  part of your discussion, rank</span> <span>the three most common
  roadblocks to Formative Assessment in order of relevance within
  your role and context (Popham, p. 314-315).</span></p>


  <ul class="c16 lst-kix_p8nsj3rxwohr-0 start">
    <li class="c10 c0"><span>Educators have considerable
    misunderstandings about the nature of formative
    assessment.</span></li>

    <li class="c10 c0"><span>Educators are resistant to changing
    their ways.</span></li>

    <li class="c10 c0"><span>Despite the fact that formative
    assessment can improve students’ achievement, and improve it
    dramatically, this improved achievement may not show up on many
    external accountability tests.</span></li>
  </ul>


  <p class="c0"><span class="c6">Add brief
  justifications</span><span>&nbsp;for the Roadblocks to Formative
  Assessment that you chose as</span> <span class=
  "c6">most</span><span>&nbsp;relevant and the one you chose
  as</span> <span class="c6">least</span> <span>relevant, keeping
  in mind your role and context.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.obstacles }}</div>
{{ inline_save() }}



<div class="wiki-question">
  <h3>
Big Ideas
  </h3>

  <div>
 <p class="c0"><span>Review the chapter, assignment, and your
  peers’ wikifolios. Also, read the</span><span class=
  "c15">&nbsp;Chapter Summary</span> <span>and</span> <span class=
  "c15">What Teachers Need to Know. &nbsp;</span><span class=
  "c6">Come up with three big ideas.</span> <span>&nbsp;Number the
  ideas (1, 2, 3) and list them in order of importance to you,
  keeping in mind your role and context. Write a brief
  summary/explanation of each idea where you make it clear why they
  are relevant to you. These are the BIG ideas of the chapter not
  the more specific concepts listed above. You should refer to
  the</span> <span class="c15">What Teachers Need to Know….</span>
  <span>section and the summary at the end of the chapter.</span>
  <span class="c1">Try to insert your experience and academic
  domain into this discussion.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.big_ideas }}</div>
{{ inline_save() }}

<h2>Optional Elements (Most by October 27)</h2>

<div class="wiki-question">
  <h3>
Implementing Formative Assessment
  </h3>

  <div>
<p class="c0"><span>Review Popham’s section titled “Alternative
  Implementation Approaches</span><span class=
  "c15">.</span><span>”</span><span class="c15">&nbsp;</span>
  <span>Select one of the three approaches that appears most
  relevant to your role and context. &nbsp;Indicate why that
  approach is most relevant with enough detail to show that you
  appreciate the differences between the three approaches.
  &nbsp;Then, with as much detail as you can, describe what this
  would look like in your role and context. &nbsp;You can use these
  headings for the approach you choose.</span></p>


  <table cellpadding="0" cellspacing="0" class="c20">
    <tbody>
      <tr class="c13">
        <td class="c19">
          <p class="c0"><span class="c6">FOUR-LEVELS
          APPROACH</span></p>

          <p class="c0"><span class="c6">&nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp;</span></p>

          <p class="c0"><span class="c6">1. &nbsp;Instructional
          Adjustments</span></p>

          <p class="c0"><span class="c6">2. &nbsp;Learning-Tactic
          Adjustments</span></p>

          <p class="c0"><span class="c6">3. &nbsp;Climate
          Shift</span></p>

          <p class="c0"><span class="c6">4. &nbsp;Schoolwide
          Implementation</span></p>
        </td>

        <td class="c9">
          <p class="c0"><span class="c6">&nbsp;FIVE-APPLICATIONS
          APPROACH</span></p>

          <p class="c5 c0"></p>

          <p class="c0"><span class="c6">1. Immediate
          Adjustments</span></p>

          <p class="c0"><span class="c6">2. Near-Future
          Adjustments</span></p>

          <p class="c0"><span class="c6">3. Last Chance
          Adjustments</span></p>

          <p class="c0"><span class="c6">4. Tactic
          Adjustments</span></p>

          <p class="c0"><span class="c6">5. Climate
          Shifts</span></p>
        </td>

        <td class="c18">
          <p class="c0"><span class="c6">&nbsp;FIVE-STRATEGIES
          APPROACH</span></p>

          <p class="c5 c0"></p>

          <p class="c0"><span class="c6">1. Clarifying</span></p>

          <p class="c0"><span class="c6">2. &nbsp;Engineering
          Activities</span></p>

          <p class="c0"><span class="c6">3. &nbsp;Providing
          Feedback</span></p>

          <p class="c0"><span class="c6">4. &nbsp;Activating
          Peers</span></p>

          <p class="c0"><span class="c6">5. &nbsp;Activating
          Self</span></p>
        </td>
      </tr>
    </tbody>
  </table>

  </div>
</div>
<div class="wiki-user-content">{{ fields.implementing }}</div>
{{ inline_save() }}



<div class="wiki-question">
  <h3>
Self-Check
  </h3>

  <div>
 <p class="c0"><span>Take the self-check at the end of the
  chapter.</span> <span class="c6">&nbsp;</span><span>Answer all of
  the questions without looking up the answers. If you can't answer
  the items you should go back over that section.</span>
  <span class="c6">Say a few words about the ones you got wrong and
  why.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.self_check }}</div>
{{ inline_save() }}



<div class="wiki-question">
  <h3>
Pondertime
  </h3>

  <div>

  <p class="c0"><span>Ponder the Pondertime questions. &nbsp;Do so
  in light of your role and and aspirations and identify the
  question that is most relevant to you. &nbsp;</span><span class=
  "c6">Write a response to the most relevant question that includes
  an explanation of why it is most relevant to you.
  &nbsp;</span><span>In particular consider how your role and
  domain impacted the relevance of the questions for
  you.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.pondertime }}</div>
{{ inline_save() }}



<div class="wiki-question">
  <h3>
Reflection (By November
  3)
  </h3>

  <div>
<p class="c0"><span>Post three brief reflections. You should
  write a coherent reflection that demonstrates understanding of
  the concepts and how they related to your curricular aims and
  context. On your Wikifolio, be sure to label each of the three
  types of engagement as you present your reflection.</span></p>


  <ol class="c16 lst-kix_m23jiywtybjv-0 letter-list start" start="1">
    <li class="c10 c0"><span class="c6">Consequential
    Engagement.</span> <span>What might you do differently after
    reading about this week’s topic and completing this
    assignment?</span></li>

    <li class="c10 c0"><span class="c6">Critical Engagement.</span>
    <span class="c12">How well-suited was your role and curricular
    aim to learning this week’s concepts and big ideas? &nbsp;Did
    one of your classmates have a better context for learning some
    of these concepts? &nbsp;Note that</span> <span class=
    "c6 c12">you are NOT being asked to critique how well you
    did</span><span class="c12">. &nbsp;Rather you are reflecting
    on the fit between your aim and role and the concepts we
    learned this week.</span></li>

    <li class="c10 c0"><span class="c6">Collaborative
    Engagement.</span> <span>Whose comments and examples were
    particularly helpful for your completing this assignment?
    &nbsp;</span><span class="c6">Be specific and name people and
    what they contributed that was helpful.</span></li>
  </ol>


  <p class="c0"><span>You are advised to begin drafting the
  reflections while you are working on the Wikifolio, and then to
  complete them before starting the next assignment. &nbsp;They
  should serve as a review and help you better connect the ideas of
  the chapter to your practice.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.reflection }}</div>

<script>
  $(document).ready(function() {
    var icons = {
      header: "ui-icon-circle-triangle-e",
      activeHeader: "ui-icon-circle-triangle-s"
    };
    // TODO: maybe collapse by default if we're not editing???
    $('.wiki-info-collapsible').accordion({
      collapsible: true,
      //active: 0,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
    $('.wiki-question').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
  });
</script>
{% endblock %}


{% block assignment_completion_instructions %}
<div class="wiki-question">
  <h3>
    Endorse and Promote
  </h3>

  <div>
    <h4>Endorse (by October 31)</h4>

    <p class="c0"><span class="c7">While you are commenting, you
  should</span><span class="c7 c5">&nbsp;endorse at least three of
  your classmates’ Wikifolios for being complete</span><span class=
  "c7">. If your classmate has completed the required Consider the
  Concepts elements of the assignment, click the box that
  says</span> <span class="c7 c11">Required Elements Completed.
  &nbsp;</span><span class="c7">If your classmate has completed all
  of the optional elements (except for the reflection) click</span>
  <span class="c7 c11">All Elements Completed. &nbsp;</span></p>

  <p class="c0"><span class="c7">Your own Wikifolios needs to be
  endorsed by at least one classmate to count towards course
  completion. If you completed your wikifolio and it was not
  endorsed by a classmate, email
  boocteachingassistant@gmail.com.</span></p>


    <h4>
      Promote (by October 31)
    </h4>
 <p class="c0"><span class="c7">As part of reviewing and
  discussing, promote one (and only one) of your classmates’
  Wikifolios as being exemplary</span> <span class="c7 c5">from
  your perspective. &nbsp;</span><span class="c7">Your reference
  group is whatever set you choose to review. &nbsp;Ideally you
  should select promote the one wikifolio that is exemplary out of
  your networking group.</span><span class=
  "c7 c5">&nbsp;</span><span class="c7">Click the box that
  indicates you wish to mark it as exemplary and</span>
  <span class="c7 c5">indicate what was exemplary about it that
  helped you understand the chapter concepts.</span></p>

  <p class="c0"><span class="c7">This does not have to mean it was
  that best or even most complete. &nbsp;But rather it was an
  exemplary consideration of the chapter concepts in a way that
  helped you better understand them. A “leader” badge will be
  issued for each of the the three sections for the member of each
  networking group whose Wikifolio gets the most
  promotions.</span></p>
  </div>
</div>
{% endblock %}

{% block comment_instructions %}
<div class="wiki-question">
  <h3>Post Questions and Discuss</h3>

  <div>
    <h4>
      Post Questions (by November 3)
    </h4>

    <p class="c0"><span class="c7 c5">Post at least one question as a
  comment</span><span class="c7">&nbsp;to your classmates and the
  instructor that this assignment raised for you, given your role
  and setting. &nbsp;Try to not ask “known answer” yes/no
  questions. &nbsp;Rather ask questions that can get some
  discussion started.</span></p>

    <h4>
      Discuss (November 3-7)
    </h4>

   <p class="c0"><span class="c7">Review the wikifolios of your
  groupmates and find ones that look interesting to you.
  &nbsp;Engage in discussion with them by posting questions or
  responding to their questions. &nbsp;</span><span class=
  "c7 c5">Be sure to put responses in the box for responses.
  &nbsp;If there are multiple responses make it clear which
  response you are responding to.</span> <span class="c7">The goal
  here is to generate discussion threads that consider how the
  chapter concepts and considerations take on different meanings
  for different students.</span></p>
  </div>
</div>
{% endblock %}
