{% extends layout_template if layout_template is defined else 'wf_page.html' %}
{% block wiki_content %}
<style type="text/css">
  .wiki-question ol{margin:0;padding:0}
  .c10{max-width:468pt;padding:72pt 72pt 72pt 72pt}
  .c2{padding-left:0pt;margin-left:36pt}
  .c13{color:inherit;text-decoration:inherit}
  .c4{line-height:1.177685867656361;padding-bottom:12pt}
  .c12{margin:0;padding:0}
  .c14{text-decoration:underline}
  .c6{height:11pt}
  .c3{font-weight:bold}
  .c5{font-style:italic}
  .c1{direction:ltr}
  .c8{text-align:center}
  .c11{padding-bottom:12pt}
  .c9{margin-left:30pt}
</style>

{% if not layout_template %}
<div class="highlight-box big-note">Take a look at <a
    href="/classwiki?unit={{ unit.unit_id }}">other students' educational
standards</a> in this unit!</div>
{% endif %}

<div class="wiki-info-collapsible">
  <h2>Overview</h2>

  <div>
    <p class="c1"><span>In this assignment, you will complete your
      first “Wikifolio.” &nbsp;You will further refine the Curricular
      Aim that you drafted when you registered and further define the
      Context in which you use educational assessment. &nbsp;You will
      then identify an</span><span>&nbsp;educational standard that is
      aligned to your Curricular Aim and apply some of the concepts in
      Chapter Two. After that you will discuss and endorse</span>
    <span>Wikifolios by posting comments. Finally, you will
      reflect</span> <span>your engagement in this assignment.
      &nbsp;</span><span>Here are some pointers:</span></p>

    <p class="c6 c1"></p>

    <ul class="c12 lst-kix_3fs9b2rx7jjw-0 start">
      <li class="c2 c1"><span>To fully succeed with this
        assignment, read Chapter 2 in Popham’s text</span> <span class=
        "c5">Classroom Assessment: What Teachers Need to
        Know.</span></li>

      <li class="c2 c1"><span>You will find the instructions for
        each part of the assignment by clicking on the header or
        arrow.</span></li>

      <li class="c2 c1"><span>If you get confused look at
        the</span> <span>Teaching Assistants’ example Wikifolios
        o</span><span>r the Wikifolios of your classmates.</span></li>
    </ul>

    <p class="c1 c8"><span class="c14">Important Tasks and
      Dates</span></p>

    <ul class="c12 lst-kix_quunvjulpw3i-0 start">
      <li class="c2 c1"><span>Sunday, May 18 at 11:59 pm
        EDT (UTC-4:00) - Deadline to post your Wikifolio for this
        assignment. &nbsp;You must complete the required elements
        (including one question for your peers). &nbsp;You are
        encouraged to also complete the expertise section.</span></li>

      <li class="c2 c1"><span>Monday, May 19 at 12:00am
        EDT (UTC-4:00) - Begin commenting, endorsing, and promoting
        your peers’ Wikifolios (more below).</span></li>

      <li class="c1 c2"><span>Thursday, May 22 at 11:59
        pm EDT (UTC-4:00) - Deadline for endorsing peers’
        Wikifolios.</span></li>

      <li class="c2 c1"><span>Sunday, May 25, 2013 at 11:59 pm
        EDT (UTC-4:00) - Deadline for posting your optional
        reflection.</span></li>
    </ul>
  </div>
</div>

<h2>CONSIDER YOUR CONTEXT&nbsp;(ALL REQUIRED BY MAY 18)</h2>

<div class="wiki-question">
  <h3>Role</h3>

  <p class="c1"><span>Describe your current or future role in
    education as it relates to assessment (for instance, Educator,
    Administrator, Researcher). You will use this role as your lens
    to the material we cover in this course. It is important that you
    carefully examine all of the material from the viewpoint of your
    chosen role - the role you choose (current or future) will shape
    how you learn the material in this course. When you explain your
    role, try to imagine how your role will influence your
    understanding of Educational Assessment.</span></p>
</div>
<div class="wiki-user-content">{{ fields.role }}</div>

{{ inline_save() }}



<div class="wiki-question">
  <h3>Setting</h3>

  <p class="c1"><span>Describe the educational setting in which you
    work or hope to work. Consider grade level(s), class size,
    institution, institution size, governmental/non-profit/
    for-profit, etc. Provide enough information so that everyone can
    understand your setting. You may choose to include a link, or you
    can describe your setting generally (that is, you may keep</span>
  <span>your actual setting unknown).</span><span>&nbsp;Try to
    imagine how your setting will shape your understanding of the
    practices, principles, and policies of educational
    assessment.</span></p>
</div>
<div class="wiki-user-content">{{ fields.setting }}</div>

{{ inline_save() }}


<div class="wiki-question">
  <h3>Curricular Aim</h3>

  <div>
    <p class="c1"><span>Restate and refine the Curricular Aim you
      drafted when you registered.</span> <span>Popham describes the
      “curricular aim” as the desired outcomes of instruction. This is
      not the “educational objectives,” “instructional objectives,” and
      “behavioral objectives,” but rather the measurable learning
      goals. In very simple terms, a Curricular Aim can be viewed
      as</span> <span class="c0">a skill or &nbsp;a body of knowledge
      that teachers plan for their students to acquire. &nbsp;You
      should definitely not provide a lesson or a project as your
      curricular aim and you should probably not use an affective
      outcome as your curricular aim.</span> <span>You should define
      what Popham describes as a “broad scope” curricular aim.</span>
    <span class="c0">&nbsp;</span></p>

    <p class="c1 c11"><span>Your Curricular Aim will become the basis
      of discussion for future Wikifolios. &nbsp;This is an assessable
      (able to be measured by an assessment) learning outcome that
      covers perhaps five hours of instruction. &nbsp;Your aim should
      reflect your role in education and ideally it will be something
      that your groupmate’s will find interesting and worthy of
      comment, and</span> <span class="c5">something that lends itself
      to a variety of assessments</span><span>.</span></p>

    <p class="c1 c11"><span>Your response, and your classmates', will
      be visible on <a class="c13" target="_blank"
        href="/classwiki?unit={{ unit.unit_id }}">this page</a>.
    </span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.curricular_aim }}</div>

{{ inline_save() }}


<div class="wiki-question">
  <h3>Instructional Context</h3>

  <p class="c1"><span>Provide some context for your curricular
    aim by describing a lesson or project that you might assign to
    accomplish your curricular aim.</span></p>
</div>
<div class="wiki-user-content">{{ fields.instructional_context }}</div>

{{ inline_save() }}


<h2>CONSIDER THE CONCEPTS (ALL REQUIRED BY MAY 18)</h2>

<div class="wiki-question">
  <h3>Relevant Educational Standard</h3>

  <div>
    <p class="c1"><span>Locate a relevant set of educational
      standards and identify the standard that is most relevant to your
      Curricular Aim. If you are a K-12 teacher this should be pretty
      straightforward. If not you will have to be creative. &nbsp;If
      you are a US K-12 Teacher you should almost certainly use the new
      Common Core or the Next Generation Science standards. &nbsp;If
      your state is transitioning, you should consider both existing
      state standard AND a common core standard.</span> <span class=
      "c3">But there are standards out there for almost everything and
      you should be familiar with them if there are. &nbsp;You may have
      to use Google and dig around.  Start by looking at the links that
      your classmates added to the <a href="/classwiki?unit=1">Educational
        Standards Resource Page</a>.</span></p>

    <p class="c1"><span>After you locate a standard, copy and paste
      the actual standard into your Wikifolio page. Then, add a link to
      the standard and say a few things about it. Try to explain the
      scope and grain size</span> <span>(e.g., “one of ten standards
      that make up....”). &nbsp;Be sure to mention whether the standard
      is a</span> <span class="c5">content standard</span> <span>or
      a</span> <span class="c5">performance standard</span> <span>(see
      Popham, Chapter 2.</span> <span class="c14 c15"><a class="c13"
        href=
        "https://k12teacherstaffdevelopment.com/tlb/what-is-the-difference-between-content-standards-and-performance-standards/">
        This webpage</a></span><span>&nbsp;will also provide a simple
      distinction between the two)</span><span class="c5">.</span>
    <span class="c5">&nbsp;</span><span>If you are a US math or
      language arts teacher, read about the common core standards in
      the text and say a few things about your standard.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.educational_standards }}</div>

{{ inline_save() }}

<div class="wiki-question">
  <h3>Help Your Classmates Find Standards</h3>

  <div>
    <p class="c1"><span>If the link to your standards are not already on the
      <a href="/classwiki?unit=1">Educational
        Standards Resource Page</a>, please add a link here with a short annotation.
      You can add additional standards sites even if you did not use that site
      yourself.  Your entry here will be shown on the Resource Page.</span>
    </p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.educational_standards_resource }}</div>

{{ inline_save() }}

<div class="wiki-question">
  <h3>Apply What-To-Assess Considerations</h3>

  <div>
    <p class="c1"><span>Chapter Two details things that you should
      consider when deciding what to assess. &nbsp;Review the following
      considerations and then rearrange the boxes to list them in order of most
      relevant to least relevant, given your role and setting. &nbsp;Say a few
      things about each and how they are relevant to you.</span></p>

    <p class="c1"><span class="c3">Add brief
      justifications</span><span>&nbsp;for the What-to-Assess
      Consideration that you chose as</span> <span class=
      "c3">most</span><span>&nbsp;</span><span>relevant and the one you
      chose as</span> <span class="c3">least</span>
    <span>relevant,</span> <span>keeping in mind your role and
      context. If you have not thought about these things before, this
      will be challenging. &nbsp;Understanding these considerations for
      your role and context is crucial to developing assessment
      expertise.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.rank_what_to_assess }}</div>
<div class="wiki-user-content">{{ fields.explain_what_to_assess }}</div>


{{ inline_save() }}

<div class="wiki-question">
  <h3>Big Ideas</h3>

  <p class="c1"><span>Describe the three most relevant BIG IDEAS
    about deciding what to assess. Number the ideas (1, 2, 3) and
    list them in order of importance to you, keeping in mind your
    role and context. Write a brief summary/explanation of each idea
    where you make it clear why they are relevant to you. These are
    the BIG ideas of the chapter not the more specific concepts
    listed above. You</span> <span>should</span><span>&nbsp;refer to
    the</span> <span class="c5">What Teacher Need to Know….</span>
  <span>section and the summary at the end of Chapter 2.</span>
  <span class="c7">Try to insert your role and setting into this
    discussion.</span></p>
</div>
<div class="wiki-user-content">{{ fields.big_ideas }}</div>

{{ inline_save() }}

<div class="highlight-box big-note">Take the <a target="_blank"
    href="/activity?unit=1&lesson=1">Practice Exam Questions</a></div>

<h2>EXPERTISE SECTION (optional for non-credit students)</h2>

<div class="wiki-question">
  <h3>Self-Check (by May 18)</h3>

  <p class="c1"><span>Take the self-check in Chapter 2.</span>
  <span class="c3">&nbsp;</span><span>Answer questions 1-6</span>
  <span>without looking up the answers. If you can't answer the
    items you should go back over that section.</span> <span class=
    "c3">Say a few words about the ones you got wrong and
    why.</span></p>
</div>
<div class="wiki-user-content">{{ fields.self_check }}</div>

{{ inline_save() }}


<div class="wiki-question">
  <h3>Pondertime (by May 18)</h3>

  <p class="c1"><span>Ponder</span> <span>the Pondertime questions.
    &nbsp;Do so in light of your role and and aspirations and
    identify the question that is most relevant to you.
    &nbsp;</span><span class="c3">White a response to the most
    relevant question that includes an explanation of why it is most
    relevant to you.</span></p>
</div>
<div class="wiki-user-content">{{ fields.pondertime }}</div>

{{ inline_save() }}


<div class="wiki-question">
  <h3>Reflection (by May 25)</h3>

  <div>
    <p class="c1"><span>Reflect on your engagement (within one week
      of the original deadline).</span> <span class=
      "c3">&nbsp;</span><span>Post three brief reflections. You should
      write a coherent reflection that demonstrates understanding of
      the concepts and how they related to your curricular aims and
      context. On your Wikifolio, be sure to label each of the three
      types of engagement as you present your reflection.</span></p>

    <p class="c6 c1"></p>

    <p class="c1 c9"><span class="c3">A. Consequential
      Engagement.</span> <span>What might you do differently
      after</span> <span>reading about this week’s topic</span>
    <span>and completing this assignment?</span></p>

    <p class="c1 c9"><span class="c3">B. Critical Engagement.</span>
    <span class="c0">How well-suited was your role and curricular aim
      to learning</span> <span class="c0">this week’s concepts and big
      ideas</span><span class="c0">? &nbsp;Did one of your classmates
      have a better context for learning some of these concepts?
      &nbsp;Note that</span> <span class="c3 c0">you are NOT being
      asked to critique how well you did</span><span class="c0">.
      &nbsp;Rather you are reflecting on the fit between your aim and
      role and the concepts we learned this week.</span></p>

    <p class="c1 c9"><span class="c3">C. Collaborative
      Engagement.</span> <span>Whose comments and examples were
      particularly helpful for your completing this assignment?
      &nbsp;</span><span class="c3">Be specific and name people and
      what they contributed that was helpful.</span></p>

    <p class="c6 c1"></p>

    <p class="c1"><span>You are advised to begin drafting the
      reflections while you are working on the Wikifolio, and then to
      complete them before starting the next assignment. &nbsp;They
      should serve as a review and help you better connect the ideas of
      the chapter to your practice.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.reflection }}</div>

<script>
  $(document).ready(function() {
    var icons = {
      header: "ui-icon-circle-triangle-e",
      activeHeader: "ui-icon-circle-triangle-s"
    };
    // TODO: maybe collapse by default if we're not editing???
    $('.wiki-info-collapsible').accordion({
      collapsible: true,
      //active: 0,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
    $('.wiki-question').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
  });
</script>
{% endblock %}

{% block comment_instructions %}
  <div class="wiki-info-collapsible">
  <h3>Post Questions and Discuss</h3>
  <div>
    <p class="c1" style="padding: 10px 20px;"><span class="c0">A major goal of this
      course is helping you learn to interact with your professional peers
      regarding educational assessment. &nbsp;This will be new to many of you.
      &nbsp;You should come to see how the practices and concepts were are learning
      take on different meaning in different contexts.</span> <span class="c3
      c0">This will be challenging at first but the class will do the same thing
      each week and will find a natural rhythm</span><span class="c0">. &nbsp;Be
      sure to save time each week for these interactions and they are very
      important.</span></p>

    <h4>Post Questions (by May 18)</h4>

    <p class="c1"><span class="c0">Post at least one question in the
      box below, addressed to your classmates and the instructor, that this
      assignment raised for you, given your role and setting. &nbsp;Do
      not ask yes/no questions. &nbsp;Rather ask questions that can get
      some discussion started.</span></p>

    <h4>Discuss (May 18-22)</h4>

    <p class="c1"><span class="c0">Review the wikifolios of your
      groupmates and find ones that look interesting to you.
      &nbsp;Engage in discussion with them by posting questions or
      responding to their questions. &nbsp;The goal here is to
      generate discussion threads that consider how the chapter
      concepts and considerations take on different meanings for
      different students.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.question }}</div>

{{ inline_save() }}

{% endblock %}

{% block assignment_completion_instructions %}
  <div class="wiki-info-collapsible">
    <h3>Endorse and Promote</h3>
    <div>
      <h4>Endorse (by May 22)</h4>

      <div>
        <p class="c1"><span class="c0">While you are commenting, you
          should endorse at least three of your classmates Wikifolios for
          being complete. If your classmate has completed the required
          Concepts and Context parts of the assignment, click the box that
          say</span> <span class="c5 c0">Required Elements Completed.
          &nbsp;</span><span class="c0">If your classmate has completed
          the expertise section (except for the reflection) click</span>
        <span class="c5 c0">All Elements Completed. &nbsp;</span></p>

        <p class="c1"><span class="c0">Your own Wikifolios need to be
          endorsed by at least one classmate to count towards course
          completion. If you completed your wikifolio and it was not
          endorsed by a classmate, email
          boocteachingassistant@gmail.com.</span></p>
      </div>
      <h4>Promote (by May 22)</h4>

      <div>
        <p class="c1"><span class="c0">As part of reviewing and
          discussing, promote one (and only one) of your classmates
          Wikifolios as being exemplary</span> <span class="c3 c0">from
          your perspective. &nbsp;</span><span class="c0">Click the box
          that indicates you wish to mark it as exemplary and</span>
        <span class="c3 c0">indicate what was exemplary about it that
          helped you understand the chapter concepts.</span></p>

        <p class="c1"><span class="c0">This does not have to mean it was
          that best or even most complete. &nbsp;But rather it was an
          exemplary consideration of the chapter concepts in a way that
          helped you better understand them. A “leader” badge will be
          issued for each of the the three sections for the member of each
          networking group whose Wikifolio gets the most
          promotions.</span></p>
      </div>
    </div>
  </div>

{% endblock %}
