{% extends layout_template if layout_template is defined else 'wf_page.html' %}
{% block wiki_content %}
<style type="text/css">

  .letter-list {list-style-type: upper-alpha;}
  .c13{text-decoration:underline}
  .c8{line-height: 1; margin-left:36pt}
  .c1{font-style:italic}
  .c12{color:inherit;text-decoration:inherit}
  .c9{padding-left:0pt;margin-left:72pt}
  .c7{margin:0;padding:0}
  .c10{padding-left:0pt;margin-left:36pt}
  .c15{text-decoration:underline}
  .c14{line-height:1.5}
  .c4{font-style:italic}
  .c3{direction:ltr}
  .c6{text-align:center}
  .c2{font-weight:bold}
  .c11{line-height:1.15}

</style>


<div class="wiki-info-collapsible">
  <h3>Overview</h3>

  <div>
    <p class="c3"><span>In this assignment you will learn about
      whatever standardized test is most relevant to you and how to
      interpret these tests. Many of you will explore issues related to
      the controversial new test coming to US schools. You will also
      want to read and discuss the issues that are articulated in
      Pophams’ chapter on Standardized Tests. &nbsp;Reminder: You are
      all required to post a question as a comment to your classmates.
      &nbsp;This is not an optional part of the assignment. &nbsp;Try
      to post an open ended question about your wikifolio that gets
      discussion started.</span></p>


    <p class="c3"><span class="c2">A note about standardized
      tests:</span><span>&nbsp;This assignment will present the K-12
      standardized tests for Indiana, Illinois, and Georgia as well as
      a couple of standardized tests from ETS. If you live in another
      state or if there is another test that is relevant to your
      role/context and it has some sort of interpretation guide, then
      use that test for this assignment. Those of you in non-school
      settings have a choice of getting creative and finding something
      like a personality test or another sort of aptitude test, or just
      using one of the K-12 tests.</span><span class=
      "c2">&nbsp;</span><span>You may have to modify the assignment a
      bit to suit you. Look over the interpretation guide and the
      assignment and if it still does not make sense contact the
      teaching assistant.</span></p>


    <p class="c3"><span>If you do not work with any standardized
      tests then just complete the assignment with one of the ones
      provided. This assignment is really about making sense of a
      handful of crucial concepts that anybody who has some expertise
      in assessment should be familiar with. Feel free to customize
      this assignment if needed to cover whatever stuff is relevant to
      interpreting standardized tests in your</span>
    <span>context</span><span>.</span></p>


    <p class="c3"><span>For additional information, you may choose to
      read</span> <span class="c13"><a class="c12" target="_blank" href=
        "http://www.sagepub.com/eis2study/articles/Popham.pdf">Popham’s
        2001 article “Uses and Misuses of Standardized
        Tests.”</a></span></p>

  </div>
</div>



<div class="wiki-question">
  <h3>
    Reiterate Your Context (By
    November 3)
  </h3>

  <div>
    <p class="c3"><span>Your curricular aim is less important in this
      assignment than the previous ones. &nbsp;Describe your current
      and/or future</span> <span>role</span><span>&nbsp;in the
      educational ecosystem relative to standardized tests. &nbsp;What
      is the most important test in your world? &nbsp;How does it
      relate to your curricular aim? &nbsp;Different aspects of tests
      are relevant to educators, administrators, and researchers.
      &nbsp;Some subjects are tested in schools and some are not. If
      you are in a college or university you are likely to be most
      concerned with standardized entrance examinations.</span></p>
  </div>
</div>

<div class="wiki-user-content">{{ fields.context }}</div>

{{ inline_save() }}

<h2>Consider The Concepts (All
  Required By November 3)</h2>

<div class="wiki-question">
  <h3>
    Interpreting Individual
    Tests
  </h3>

  <div>
    <p class="c3"><span>Read about the difference between
      percentiles, grade equivalent scores, and scale score.
      &nbsp;Summarize the following terms and describe the
      advantages/disadvantages of using each within</span><span class=
      "c2">&nbsp;your context and role</span><span>:</span></p>


    <ol class="c7 letter-list lst-kix_8qwrl7qolyo5-0 start" start="1">
      <li class="c10 c3"><span>Percentiles</span></li>

      <li class="c10 c3"><span>Grade equivalent scores</span></li>

      <li class="c3 c10"><span>Scale scores &nbsp;</span></li>
    </ol>

  </div>

</div>
<div class="wiki-user-content">{{ fields.interpreting }}</div>

{{ inline_save() }}



<div class="wiki-question">
  <h3>
    Locate and Share a Relevant
    Test and Test Interpretation Guide
  </h3>

  <div>
    <p class="c3 c11"><span>Locate a “test interpretation guide” for
      a standardized test that is relevant to you within your context
      and role.  In the box below, enter the name of the test
      you are using and a link, with short description. &nbsp;These
      will be displayed on a <a class="c13" target="_blank" href="/classwiki?unit={{ unit.unit_id }}">single
        page linked here</a>.  If you are a K-12 teacher from these states,
      then you might choose one of the following:</span></p>

    <p class="c3"><span>INDIANA</span></p>

    <p class="c8 c3"><span class="c13"><a class="c12" target="_blank" href=
        "http://www.doe.in.gov/sites/default/files/assessment/2013-gti.pdf">
        Indiana ISTEP+, IREAD-3 or IMAST</a>

      <br><a class="c12" target="_blank" href=
        "http://www.doe.in.gov/sites/default/files/assessment/guidetotestinterpretation.pdf">
        Indiana High School ECA</a></span>

      <br>If you teach in Indiana and you do not
      find these relevant, then try this</span><span><a class="c12"
        target="_blank" href=
        "http://www.doe.in.gov/achievement/assessment">&nbsp;</a></span><span class="c13"><a class="c12"
        target="_blank" href="http://www.doe.in.gov/achievement/assessment">Link to other
        Indiana Assessments.</a></span></p>

    <p class="c14 c3"><span>ILLINOIS</span></p>

    <p class="c8 c3"><span class="c13"><a class="c12" target="_blank" href=
        "http://www.isbe.state.il.us/assessment/pdfs/isat_interpr_guide_2010.pdf">
        Illinois Standard Achievement
        Test</a></span><span>&nbsp;(ISAT)</span></p>

    <p class="c14 c3"><span>GEORGIA</span></p>

    <p class="c3 c8"><span class="c13"><a class="c12" target="_blank" href=
        "http://www.doe.k12.ga.us/Curriculum-Instruction-and-Assessment/Assessment/Documents/CRCT%20Score%20Interpretation%20Guide%202013.pdf">
        Georgia Criterion-Referenced Competency
        Tests</a></span><span>&nbsp;(CRCT)</span></p>

    <p class="c14 c3"><span>ETS</span></p>

    <p class="c8 c3"><span class="c13"><a class="c12" target="_blank" href=
        "http://professionals.collegeboard.com/testing/sat-subject/scores/data">
        SAT Subject Tests</a><br>

      <a class="c12" target="_blank" href=
        "http://www.ets.org/s/gre/pdf/gre_guide.pdf">GRE</a></span><span>&nbsp;(Graduate
      Record Examinations)</span><br>

    <span class="c13"><a class="c12" target="_blank" href=
        "http://www.ets.org/toefl/institutions/scores/interpret/">Links
        to various TOEFL Interpretation Information</a></span></p>


    <p class="c3 c11"><span>If you are in the K-12 setting, but not
      in Indiana, Illinois, or Georgia, you should Google “Test
      Interpretation Guide for [your state]” And you will likely find
      it. &nbsp;You should poke around here. &nbsp;As an assessment
      expert you should know where stuff is.</span></p>

    <p class="c3 c11"><span>Your link will not show up on the <a
        target="_blank" href="/classwiki?unit={{ unit.unit_id }}">shared
        resources page</a> until you Save and Post your wikifolio - it does not
      show up if your wikifolio is a draft.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.resources }}</div>

{{ inline_save() }}



<div class="wiki-question">
  <h3>
    Intended Uses of Data
  </h3>

  <div>

    <p class="c3"><span>Describe how educators or administrators
      (presumably in your school system) are</span> <span class=
      "c4">supposed</span> <span>to use the information gathered from
      your chosen standardized test to guide or improve their teaching
      and learning. Reference the specifics of the reports that are
      most relevant to your class/school/corporation (as presented in
      the test interpretation guide you chose). Discuss reliability and
      validity appropriately wherever possible. &nbsp; Your response
      must reflect the current or future role you play (teacher,
      administrator, researcher, etc.)</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.intended_uses }}</div>

{{ inline_save() }}



<div class="wiki-question">
  <h3>
    Actual Uses of Data
  </h3>

  <div>

    <p class="c3"><span>Describe how most educators and
      administrators (presumably in your school system)</span>
    <span class="c4">actually</span> <span>use data from the
      standardized test you presented -- even if the data is not used
      to guide or improve the teaching and learning. Discuss
      reliability and validity appropriately wherever possible.
      &nbsp;Your response must reflect the current or future role you
      play (teacher, administrator, researcher, etc.)</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.actual_uses }}</div>

{{ inline_save() }}



<div class="wiki-question">
  <h3>
    Rank Types of
    Interpretation
  </h3>

  <div>

    <p class="c3"><span>Rank the three types of Test Interpretation
      in order of relevance within your context and the test you are
      most likely to interpret. These are explained in Popham, on pages
      329-340 but you can find this information in many place on the
      Internet. &nbsp;Rank them by dragging them into order, using your
      mouse.</span></p>

    <p class="c3"><span class="c2">Add brief
      justifications</span><span>&nbsp;for the Type of Test
      Interpretation that you chose as</span> <span class=
      "c2">most</span><span>&nbsp;relevant and the one you chose
      as</span> <span class="c2">least</span> <span>relevant, keeping
      in mind your role and context.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.ranking }}</div>
<div class="wiki-user-content">{{ fields.ranking_justification }}</div>

{{ inline_save() }}



<div class="wiki-question">
  <h3>
    Big Ideas
  </h3>

  <div>
    <p class="c3"><span>Review the chapter, assignment, and your
      peers’ wikifolios. Also, read the</span><span class=
      "c4">&nbsp;Chapter Summary</span> <span>and</span> <span class=
      "c4">What Teachers Need to Know. &nbsp;</span><span class=
      "c2">Come up with three big ideas.</span> <span>&nbsp;Number the
      ideas (1, 2, 3) and list them in order of importance to you,
      keeping in mind your role and context. Write a brief
      summary/explanation of each idea where you make it clear why they
      are relevant to you. These are the BIG ideas of the chapter not
      the more specific concepts listed above. You should refer to
      the</span> <span class="c4">What Teachers Need to Know….</span>
    <span>section and the summary at the end of the chapter.</span>
    <span class="c16">Try to insert your experience and academic
      domain into this discussion.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.big_ideas }}</div>

{{ inline_save() }}


<h2>OPTIONAL ELEMENTS (MOST BY
  NOVEMBER 3)</h2>

<div class="wiki-question">
  <h3>
    Explaining Scores
  </h3>

  <div>
    <p class="c3"><span>For this question, you should choose a
      specific audience to write to: students’ parents, schools’
      teachers, or corporation’s principals. You may refer to the
      appropriate guides:</span> <span class="c4">Reports for Teachers,
      Reports for School Administrators,</span> <span>or</span>
    <span class="c4">Reports for Corporation Administrators.</span>
    <span class="c4">&nbsp;</span><span>Remember that you are writing
      from the perspective as someone in chosen (current or future)
      role and context.</span></p>


    <p class="c3"><span>In your own words, explain each of the
      following technical terms as presented by the test interpretation
      guide you located: &nbsp;</span></p>

    <ol class="c7 letter-list lst-kix_19jwsp3l7zdp-0 start" start="1">
      <li class="c9 c3"><span class="c2">CRITERION REFERENCED
        SCORES</span></li>

      <li class="c9 c3"><span class="c2">ITEM RESPONSE
        THEORY</span></li>

      <li class="c3 c9"><span class="c2">PATTERN SCORING</span></li>

      <li class="c9 c3"><span class="c2">SCALE SCORES</span></li>

      <li class="c9 c3"><span class="c2">VERTICAL SCALE SCORES
        (briefly this is pretty complicated)</span></li>

      <li class="c9 c3"><span class="c2">CUT SCORES AND PERFORMANCE
        LEVEL</span></li>

      <li class="c9 c3"><span class="c2">ACADEMIC STANDARD
        SCORES</span></li>

      <li class="c9 c3"><span class="c2">MEAN AND MEDIAN</span></li>

      <li class="c9 c3"><span class="c2">STANDARD
        DEVIATION</span></li>
    </ol>


    <p class="c3"><span>Your explanations should do the
      following:</span></p>

    <ul class="c7 lst-kix_44hmgttjvg6-0 start">
      <li class="c10 c3"><span>show understanding the technical terms
        (definitions are available in the Popham text or via a web
        search of the terms)</span></li>

      <li class="c10 c3"><span>use the sample data to make the
        points</span></li>

      <li class="c10 c3"><span>reflect your particular educational
        context</span></li>
    </ul>
  </div>
</div>
<div class="wiki-user-content">{{ fields.explaining_scores }}</div>

{{ inline_save() }}



<div class="wiki-question">
  <h3>
    Race to the Top (Optional for
    Everyone)
  </h3>

  <div>
    <p class="c3"><span>NOTE: This will be most relevant for those
      teaching K-12 in the United States.</span></p>


    <p class="c3"><span>Review </span><span class="c13 c4"><a class="c12"
        target="_blank" href=
        "http://www.k12center.org/rsc/pdf/Coming_Together_April_2012_Final.PDF">Coming
        Together to Raise Achievement</a></span><span class="c4">,</span>
    <span>an excellent summary of the Race to the Top Program.
      &nbsp;List three key points about the coming assessment program
      in your state (Indiana is PARCC, pages 16-23 in the above
      document)</span><span class="c2">.</span> <span>&nbsp;</span>
    <span class="c2">List the three most relevant big ideas about
      PARCC or SBAC for you and others in your role in
      education.</span></p>


    <p class="c3"><span>If you are working in a PARCC state, go to
      Youtube and search for "PARCC Playlists." &nbsp;Locate a video
      that seems particularly relevant and watch enough of it to post
      the link and a brief summary. &nbsp;If you are in a SBAC state,
      review the list of videos at the </span><span class="c13"><a class="c12"
        target="_blank" href="https://www.youtube.com/user/smarterbalanced">SBAC YouTube
        Channel</a></span>. <span>Find one that looks relevant to
      you and watch enough of it to post the link and a brief
      summary.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.race_to_top }}</div>

{{ inline_save() }}



<div class="wiki-question">
  <h3>
    Self-Check
  </h3>

  <div>
    <p class="c3"><span>Take the self-check at the end of the
      chapter.</span> <span class="c2">&nbsp;</span><span>Answer all of
      the questions without looking up the answers. If you can't answer
      the items you should go back over that section.</span>
    <span class="c2">Say a few words about the ones you got wrong and
      why.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.self_check }}</div>

{{ inline_save() }}



<div class="wiki-question">
  <h3>
    Pondertime
  </h3>

  <div>
    <p class="c3"><span>Ponder the Pondertime questions. &nbsp;Do so
      in light of your role and and aspirations and identify the
      question that is most relevant to you. &nbsp;</span><span class=
      "c2">Write a response to the most relevant question that includes
      an explanation of why it is most relevant to you.
      &nbsp;</span><span>In particular consider how your role and
      domain impacted the relevance of the questions for
      you.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.pondertime }}</div>

{{ inline_save() }}



<div class="wiki-question">
  <h3>
    Reflection (By November
    10)
  </h3>

  <div>
    <p class="c3"><span>Post three brief reflections. You should
      write a coherent reflection that demonstrates understanding of
      the concepts and how they related to your curricular aims and
      context. On your Wikifolio, be sure to label each of the three
      types of engagement as you present your reflection.</span></p>


    <ol class="c7 letter-list lst-kix_yhpg20y4m1cz-0 start" start="1">
      <li class="c10 c3"><span class="c2">Consequential
        Engagement.</span> <span>What might you do differently after
        reading about this week’s topic and completing this
        assignment?</span></li>

      <li class="c10 c3"><span class="c2">Critical Engagement.</span>
      <span class="c5">How well-suited was your role and curricular
        aim to learning this week’s concepts and big ideas? &nbsp;Did
        one of your classmates have a better context for learning some
        of these concepts? &nbsp;Note that</span> <span class=
        "c5 c2">you are NOT being asked to critique how well you
        did</span><span class="c5">. &nbsp;Rather you are reflecting on
        the fit between your aim and role and the concepts we learned
        this week.</span></li>

      <li class="c10 c3"><span class="c2">Collaborative
        Engagement.</span> <span>Whose comments and examples were
        particularly helpful for your completing this assignment?
        &nbsp;</span><span class="c2">Be specific and name people and
        what they contributed that was helpful.</span></li>
    </ol>


    <p class="c3"><span>You are advised to begin drafting the
      reflections while you are working on the Wikifolio, and then to
      complete them before starting the next assignment. &nbsp;They
      should serve as a review and help you better connect the ideas of
      the chapter to your practice.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.reflection }}</div>



<script>
  $(document).ready(function() {
    var icons = {
      header: "ui-icon-circle-triangle-e",
      activeHeader: "ui-icon-circle-triangle-s"
    };
    // TODO: maybe collapse by default if we're not editing???
    $('.wiki-info-collapsible').accordion({
      collapsible: true,
      //active: 0,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
    $('.wiki-question').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
  });
</script>
{% endblock %}


{% block assignment_completion_instructions %}
<div class="wiki-question">
  <h3>
    Endorse and Promote
  </h3>

  <div>
    <!-- TODO h4 -->
    <h4>Endorse (by November
      7)</h4>

    <p class="c3"><span class="c5">While you are commenting, you
      should</span><span class="c5 c2">&nbsp;endorse at least three of
      your classmates’ Wikifolios for being complete</span><span class=
      "c5">. If your classmate has completed the required Consider the
      Concepts elements of the assignment, click the box that
      says</span> <span class="c1">Required Elements Completed.
      &nbsp;</span><span class="c5">If your classmate has completed all
      of the optional elements (except for the reflection) click</span>
    <span class="c1">All Elements Completed. &nbsp;</span></p>


    <p class="c3"><span class="c5">Your own Wikifolios needs to be
      endorsed by at least one classmate to count towards course
      completion. If you completed your wikifolio and it was not
      endorsed by a classmate, email
      boocteachingassistant@gmail.com.</span></p>


    <h4>Promote (by November
      7)</h4>

    <p class="c3"><span class="c5">As part of reviewing and
      discussing, promote one (and only one) of your classmates’
      Wikifolios as being exemplary</span> <span class="c5 c2">from
      your perspective. &nbsp;</span><span class="c5">Your reference
      group is whatever set you choose to review. &nbsp;Ideally you
      should select promote the one wikifolio that is exemplary out of
      your networking group.</span><span class=
      "c5 c2">&nbsp;</span><span class="c5">Click the box that
      indicates you wish to mark it as exemplary and</span>
    <span class="c5 c2">indicate what was exemplary about it that
      helped you understand the chapter concepts.</span></p>


    <p class="c3"><span class="c5">This does not have to mean it was
      that best or even most complete. &nbsp;But rather it was an
      exemplary consideration of the chapter concepts in a way that
      helped you better understand them. A “leader” badge will be
      issued for each of the the three sections for the member of each
      networking group whose Wikifolio gets the most
      promotions.</span></p>


  </div>
</div>
{% endblock %}

{% block comment_instructions %}
<div class="wiki-question">
  <h3>Post Questions and Discuss</h3>

  <div>
    <h4>
      Post Questions (by November
      3)
    </h4>

    <p class="c3"><span class="c5 c2">Post at least one question as a
      comment</span><span class="c5">&nbsp;to your classmates and the
      instructor that this assignment raised for you, given your role
      and setting. &nbsp;Try to not ask “known answer” yes/no
      questions. &nbsp;Rather ask questions that can get some
      discussion started.</span></p>


    <h4>Discuss (November
      3-7)</h4>

    <p class="c3"><span class="c5">Review the wikifolios of your
      groupmates and find ones that look interesting to you.
      &nbsp;Engage in discussion with them by posting questions or
      responding to their questions. &nbsp;</span><span class=
      "c5 c2">Be sure to put responses in the box for responses.
      &nbsp;If there are multiple responses make it clear which
      response you are responding to.</span> <span class="c5">The goal
      here is to generate discussion threads that consider how the
      chapter concepts and considerations take on different meanings
      for different students.</span></p>
  </div>
</div>
{% endblock %}
