{% extends 'wf_page.html' %}
{% block wiki_content %}
<style type="text/css">
  .wiki-question ol{margin:0;padding:0}

  .c4{text-decoration:underline;font-weight:bold}
  .c12{color:inherit;text-decoration:inherit}
  .c8{text-decoration:underline}
  .c1{direction:ltr;margin-left:36pt}
  .c7{font-style:italic}
  .c9{margin-left:30pt}
  .c3{direction:ltr}
  .c11{text-align:center}
  .c10{line-height:1.177685867656361}
  .c6{font-weight:bold}
  .c5{height:11pt} /* empty pars */
</style>

<div class="wiki-info-collapsible">
  <h3>Overview</h3>

  <div>
    <p class="c3"><span class="c0">In this assignment, you will learn
      about</span> <span class="c7 c0">reliability</span> <span class=
      "c0">(the consistency of scores from a given assessment) and
      assessment</span> <span class="c7 c0">bias</span> <span class=
      "c0">(whether an assessment is biased against individuals or
      groups) by applying those concepts to the assessments you already
      created.</span></p>

    <p class="c3 c5"></p>

    <p class="c3"><span class="c0">With this unit, we begin the
      second part of the course. &nbsp;In contrast to the relatively
      concrete guidelines for creating assessments, you are now going
      to start dealing with more abstract principles. You will see in
      this unit that there are</span> <span class="c0">no</span>
    <span class="c0">clear</span> <span class="c0">right or wrong
      answers. If you still can't come up with anything to say after
      reading your classmates entries, then you are free to indicate
      that in your entries. These are</span> <span class=
      "c7 c0">difficult</span> <span class="c0">questions, and some of
      you will struggle more than others. &nbsp;But you will return to
      these issues throughout the semester. You will also begin
      searching for relevant outside resources that consider these
      ideas in your context, role, and domain.</span></p>

    <p class="c3 c5"></p>

    <p class="c3"><span>This unit is based on Chapters 3 and 5 in the
      textbook. For further information on bias, it might be helpful to
      watch this</span> <span class="c8"><a class="c12" href=
        "https://www.youtube.com/watch?v=HjID39cqmzw">video from the
        author</a></span><span>&nbsp;of our textbook, Popham.</span></p>

  </div>
</div>
<p>



<div class="wiki-question">
  <h3>
    Reiterate Your Context (By October
    13)
  </h3>

  <div>
    <p class="c3"><span class="c0">Review Chapter 3 and Chapter 5.
      Then summarize your assessment practice (the suite of assessments
      you have developed so far) and your institutional role as they
      relate to reliability and bias. Highlight the aspects of your
      lesson and role that are particularly relevant to these issues.
      You should probably revisit and rewrite after you have completed
      the rest of the assignment. &nbsp;For example, many low-stakes
      classroom assessments do not need to be particularly reliable,
      but high-stakes tests used to make important decisions need to
      yield consistent scores; assessment bias is probably more likely
      in a social studies class than a chemistry class.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.context }}</div>


<h2>CONSIDER THE CONCEPTS (ALL
  REQUIRED BY OCTOBER 13)</h2>

<div class="wiki-question">
  <h3>
    Types of Reliability
  </h3>

  <div>
    <p class="c3"><span class="c0">For each of your examples of the
      assessments listed below, state which type of reliability
      evidence (stability, alternate form, or internal consistency)
      seems most relevant. &nbsp;Then state what you might do to
      increase the reliability of YOUR assessments. &nbsp;This must be
      specific. &nbsp;Look long and hard at each of your assessments in
      light of the ideas in the chapter.</span></p>

    <p class="c3 c5"></p>

    <p class="c1"><span class="c6 c0">A. &nbsp;Selected-Response
      Items</span></p>

    <p class="c1"><span class="c6 c0">B. &nbsp;Constructed-Response
      Items</span></p>

    <p class="c1"><span class="c6 c0">C. &nbsp;Essay Items</span></p>

    <p class="c1"><span class="c6 c0">D. &nbsp;Performance
      Assessment</span></p>

    <p class="c1"><span class="c6 c0">E. &nbsp;Portfolio
      Assessment</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.types_of_reliability }}</div>


<div class="wiki-question">
  <h3>
    Standard Error of
    Measure
  </h3>

  <div>
    <p class="c3"><span class="c0">Use your assessment practice as a
      context to explain what the SEM is and why it is such an
      important concept in educational measurement. Try to come up with
      an example of some sort of question or problem you might be able
      to resolve by having a better understanding of SEM.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.standard_error }}</div>


<div class="wiki-question">
  <h3>
    Absence-of-Bias
  </h3>

  <div>
    <p class="c3 c10"><span class="c0">For each of the assessment
      formats listed below, write a short paragraph that discusses (a)
      which type of bias (offensiveness versus unfair penalization)
      seems like the biggest risk and (b) which approach to reducing
      bias (panel judgement, per item judgement, overall judgement, or
      empirical) seems most appropriate. &nbsp;Then state what you
      could to do decrease bias. &nbsp;Popham discusses bias in</span>
    <span class="c8"><a class="c12" href=
        "http://ati.pearson.com/downloads/chapters/Popham_Bias_BK04.pdf">this
        article</a></span><span class="c0">. You should be specific here
      and if you can't think of a way to decrease bias, you need to say
      so.</span></p>

    <p class="c3 c5"></p>

    <p class="c1 c10"><span class="c6 c0">A. &nbsp;Selected-Response
      Items</span></p>

    <p class="c1 c10"><span class="c6 c0">B.
      &nbsp;Constructed-Response Items</span></p>

    <p class="c1 c10"><span class="c6 c0">C. &nbsp;Essay
      Items</span></p>

    <p class="c1"><span class="c6 c0">D. &nbsp;Performance
      Assessment</span></p>

    <p class="c1"><span class="c6 c0">E. &nbsp;Portfolio
      Assessment</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.absence_of_bias }}</div>


<div class="wiki-question">
  <h3>
    Big Ideas
  </h3>

  <div>
    <p class="c3"><span>Review the chapter, assignment, and your
      peers’ wikifolios. Also, read the</span><span class=
      "c7">&nbsp;Chapter Summary</span> <span>and</span> <span class=
      "c7">What Teachers Need to Know. &nbsp;</span><span class=
      "c6">Come up with three big ideas about reliability and
      bias</span><span>. Number the ideas (1, 2, 3) and list them in
      order of importance to you, keeping in mind your role and
      context. Write a brief summary/explanation of each idea where you
      make it clear why they are relevant to you. These are the BIG
      ideas of the chapters not the more specific concepts listed
      above. You should refer to the</span> <span class="c7">What
      Teachers Need to Know….</span> <span>section and the summary at
      the end of the chapter.</span> <span class="c0">Try to insert
      your experience and academic domain into this
      discussion.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.big_ideas }}</div>


<div class="wiki-question">
  <h3>
    Locate an External
    Resource
  </h3>

  <div>
    <p class="c3"><span class="c0">Reliability and (particularly)
      bias are very broad topics that we can’t possibly cover in a
      chapter. &nbsp;In particular, one textbook can’t possibly address
      these complex issues from the perspective of your various roles,
      domains, and items. &nbsp;Use Google to locate videos, articles
      or other relevant resources on reliability and bias, or use
      Google Scholar to locate relevant scholarly papers.
      &nbsp;Experiment with different search terms. &nbsp;</span></p>

    <p class="c3 c5"></p>

    <p class="c3"><span class="c0">Copy and paste the URL (Uniform
      Resource Locator, from the browser location bar) into your
      wikifolio by clicking on the link button above the edit window
      (middle icon in top row) and pasting the URL into the window.
      &nbsp;Write a few sentences about your resources and how it is
      helpful. &nbsp;</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.external_resource }}</div>

<h2>OPTIONAL ELEMENTS (MOST BY
  OCTOBER 13)</h2>

<div class="wiki-question">
  <h3>
    Self-Check
  </h3>

  <div>
    <p class="c3"><span>Take the self-check at the end of the
      chapter.</span> <span class="c6">&nbsp;</span><span>Answer all
      four questions without looking up the answers. If you can't
      answer the items you should go back over that section.</span>
    <span class="c6">Say a few words about the ones you got wrong and
      why.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.self_check }}</div>


<div class="wiki-question">
  <h3>
    Pondertime
  </h3>

  <div>
    <p class="c3"><span>Ponder the Pondertime questions. &nbsp;Do so
      in light of your role and aspirations and identify the question
      that is most relevant to you. &nbsp;</span><span class="c6">Write
      a response to the most relevant question that includes an
      explanation of why it is most relevant to you.
      &nbsp;</span><span>In particular consider how your role and
      domain impacted the relevance of the questions for
      you.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.pondertime }}</div>


<div class="wiki-question">
  <h3>
    Reflection (BY OCTOBER
    20)
  </h3>

  <div>

    <p class="c3"><span>Post three brief reflections. You should
      write a coherent reflection that demonstrates understanding of
      the concepts and how they related to your curricular aims and
      context. On your Wikifolio, be sure to label each of the three
      types of engagement as you present your reflection.</span></p>

    <p class="c3 c5"></p>

    <p class="c3 c9"><span class="c6">A. Consequential
      Engagement.</span> <span>What might you do differently after
      reading about this week’s topic and completing this
      assignment?</span></p>

    <p class="c9 c3"><span class="c6">B. Critical Engagement.</span>
    <span class="c2">How well-suited was your role and curricular aim
      to learning this week’s concepts and big ideas? &nbsp;Did one of
      your classmates have a better context for learning some of these
      concepts? &nbsp;Note that</span> <span class="c6 c2">you are NOT
      being asked to critique how well you did</span><span class="c2">.
      &nbsp;Rather you are reflecting on the fit between your aim and
      role and the concepts we learned this week.</span></p>

    <p class="c9 c3"><span class="c6">C. Collaborative
      Engagement.</span> <span>Whose comments and examples were
      particularly helpful for your completing this assignment?
      &nbsp;</span><span class="c6">Be specific and name people and
      what they contributed that was helpful.</span></p>

    <p class="c3 c5"></p>

    <p class="c3"><span>You are advised to begin drafting the
      reflections while you are working on the Wikifolio, and then to
      complete them before starting the next assignment. &nbsp;They
      should serve as a review and help you better connect the ideas of
      the chapter to your practice.</span></p>

  </div>
</div>
<div class="wiki-user-content">{{ fields.reflection }}</div>

<!-- fix this from here out -->
<h2>Interaction</h2>
<div class="wiki-question">
  <h3>
    Endorse (by OCTOBER
    17)
  </h3>

  <div>
    <p class="c3"><span class="c2">While you are commenting, you
      should</span><span class="c6 c2">&nbsp;endorse at least three of
      your classmates’ Wikifolios for being complete</span><span class=
      "c2">. If your classmate has completed the required Context and
      Concepts elements of the assignment, click the box that
      says</span> <span class="c7 c2">Required Elements Completed.
      &nbsp;</span><span class="c2">If your classmate has completed all
      of the optional elements (except for the reflection) click</span>
    <span class="c7 c2">All Elements Completed. &nbsp;</span></p>

    <p class="c3 c5"></p>

    <p class="c3"><span class="c2">Your own Wikifolios needs to be
      endorsed by at least one classmate to count towards course
      completion. If you completed your wikifolio and it was not
      endorsed by a classmate, email
      boocteachingassistant@gmail.com.</span></p>

  </div>
</div>



<div class="wiki-question">
  <h3>
    Promote (by OCTOBER
    17)
  </h3>

  <div>
    <p class="c3"><span class="c2">As part of reviewing and
      discussing, promote one (and only one) of your classmates’
      Wikifolios as being exemplary</span> <span class="c6 c2">from
      your perspective. &nbsp;</span><span class="c2">Your reference
      group is whatever set you choose to review. &nbsp;Ideally you
      should promote the one wikifolio that is exemplary out of your
      networking group.</span><span class=
      "c6 c2">&nbsp;</span><span class="c2">Click the box that
      indicates you wish to mark it as exemplary and</span>
    <span class="c6 c2">indicate what was exemplary about it that
      helped you understand the chapter concepts.</span></p>

    <p class="c3 c5"></p>

    <p class="c3"><span class="c2">This does not have to mean it was
      that best or even most complete. &nbsp;But rather it was an
      exemplary consideration of the chapter concepts in a way that
      helped you better understand them. A “leader” badge will be
      issued for each of the the three sections for the member of each
      networking group whose Wikifolio gets the most
      promotions.</span></p>
  </div>
</div>



<div class="wiki-question">
  <h3>
    Post Questions (by OCTOBER
    13)
  </h3>

  <div>
    <p class="c3"><span class="c6 c2">Post at least one question as a
      comment</span><span class="c2">&nbsp;to your classmates and the
      instructor that this assignment raised for you, given your role
      and setting. &nbsp;Try to not ask “known answer” yes/no
      questions. &nbsp;Rather ask questions that can get some
      discussion started.</span></p>
  </div>
</div>



<div class="wiki-question">
  <h3>
    Discuss (OCTOBER
    13-17)
  </h3>

  <div>
    <p class="c3"><span class="c2">Review the wikifolios of your
      groupmates and find ones that look interesting to you.
      &nbsp;Engage in discussion with them by posting questions or
      responding to their questions. &nbsp;</span><span class=
      "c6 c2">Be sure to put responses in the box for responses.
      &nbsp;If there are multiple responses make it clear which
      response you are responding to.</span> <span class="c2">The goal
      here is to generate discussion threads that consider how the
      chapter concepts and considerations take on different meanings
      for different students.</span></p>

  </div>
</div>



<script>
  $(document).ready(function() {
    var icons = {
      header: "ui-icon-circle-triangle-e",
      activeHeader: "ui-icon-circle-triangle-s"
    };
    // TODO: maybe collapse by default if we're not editing???
    $('.wiki-info-collapsible').accordion({
      collapsible: true,
      //active: 0,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
    $('.wiki-question').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content',
      icons: icons,
    });
  });
</script>
{% endblock %}
