{% extends 'wf_page.html' %}
{% block wiki_content %}
<style type="text/css">
  ol{margin:0;padding:0}
  .c2{padding-left:0pt;line-height:1.177685867656361;direction:ltr;margin-left:36pt;padding-bottom:12pt}
  .c5{padding-left:0pt;margin-left:36pt}
  .c15{max-width:468pt;padding:72pt 72pt 72pt 72pt}
  .c16{color:#1155cc;text-decoration:underline}
  .c12{line-height:1.177685867656361;padding-bottom:12pt}
  .c14{color:inherit;text-decoration:inherit}
  .c1{height:11pt;direction:ltr}
  .c8{margin:0;padding:0}
  .c7{text-align:center}
  .c13{padding-bottom:12pt}
  .c3{direction:ltr}
  .c0{font-weight:bold}
  .c10{margin-left:30pt}
  .c6{font-style:italic}
  .c9{margin-left:36pt}
  .c11{color:#222222}

</style>
<h2>Context</h2>

<div class="wiki-question">
  <h3>Role</h3>
  <p class="c3"><span class="c0">Define your ROLE.</span>
  <span>Describe your current or future role (for instance,
    Educator, Administrator, Researcher). You will use this role as
    your lens to the material we cover in this course. It is
    important that you carefully examine all of the material from the
    viewpoint of your chosen role - the role you choose (current or
    future) will greatly impact how you view the material in this
    course. When you explain your role, be sure to state how you
    imagine the role will influence your understanding of Educational
    Assessment.</span></p>
</div>
<div class="wiki-user-content">{{ fields.role }}</div>

<p class="c1"></p>

<div class="wiki-question">
  <h3>Setting</h3>
  <p class="c3"><span class="c0"></span> <span class="c0">Define
    your SETTING.</span> <span>Describe the setting in which you plan
    to take the above role. Consider grade level(s), class size,
    institution, institution size, governmental/non-profit/
    for-profit, etc. Provide enough information so that everyone can
    understand your setting. You may choose to include a link, or you
    can describe your setting abstractly (that is, you may
    keep</span> <span>your actual setting unknown).</span></p>
</div>
<div class="wiki-user-content">{{ fields.setting }}</div>

<p class="c1"></p>

<div class="wiki-question">
  <h3>Curricular Aim</h3>
  <p class="c3 c13"><span class="c0">Refine your</span>
  <span class="c0">C</span><span class="c0">URRICULAR AIM.</span>
  <span>Read about curricular aims and what-to-assess
    considerations in Chapter 2. &nbsp;</span><span>Popham describes
    the “curricular aim” as the desired outcomes of instruction. This
    is not the “educational objectives,” “instructional objectives,”
    and “behavioral objectives,” but rather the measurable learning
    goals. In very simple terms, a Curricular Aim can be viewed
    as</span> <span class="c4">a skill or &nbsp;a body of knowledge
    that teachers plan for their students to acquire. &nbsp;You
    should definitely not provide a lesson or a project as your
    curricular aim and you should probably not use an affective
    outcome as your curricular aim.</span> <span>You should define
    what Popham describes as a “broad scope” curricular aim.</span>
  <span class="c4">&nbsp;</span><span>(see Curricular Aim
    FAQs)</span></p>
</div>
<div class="wiki-user-content">{{ fields.curricular_aim }}</div>

<div class="wiki-question">
  <h3>Instructional Context</h3>
  <p class="c13 c3"><span class="c0">Define your
    INSTRUCTIONAL CONTEXT.</span> <span>Provide some context for your
    curricular aim by describing a lesson or project that you might
    assign to accomplish your curricular aim.</span></p>
</div>
<div class="wiki-user-content">{{ fields.instructional_context }}</div>

<h2>Concepts</h2>

<div class="wiki-question">
  <h3>Relevent Educational Standard</h3>
  <div>
    <p class="c3"><span class="c0">Locate a RELEVANT
      EDUCATIONAL STANDARD.</span> <span>Locate a relevant set of
      educational standards and identify the standard that is most
      relevant to your Curricular Aim. If you are a K-12 teacher this
      should be pretty straightforward. If not you will have to be
      creative. &nbsp;If you are a US K-12 Teacher you should almost
      certainly use the new Common Core or the Next Generation Science
      standards. &nbsp;If your state is transitioning, you should
      consider both existing state standard AND a common core
      standard.</span> <span class="c0">But there are standards out
      there for almost everything and you should be familiar with them
      if there are. &nbsp;You may have to use Google and dig
      around</span><span>.</span></p>

    <p class="c1"></p>

    <p class="c3"><span>After you locate a standard, copy and paste
      the actual standard into your Wikifolio page. Then, add a link to
      the standard and say a few things about it. Try to explain the
      scope and grain size</span> <span>(e.g., “one of ten standards
      that make up....”). &nbsp;Be sure to mention whether the standard
      is a</span> <span class="c6">content standard</span> <span>or
      a</span> <span class="c6">performance standard</span> <span>(see
      Popham, Chapter 2.</span> <span class="c16"><a class="c14" 
        target="_blank" href=
        "https://k12teacherstaffdevelopment.com/tlb/what-is-the-difference-between-content-standards-and-performance-standards/">
        This webpage</a></span><span>&nbsp;will also provide a simple
      distinction between the two)</span><span class="c6">.</span>
    <span class="c6">&nbsp;</span><span>If you are a US math or
      language arts teacher, read about the common core standards and
      say a few things about your standard.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.educational_standards }}</div>

<p class="c1"></p>

<div class="wiki-question">
  <h3>What-To-Assess Considerations</h3>
  <div>
    <p class="c3"><span class="c0">Apply WHAT-TO-ASSESS
      CONSIDERATIONS. &nbsp;</span><span>Chapter Two details things
      that you should consider when deciding what to assess.
      &nbsp;Review the following concepts and then list them in order
      of most relevant to least relevant, given your role and
      setting.</span></p>

    <p class="c1"></p>

    <ul class="c8 lst-kix_voomjzas6p7f-0 start">
      <li class="c5 c3"><span class="c0">Curricular Aims developed by
        you, for your class</span></li>

      <li class="c5 c3"><span class="c0">Content Standards mandated
        by the state</span></li>

      <li class="c5 c3"><span class="c0">Content Standards suggested
        by national subject-matter organizations</span></li>

      <li class="c3 c5"><span class="c0">NAEP assessment
        frameworks</span></li>

      <li class="c5 c3"><span class="c0">Advice from
        colleagues</span></li>
    </ul>

    <p class="c1"></p>

    <p class="c3"><span class="c0">Add brief
      justifications</span><span>&nbsp;for the What-to-Assess
      Consideration that you chose as</span> <span class=
      "c0">most</span><span>&nbsp;</span><span>relevant and the one you
      chose as</span> <span class="c0">least</span>
    <span>relevant,</span> <span>keeping in mind your role and
      context.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.what_to_assess }}</div>

<p class="c1"></p>

<div class="wiki-question">
  <h2>Big Ideas</h2>

  <p class="c3"><span class="c0">Describe the three most
    relevant</span><span>&nbsp;</span><span class="c0">BIG IDEAS
    about deciding what to assess</span><span>. Number the ideas (1,
    2, 3) and list them in order of importance to you, keeping in
    mind your role and context. Write a brief summary/explanation of
    each idea where you make it clear why they are relevant to you.
    These are the BIG ideas of the chapter not the more specific
    concepts listed above. You</span>
  <span>should</span><span>&nbsp;refer to the</span> <span class=
    "c6">What Teacher Need to Know….</span> <span>section and the
    summary at the end of Chapter 2.</span> <span class="c11">Try to
    insert your experience and academic domain into this
    discussion.</span></p>
</div>
<div class="wiki-user-content">{{ fields.big_ideas }}</div>

<p class="c1"></p>

<div class="wiki-question">
  <h2>Self-Check
    (Optional)</h2>

  <p class="c3"><span class="c0">Take the SELF-CHECK.
    &nbsp;</span><span>Answer questions 1-6</span> <span>without
    looking up the answers. If you can't answer the items you should
    go back over that section.</span> <span class="c0">Add an an
    entry in your wikifolio saying which ones you got wrong and
    why.</span><span>.</span></p>
</div>
<div class="wiki-user-content">{{ fields.self_check }}</div>

<p class="c1"></p>

<div class="wiki-question">
  <h2>Pondertime
    (Optional)</h2>

  <p class="c3"><span class=
    "c0"></span><span>&nbsp;</span><span class="c0">Ponder</span>
  <span class="c0">the PONDERTIME questions</span><span>. &nbsp;Do
    so in light of your role and and aspirations and identify the
    question that is most relevant to you. &nbsp;</span><span class=
    "c0">Add an entry for the most relevant question and state the
    question and explain why it is most relevant.</span></p>
</div>
<div class="wiki-user-content">{{ fields.pondertime }}</div>

<div class="wiki-question">
  <h2>Reflection
    (Optional)</h2>

  <div><p class="c3"><span class="c0">Reflect on your engagement
      (within one week of the original deadline). &nbsp;</span><span>In
      order to receive credit for this wikifolio, you must post three
      brief reflections at the bottom of the wikifolio. &nbsp;You must
      have a coherent reflection that demonstrate understanding of the
      concepts and how they related to your curricular aims and
      context.</span></p>

    <p class="c1"></p>

    <p class="c3 c10"><span class="c0">A. CONSEQUENTIAL
      ENGAGEMENT.</span> <span>What might you do differently
      after</span> <span>reading about this week’s topic</span>
    <span>and completing this assignment? (see</span> <span class=
      "c6">Consequences</span> <span>FAQ)</span></p>

    <p class="c3 c10"><span class="c0">B. CRITICAL ENGAGEMENT.</span>
    <span class="c4">How well-suited was your role and curricular aim
      to learning</span> <span class="c4">this week’s concepts and big
      ideas</span><span class="c4">? &nbsp;Did one of your classmates
      have a better context for learning some of these concepts?
      &nbsp;Note that</span> <span class="c4 c0">you are NOT being
      asked to critique how well you did</span><span class="c4">.
      &nbsp;Rather you are reflecting on the fit between your aim and
      role and the concepts we learned this week. (see</span>
    <span class="c4 c6">Critiques</span> <span class=
      "c4">FAQ)</span></p>

    <p class="c3 c10"><span class="c0">C. COLLABORATIVE
      ENGAGEMENT.</span> <span>Whose comments and examples were
      particularly helpful for your completing this assignment?
      &nbsp;</span><span class="c0">Be specific and name people and
      what they contributed that was helpful.</span></p>

    <p class="c1"></p>

    <p class="c3"><span>You are advised to begin drafting the
      reflections while you are working on the wikifolio, and then to
      complete them before starting the next assignment. &nbsp;They
      should serve as a review and help you better connect the ideas of
      the chapter to your practice.</span></p>
  </div>
</div>
<div class="wiki-user-content">{{ fields.reflection }}</div>

<script>
  $(document).ready(function() {
    $('.wiki-question').accordion({ collapsible: true, active: false, heightStyle: 'content' });
  });
</script>
{% endblock %}
