{% extends 'base.html' %}
{% block subtitle %}
	{{ forum.title_or_url }}
{% endblock %}

{% block main_content %}
<link href="/forum/static/new.css" rel="stylesheet" type="text/css">
<script language="javascript" src="/forum/static/default.js" type="text/javascript"></script>
<div class="gcb-aux">
  <div class="gcb-aside">
<table>
<tbody>
<tr>
	<td colspan="2" class="header">
		<div>
			<h1><a href="{{ siteroot }}" class="green">{{ forum.title_or_url }}</a></h1>
			<p>{{ forum.tagline }}</p>
		</div>
	</td>
</tr>
<tr>
  <td class="sidebar">
    <ul class="forum-list">
      {% for f in forums %}
      <li> <a href="/forum/{{ f.url }}"> {{ f.title_or_url }}</a></li>
      {% endfor %}
    </ul>
    {{ forum.sidebar|safe }}
	</td>
	<td class="contents">
	<div class="form">
    <form action="{{ siteroot }}post" method="post">
		<input name="num1" value="{{ num1 }}" type="hidden">
		<input name="num2" value="{{ num2 }}" type="hidden">

		{% if prevTopicId %} 
			<input name="TopicId" value="{{ prevTopicId }}" type="hidden">
			<h2>Reply to "{{ prevSubject|escape }}"</h2>
		{% else %}
			<h2>New topic</h2>
		{% endif %}

		<table class="form" cellspacing="0">
			<tbody>
			<tr>
			</tr>
			{% if not prevTopicId %} 
			<tr>
				<th><label for="Subject">Subject:</label></th>
				<td colspan="2">
					<input class="{{ subject_class }}" size="60" maxlength="64" name="Subject" id="Subject" style="width: 39em;" value="{{ prevSubject|escape }}" type="edit">
					&nbsp;
				</td>
			</tr>
			{% endif %}

			<tr>
				<th><label for="Message">Message:</label></th>
				<td colspan="2">
					<textarea class="{{ message_class }}" name="Message" id="Message" style="width: 39em;" rows="16" cols="60" wrap="virtual">{{ prevMessage|escape }}</textarea>
					<div style="width: 300px;">Don't use HTML. Surround URLs with spaces.</div>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="buttons" colspan="2">
					<input accesskey="o" name="Ok" value="Ok" type="submit">
					<input accesskey="c" name="Cancel" value="Cancel" type="submit">
				</td>
			</tr>
      <tr>
        <td> </td>
        <td>New posts may take a few seconds to show up on the index.  <span style="color: darkred;">Don't panic!</span></td>
			</tbody>
		</table>

		</form>
	</div>

	</td>
</tr>
</tbody>
</table>
</div>
</div>
{% endblock main_content %}
{% block footer_list_items %}
<li>Forum by <a href="http://blog.kowalczyk.info/software/fofou">fofou</a></li>
{% endblock %}

