body {
  background-image: -moz-linear-gradient(top, #ffaaaa, #aaffaa, #aaaaff, #ccaacc);
  background-image: -webkit-linear-gradient(top, #ffaaaa, #aaffaa, #aaaaff, #ccaacc);
  background-image: linear-gradient(top, #ffaaaa, #aaffaa, #aaaaff, #ccaacc); }

table {
  border-collapse: collapse; }

td, th {
  padding: 1em; }

div#navbar {
  background: #ffa;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px; }
  div#navbar a, div#navbar a.visited {
    color: black;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 125%; }

textarea {
  width: 30em;
  height: 10em; }

input[type="text"] {
  width: 30em; }
